<script type="text/javascript">
// <![CDATA[
	$(document).ready(function()
	{
		<!-- IF S_ENHANCED_EDITOR -->
			// Make elastic textareas elastic
			$('.elastic').elastic();

			// Make textareas tabby
			$('textarea').tabby();
		<!-- ENDIF -->
	}
// ]]>
</script>

<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_POST_A}</h3>

	<!-- INCLUDE posting/posting_basic_editor.html -->

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
		<input type="hidden" id="open_panel" name="open_panel" value="{POSTING_PANELS_DEFAULT}" />
		<input type="submit" tabindex="3" name="preview" value="{L_PREVIEW}" class="button1" />&nbsp;
		<input type="submit" tabindex="4" accesskey="s" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div id="tabs">
	<ul>
		<!-- BEGIN panels -->
			<li id="{panels.NAME}-tab" class="activetab"><a href="#tabs" onclick="subPanels('{panels.NAME}'); return false;"><span>{panels.TITLE}</span></a></li>
		<!-- END panels -->
	</ul>
</div>

<!-- BEGIN panels -->
	{panels.OUTPUT}
<!-- END panels -->

<script type="text/javascript">
// <![CDATA[
	subPanels(show_panel);
// ]]>
</script>