
<h3 id="review">
	<span class="right-box"><a href="#review" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'};">{L_EXPAND_VIEW}</a></span>
	{L_TOPIC_REVIEW}: {TOPIC_TITLE}
</h3>

<div id="topicreview">
	<!-- BEGIN posts -->

	<!-- IF posts.S_IGNORE_POST -->
	<div class="post bg3 post-ignore">
		<div class="inner"><span class="corners-top"><span></span></span>
			{posts.L_IGNORE_POST}
	<!-- ELSE -->
	<div class="post <!-- IF posts.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
	<!-- ENDIF -->

		<div class="postbody" id="pr{posts.POST_ID}">
			<!-- IF posts.POST_TEXT_DECODED -->
			<ul class="profile-icons">
				<li class="quote-icon"><a href="#postingbox" onclick="addquote({posts.POST_ID}, '{posts.USERNAME}');" title="{L_QUOTE} {posts.USERNAME}"><span>{L_QUOTE} {posts.USERNAME}</span></a></li>
			</ul>
			<!-- ENDIF -->
			<!-- IF posts.U_MCP_DETAILS --><div class="right-box"><a href="{posts.U_MCP_DETAILS}">{L_POST_DETAILS}</a></div><!-- ENDIF -->
			<h3><a href="#pr{posts.POST_ID}">{posts.POST_SUBJECT}</a></h3>
			<p class="author"><!-- IF S_IS_BOT -->{posts.MINI_POST_IMG}<!-- ELSE --><a href="{posts.U_MINI_POST}">{posts.MINI_POST_IMG}</a><!-- ENDIF --> {L_POST_BY_AUTHOR} <strong>{posts.USER_FULL}</strong> &raquo; {posts.POST_TIME}  </p>
			<div class="content">{posts.POST_TEXT}</div>

			<!-- IF .posts.attachment -->
				<dl class="attachbox">
					<dt>{L_ATTACHMENTS}</dt>
					<!-- BEGIN attachment -->
						<dd>{posts.attachment.DISPLAY_ATTACHMENT}</dd>
					<!-- END attachment -->
				</dl>
			<!-- ENDIF -->

			<!-- IF posts.POST_TEXT_DECODED -->
				<div id="message_{posts.POST_ID}" style="display: none;">{posts.POST_TEXT_DECODED}</div>
			<!-- ENDIF -->
		</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- END posts -->
</div>

<hr />

<!-- IF S_MCP_REPORT -->
	<p><a href="#report" class="top2">{L_BACK_TO_TOP}</a></p>
<!-- ELSE -->
	<p><a href="#postingbox" class="top2">{L_BACK_TO_TOP}</a></p>
<!-- ENDIF -->