<div class="post bg2" id="preview">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="postbody">
		<h3>{L_PREVIEW}: <!-- IF PREVIEW_SUBJECT -->{PREVIEW_SUBJECT}<!-- ELSE -->{PAGE_TITLE}<!-- ENDIF --></h3>

		<div class="content">{PREVIEW_MESSAGE}</div>

		<!-- IF .preview_attachment -->
			<dl class="attachbox">
				<dt>{L_ATTACHMENTS}</dt>
				<!-- BEGIN preview_attachment -->
					<dd>{preview_attachment.DISPLAY_ATTACHMENT}</dd>
				<!-- END preview_attachment -->
			</dl>
		<!-- ENDIF -->

		<!-- IF PREVIEW_SIGNATURE --><div class="signature">{PREVIEW_SIGNATURE}</div><!-- ENDIF -->
	</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<hr />
