<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_POST_A}</h3>

	<!-- INCLUDE posting/posting_basic_editor.html -->

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
		<input type="submit" name="preview" value="{L_PREVIEW}" class="button1" />&nbsp;
		<input type="submit" accesskey="s" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div id="tabs">
	<ul>
		<!-- BEGIN panels -->
			<li id="{panels.NAME}-tab" class="activetab"><a href="#tabs" onclick="subPanels('{panels.NAME}'); return false;"><span>{panels.TITLE}</span></a></li>
		<!-- END panels -->
	</ul>
</div>

<!-- BEGIN panels -->
	{panels.OUTPUT}
<!-- END panels -->

<script type="text/javascript">
// <![CDATA[
	subPanels(show_panel);
// ]]>
</script>