<fieldset class="fields1">
	<!-- IF ERROR and S_DISPLAY_ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->

	<!-- IF S_DISPLAY_SUBJECT -->
	<dl style="clear: left;">
		<dt><label for="{POSTING_SUBJECT_NAME}">{L_SUBJECT}:</label></dt>
		<dd><input type="text" name="{POSTING_SUBJECT_NAME}" id="{POSTING_SUBJECT_NAME}" size="45" maxlength="60" tabindex="1" value="{SUBJECT}" class="inputbox autowidth" /></dd>
	</dl>
	<!-- ENDIF -->

	<!-- IF CAPTCHA -->
		{CAPTCHA}
	<!-- ENDIF -->

	<!-- INCLUDE posting/posting_buttons.html -->

	<div id="smiley-box">
		<!-- IF S_SMILIES_ALLOWED and .smiley -->
			<strong>{L_SMILIES}</strong><br />
			<!-- BEGIN smiley -->
				<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
			<!-- END smiley -->
		<!-- ENDIF -->
		<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
			<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
		<!-- ENDIF -->

		<!-- IF BBCODE_STATUS -->
		<!-- IF .smiley --><hr /><!-- ENDIF -->
		{BBCODE_STATUS}<br />
		<!-- IF S_BBCODE_ALLOWED -->
			{IMG_STATUS}<br />
			{FLASH_STATUS}<br />
			{URL_STATUS}<br />
			{SMILIES_STATUS}
		<!-- ENDIF -->
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_REVIEW -->
			<!-- IF S_DISPLAY_REVIEW --><hr /><!-- ENDIF -->
			<!-- IF S_DISPLAY_REVIEW --><strong><a href="#review">{L_TOPIC_REVIEW}</a></strong><!-- ENDIF -->
		<!-- ENDIF -->
	</div>

	<div id="message-box">
		<textarea name="{POSTING_TEXT_NAME}" id="{POSTING_TEXT_NAME}" rows="15" cols="76" tabindex="2" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{POSTING_TEXT}</textarea>
	</div>
</fieldset>