<form method="post" action="{U_QR_ACTION}">
	<label for="subject">{L_SUBJECT}:</label><input type="text" class="inputbox autowidth" value="{SUBJECT}" tabindex="1" maxlength="60" size="45" id="subject" name="subject"><br /><br />
	<textarea style="height: 9em;" name="message" class="inputbox quickedit content elastic">{MESSAGE}</textarea>
	<fieldset class="submit-buttons">
		{S_FORM_TOKEN}
		{QR_HIDDEN_FIELDS}
		<input type="submit" id="cancel" name="cancel" value="{L_CANCEL}" class="button2" />&nbsp;
		<input type="submit" accesskey="s" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
		<input type="submit" accesskey="f" name="full_editor" value="{L_FULL_EDITOR}" class="button2" />&nbsp;
	</fieldset>
</form>