<form method="post" action="{U_QR_ACTION}">
	<div class="panel" id="qr_ns_editor_div">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="content">
				<h2>{L_QUICKREPLY}</h2>
				<fieldset class="fields1">
					<dl style="clear: left;">
						<dt><label for="subject-ns">{L_SUBJECT}:</label></dt>
						<dd><input type="text" name="subject" id="subject-ns" size="45" maxlength="64" value="{SUBJECT}" class="inputbox autowidth" /></dd>
					</dl>
				<div>
					<textarea style="height: 9em;" name="message" class="inputbox elastic"></textarea>
				</div>
				</fieldset>
				<fieldset class="submit-buttons">
					{S_FORM_TOKEN}
					{QR_HIDDEN_FIELDS}
					<input type="submit" accesskey="s" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
					<input type="submit" accesskey="f" name="full_editor" value="{L_FULL_EDITOR}" class="button2" />&nbsp;
				</fieldset>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
</form>