<!-- INCLUDE common/overall_header.html -->

<!-- IF U_DOWNLOAD and U_SUBSCRIBE and not IS_SUBSCRIBED and not QUEUE_STATUS -->
<div class="dialog hidden" id="subscription">
	<h3>{L_SUBSCRIBE}</h3>
	<br />
	<p>{L_SUBSCRIPTION_REQUEST}</p>
	<p class="dialog-options"><a href="#cancel" id="cancel" class="button2">{L_NO}</a> <a href="{U_SUBSCRIBE}" id="subscribe" class="button1">{L_SUBSCRIBE}</a></p>
	<hr class="dashed" />
	<span class="rightside"><a href="#cease" id="cease">{L_CEASE_REQUEST}</a></span>
</div>
<!-- ENDIF -->

<!-- IF CONTRIB_LIMITED_SUPPORT -->
<div class="rules">
	<div class="inner"><span class="corners-top"><span></span></span>
		{L_LIMITED_SUPPORT_WARN}
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF CONTRIB_NAME --><h2 class="panel-name">{CONTRIB_NAME}<!-- IF CONTRIB_LOCAL_NAME --> / {CONTRIB_LOCAL_NAME}<!-- ENDIF --><!-- IF S_CONTRIB_CLEANED --> <img src="{T_TITANIA_THEME_PATH}/images/icon_cleaned_contrib.gif" title="{L_CLEANED_CONTRIB}" alt="{L_CLEANED_CONTRIB}" /><!-- ENDIF --></h2><!-- ENDIF -->
<div class="tabs">
	<ul>
	<!-- BEGIN nav_menu -->
		<li<!-- IF nav_menu.S_SELECTED --> id="activetab"<!-- ENDIF -->><a href="{nav_menu.U_TITLE}"><span>{nav_menu.L_TITLE}</span></a></li>
	<!-- END nav_menu -->
	</ul>
</div>

<div class="main-panel">
	<div class="inner"><span class="corners-top"><span></span></span>
