<!-- INCLUDE contributions/contribution_header.html -->

<h3 class="section-name">{PAGE_TITLE}</h3>

<!-- IF NOTICE --><p class="error">{NOTICE}</p><!-- ENDIF -->
<!-- IF ERROR_MSG --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->

<form id="{POSTING_FORM_NAME}" method="post" action="{S_POST_ACTION}" onsubmit="titania_post_submit();" {S_FORM_ENCTYPE}>
	<div class="container">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>
			{REVISION_UPLOADER}
			<!-- IF S_NEW_REVISION_SUBMITTED -->
				{L_NEW_REVISION_SUBMITTED}
			<!-- ENDIF -->
			<!-- IF MPV_TEST_WARNING -->
				<br /><br />{L_MPV_TEST}
			<!-- ENDIF -->
			<!-- IF MPV_RESULTS -->
				<p class="error">{L_MPV_RESULTS}</p>
				<hr class="dashed" />
				{MPV_RESULTS}<!--<br />
				<br />
				<hr class="dashed" />
				<strong>{L_AUTOMOD_TEST}</strong>-->
			<!-- ENDIF -->

			<fieldset class="submit-buttons">
				<input type="submit" name="new_revision" value="{L_CONTINUE}" class="button1" />
				<input type="hidden" name="step" value="{NEXT_STEP}" />
				<input type="hidden" name="revision_id" value="{REVISION_ID}" />
				{S_FORM_TOKEN}
			</fieldset>
		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>
</form>


<!-- INCLUDE contributions/contribution_footer.html -->