<!-- INCLUDE contributions/contribution_header.html -->

<h3 class="section-name">{PAGE_TITLE}</h3>

<!-- IF NOTICE --><p class="error">{NOTICE}</p><!-- ENDIF -->
<!-- IF ERROR_MSG --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->

<form id="revision_edit" method="post" action="{S_POST_ACTION}" {S_FORM_ENCTYPE}>
	<div class="container">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>
			<fieldset>
				<dl>
					<dt><label for="revision_name">{L_REVISION_NAME}:</label></dt>
					<dd><input type="text" name="revision_name" size="45" maxlength="60" value="{REVISION_NAME}" class="inputbox autowidth" /></dd>
				</dl>
				<!-- IF S_IS_MODERATOR -->
				<dl>
					<dt><label for="revision_phpbb_versions">{L_PHPBB_VERSION}:</label></dt>
					<dd><select name="revision_phpbb_versions[]" multiple="multiple" size="10">
						<!-- BEGIN phpbb_versions -->
							<option value="{phpbb_versions.VERSION}"<!-- IF phpbb_versions.S_SELECTED --> selected="selected"<!-- ENDIF -->>{phpbb_versions.VERSION}</option>
						<!-- END phpbb_versions -->
					</select></dd>
				</dl>
				<dl>
					<dt><label for="revision_status">{L_REVISION_STATUS}:</label><br /><span>{L_REVISION_STATUS_EXPLAIN}</span></dt>
					<dd>
						<select name="revision_status" id="revision_status">
							<!-- BEGIN status_select -->
								<option value="{status_select.VALUE}"<!-- IF status_select.S_SELECTED --> selected="selected"<!-- ENDIF -->>{status_select.NAME}</option>
							<!-- END status_select -->
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label for="delete">{L_DELETE_REVISION}:</label><br /><span>{L_DELETE_REVISION_EXPLAIN}</span></dt>
					<dd>
						<input type="checkbox" name="delete" id="delete" />
					</dd>
				</dl>
				<!-- ENDIF -->

				<!-- IF .license_options -->
				<dl>
					<dt><label for="revision_license">{L_LICENSE}:</label><br /><span>{L_LICENSE_EXPLAIN}</span></dt>
					<dd>
						<select id="revision_license" name="revision_license">
							<option value="">{L_SELECT}</option>
							<!-- BEGIN license_options -->
								<option value="{license_options.VALUE}"<!-- IF license_options.VALUE == REVISION_LICENSE --> selected="selected"<!-- ENDIF -->>{license_options.NAME}</option>
							<!-- END license_options -->
							<!-- IF S_ALLOW_CUSTOM_LICENSE --><option value="{L_CUSTOM_LICENSE}"<!-- IF S_CUSTOM_LICENSE --> selected="selected"<!-- ENDIF -->>{L_CUSTOM_LICENSE}</option><!-- ENDIF -->
						</select>
						<!-- IF S_ALLOW_CUSTOM_LICENSE --><input type="text" id="revision_custom_license" name="revision_custom_license" size="25" maxlength="60" value="{REVISION_CUSTOM_LICENSE}" class="inputbox autowidth" /><!-- ENDIF -->
					</dd>
				</dl>
				</fieldset>

				<!-- IF S_ALLOW_CUSTOM_LICENSE -->
				<script type="text/javascript">
					if ($('#revision_license').val() != '{L_CUSTOM_LICENSE}')
					{
						$('#revision_custom_license').hide();
					}

					$('#revision_license').change(function() {
						if ($(this).val() == '{L_CUSTOM_LICENSE}')
						{
							$('#revision_custom_license').show();
						}
						else
						{
							$('#revision_custom_license').hide();
						}
					});
				</script>
				<!-- ENDIF -->
				<!-- ENDIF -->

				<!-- IF TRANSLATION_UPLOADER -->
					<h3>{L_TRANSLATIONS}</h3>
					{TRANSLATION_UPLOADER}
				<!-- ENDIF -->
		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>
	<div class="container">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>
			<fieldset class="submit-buttons">
				<input type="submit" id="submit" name="submit" value="{L_SUBMIT}" class="button1"/>
				{S_FORM_TOKEN}
			</fieldset>
		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>
</form>


<!-- INCLUDE contributions/contribution_footer.html -->
