<!-- INCLUDE contributions/contribution_header.html -->

<h3 class="section-name">{PAGE_TITLE}</h3>

<!-- IF NOTICE --><p class="error">{NOTICE}</p><!-- ENDIF -->
<!-- IF ERROR_MSG --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->

<form id="{POSTING_FORM_NAME}" method="post" action="{S_POST_ACTION}" {S_FORM_ENCTYPE}>
	<div class="container">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>
			<!-- IF REVISION_UPLOADER -->
				{REVISION_UPLOADER}

				<!-- IF .phpbb_branches -->
				<fieldset class="fields2">
				<dl>
					<dt><label for="phpbb_branch">{L_PHPBB_BRANCH}:</label><br /><span>{L_PHPBB_BRANCH_EXPLAIN}</span></dt>
					<dd>
						<select id="phpbb_branch" name="phpbb_branch[]" multiple="multiple" size="3">
							<!-- BEGIN phpbb_branches -->
								<option value="{phpbb_branches.VALUE}">{phpbb_branches.NAME}</option>
							<!-- END phpbb_branches -->
						</select>
					</dd>
				</dl>
				</fieldset>
				<!-- ENDIF -->

				<!-- IF not S_REPACK and POSTING_TEXT_NAME -->
				<fieldset class="fields2">
				<dl>
					<dt><label for="queue_allow_repack">{L_QUEUE_ALLOW_REPACK}:</label><br /><span>{L_QUEUE_ALLOW_REPACK_EXPLAIN}</span></dt>
					<dd><input type="checkbox" id="queue_allow_repack" name="queue_allow_repack" value="1" checked="checked" /></dd>
				</dl>
				<dl>
					<dt><br /><label for="message">{L_QUEUE_NOTES}:</label><br /><span>{L_QUEUE_NOTES_EXPLAIN}</span></dt>
				</dl>
				</fieldset>
				<!-- ENDIF -->

				<!-- IF not S_REPACK and POSTING_TEXT_NAME -->
					<!-- INCLUDE posting/posting_basic_editor.html -->
				<!-- ENDIF -->
			<!-- ENDIF -->
			<!-- IF S_NEW_REVISION_SUBMITTED -->
				{L_NEW_REVISION_SUBMITTED}
			<!-- ENDIF -->
			<!-- IF MPV_TEST_WARNING -->
				<br /><br />{L_MPV_TEST}
			<!-- ENDIF -->
			<!-- IF MPV_RESULTS -->
				<p class="error">{L_MPV_RESULTS}</p>
				<hr class="dashed" />
				{MPV_RESULTS}
				<!-- IF S_AUTOMOD_TEST -->
					<br /><br />
					<hr class="dashed" />
					<strong>{L_AUTOMOD_TEST}</strong>
				<!-- ENDIF -->
			<!-- ENDIF -->
			<!-- IF AUTOMOD_RESULTS -->
				<p class="error">{L_AUTOMOD_RESULTS}</p>
				<hr class="dashed" />
				{AUTOMOD_RESULTS}
			<!-- ENDIF -->

			<fieldset class="submit-buttons">
				<input type="submit" id="new_revision" name="new_revision" value="{L_CONTINUE}" class="button1" onclick="$('#new_revision').addClass('disabled');"/>
				<input type="hidden" name="step" value="{NEXT_STEP}" />
				<input type="hidden" name="revision_id" value="{REVISION_ID}" />
				{S_FORM_TOKEN}
			</fieldset>
		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>
</form>


<!-- INCLUDE contributions/contribution_footer.html -->