<!-- INCLUDE overall_header.html -->

<div class="main-content">
	<div class="main-column">
		<div id="tabs">
			<ul>
			<!-- BEGIN nav_menu -->
				<li<!-- IF nav_menu.S_SELECTED --> id="activetab"<!-- ENDIF -->><a href="{nav_menu.U_TITLE}"><span>{nav_menu.L_TITLE}</span></a></li>
			<!-- END nav_menu -->
			</ul>
		</div>

		<div class="bluebg">
			<div class="inner">
				<span class="corners-top"><span></span></span>

					<div class="contrib-content">
						<div class="inner"><span class="corners-top blue"><span></span></span>