<!-- INCLUDE contributions/contribution_header.html -->

<h2 class="section-title">{PAGE_TITLE} :: {L_NEW_CONTRIBUTION}</h2>

<!-- IF ERROR_MSG --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->

<form action="{U_ACTION}" method="post">
	<fieldset>
		<dl style="clear: left;">
			<dt><label for="contrib_type">{L_CONTRIB_TYPE}:</label></dt>
			<dd>
				<select name="contrib_type" id="contrib_type">
					<!-- BEGIN type_select -->
					<option value="{type_select.VALUE}"<!-- IF type_select.S_IS_SELECTED --> selected="selected"<!-- ENDIF -->>{type_select.NAME}</option>
					<!-- END type_select -->
				</select>
			</dd>
		</dl>
		<dl style="clear: left;">
			<dt><label for="contrib_category">{L_CONTRIB_CATEGORY}:</label></dt>
			<dd>
				<select name="contrib_category[]" id="contrib_category" multiple="multiple" size="4">
					<!-- BEGIN category_select -->
					<option value="{category_select.VALUE}"<!-- IF category_select.S_IS_SELECTED --> selected="selected"<!-- ENDIF -->>{category_select.NAME}</option>
					<!-- END category_select -->
				</select>			
			</dd>
		</dl>
		<dl style="clear: left;">
			<dt><label for="name">{L_CONTRIB_NAME}:</label></dt>
			<dd><input type="text" name="name" id="name" size="45" maxlength="60" tabindex="1" value="{CONTRIB_NAME}" class="inputbox autowidth" /></dd>
		</dl>
		<dl style="clear: left;">
			<dt><label for="permalink">{L_CONTRIB_PERMALINK}:</label></dt>
			<dd><input type="text" name="permalink" id="permalink" size="45" maxlength="60" tabindex="1" value="{CONTRIB_PERMALINK}" class="inputbox autowidth" /></dd>
		</dl>		
		<dl style="clear: left;">
			<dt><label for="description">{L_CONTRIB_DESCRIPTION}:</label></dt>
			<dd><textarea name="description" id="description" class="inputbox" cols="40" rows="5">{CONTRIB_DESC}</textarea></dd>
		</dl>
	</fieldset>	
	
	<!-- INCLUDE uploadify.html -->

	<fieldset class="submit-buttons">
		<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>
</form>


<!-- INCLUDE contributions/contribution_footer.html -->