<!-- INCLUDE contributions/contribution_header.html -->

<h2 class="section-title">{PAGE_TITLE} :: {L_DETAILS}</h2>

<!-- IF U_CREATE_TOPIC --><p class="ui-button"><a href="{U_CREATE_TOPIC}" id="create-topic" class="ui-button ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plus"></span>{L_NEW_TOPIC}</a></p><!-- ENDIF -->

<!-- INCLUDE topic_list.html -->

<!-- IF U_CREATE_TOPIC --><p class="ui-button"><a href="{U_CREATE_TOPIC}" id="create-topic" class="ui-button ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plus"></span>{L_NEW_TOPIC}</a></p><!-- ENDIF -->

<!-- INCLUDE contributions/contribution_footer.html -->