<!-- INCLUDE contributions/contribution_header.html -->

<h2 class="section-title">{CONTRIB_NAME} :: {L_FAQ}</h2>

<!-- IF S_LIST -->
	<!-- IF U_CREATE_FAQ --><p class="ui-button"><a href="{U_CREATE_FAQ}" id="create-faq" class="ui-button ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plus"></span>{L_CREATE_FAQ}</a></p><!-- ENDIF -->

	<!-- IF .faqlist -->
		<div class="forumbg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{L_FAQ_LIST}</dt>
							<dd class="views">{L_VIEWS}</dd>
							<!-- IF faqlist.U_MOVE_UP or faqlist.U_MOVE_DOWN or faqlist.U_EDIT or faqlist.U_DELETE--><dd class="lastpost"><span></span></dd><!-- ENDIF -->
						</dl>
					</li>
				</ul>
				<ul class="topiclist topics">

				<!-- BEGIN faqlist -->
					<li class="row<!-- IF faqlist.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
						<dl class="icon" style="background-image: url({topics.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
							<dt title="{topics.TOPIC_FOLDER_IMG_ALT}"><a href="{faqlist.U_FAQ}" class="topictitle">{faqlist.SUBJECT}</a></dt>
							<dd class="views">{faqlist.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
							<dd class="lastpost"><span>
								<!-- IF faqlist.U_MOVE_UP -->
									<!-- IF faqlist.S_FIRST_ROW -->{ICON_MOVE_UP_DISABLED}&nbsp;<!-- ELSE --><a href="{faqlist.U_MOVE_UP}">{ICON_MOVE_UP}</a>&nbsp;<!-- ENDIF -->
								<!-- ENDIF -->
								<!-- IF faqlist.U_MOVE_DOWN -->
									<!-- IF faqlist.S_LAST_ROW -->{ICON_MOVE_DOWN_DISABLED}&nbsp;<!-- ELSE --><a href="{faqlist.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>&nbsp;<!-- ENDIF -->
								<!-- ENDIF -->
								<!-- IF faqlist.U_EDIT --><a href="{faqlist.U_EDIT}">{ICON_EDIT}</a><!-- ENDIF -->
								<!-- IF faqlist.U_DELETE -->&nbsp;<a href="{faqlist.U_DELETE}">{ICON_DELETE}</a><!-- ENDIF -->
							</span></dd>
						</dl>
					</li>
				<!-- END faqlist-->
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ELSE -->
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{L_NO_FAQ}</strong>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

	<!-- IF U_CREATE_FAQ --><p class="ui-button"><a href="{U_CREATE_FAQ}" id="create-faq" class="ui-button ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plus"></span>{L_CREATE_FAQ}</a></p><!-- ENDIF -->
<!-- ELSEIF S_DETAILS -->
	<div class="faq-item" id="f{S_ROW_COUNT}">
		{FAQ_SUBJECT}
	</div>

	<div class="faq-body">
		{FAQ_TEXT}
	</div>

	<p>{L_VIEWS}: {FAQ_VIEWS}</p>
<!-- ELSEIF S_EDIT -->
	<form id="{POSTING_FORM_NAME}" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>
		<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting/posting_preview.html --><!-- ENDIF -->

		<!-- INCLUDE posting/posting_editor.html -->
	</form>
<!-- ENDIF -->

<!-- INCLUDE contributions/contribution_footer.html -->