<!-- INCLUDE contributions/contribution_header.html -->
<script type="text/javascript" src="{TITANIA_ROOT_PATH}js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{TITANIA_ROOT_PATH}js/revisions.js"></script>

<h2 class="section-title">{CONTRIB_NAME} :: {L_REVISIONS}</h2>

<noscript>{L_JAVASCRIPT_REQUIRED}</noscript>

<div id="revision_holder"> <!-- Used for Javascript, keep this ID somewhere if changing style! -->
	<!-- INCLUDE contributions/contribution_revisions_list.html -->
</div>

<!-- IF CAN_MANAGE -->
<br />
<hr />

<div class="upload_container">
	<!-- INCLUDE uploadify.html -->
	
	<div id="noticebox" class="noticebox unsaved" style="display: none;">
		<div class="inner"><span class="corners-top"><span></span></span>
		<h3 id="noticebox_title">Notice</h3>
			<p id="noticebox_msg">You have unsaved changes, be sure to save them before you leave this page!</p>
		<span class="corners-bottom"><span></span></span></div>
	</div>


		<div class="upload_item">
			<div class="upload_summary" style="display: none;">
				<p class="upload_success">You're file has been uploaded successfully, you may now enter the information about the
				new revision below</p>
			</div>
			<form id="revision_submit" method="post" action="{U_SUBMIT_REVISION}" enctype="multipart/form-data">
				<div id="uploads" style="display:none;">
		
				</div>	
				{S_FORM_TOKEN}
			</form>
	</div>
</div>
<!-- ENDIF -->
<!-- INCLUDE contributions/contribution_footer.html -->