<!-- IF .revisions -->
	<div class="forumbg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<table cellspacing="1" class="table1">
				<thead>
					<tr>
						<th>{L_REVISION}</th>
						<th>{L_CREATED}</th>
						<th>{L_VALIDATED}</th>
						<th>{L_VALIDATED_DATE}</th>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN revisions -->
						<tr class="bg1">
							<td>#{revisions.REVISION_ID}</td>
							<td>{revisions.CREATED}</td>
							<td>{revisions.VALIDATED}</td>
							<td>{revisions.VALIDATED_DATE}</td>
						</tr>
					<!-- END revisions -->
				</tbody>
			</table>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ELSE -->		
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_REVISIONS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->