<!-- INCLUDE contributions/contribution_header.html -->

<h2 class="section-title"><!-- IF CONTRIB_NAME -->{CONTRIB_NAME} :: {PAGE_TITLE}<!-- ELSE -->{PAGE_TITLE}<!-- ENDIF --></h2>

<!-- IF ERROR_MSG --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->

<form id="{POSTING_FORM_NAME}" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>
	<fieldset>
		<dl style="clear: left;">
			<dt><label for="contrib_type">{L_CONTRIB_TYPE}:</label></dt>
			<dd>
				<select name="contrib_type" id="contrib_type">
					<!-- BEGIN type_select -->
					<option value="{type_select.VALUE}"<!-- IF type_select.S_IS_SELECTED --> selected="selected"<!-- ENDIF -->>{type_select.NAME}</option>
					<!-- END type_select -->
				</select>
			</dd>
		</dl>
		<dl style="clear: left;">
			<dt><label for="contrib_category">{L_CONTRIB_CATEGORY}:</label><br /><span>{L_MULTI_SELECT_EXPLAIN}</span></dt>
			<dd>
				<select name="contrib_category[]" id="contrib_category" multiple="multiple" size="5">
					<!-- BEGIN category_select -->
					<option value="{category_select.VALUE}"<!-- IF category_select.S_SELECTED --> selected="selected"<!-- ENDIF --><!-- IF category_select.S_DISABLED --> disabled="disabled"<!-- ENDIF -->>
						<!-- BEGIN level -->&nbsp; &nbsp;<!-- END level -->{category_select.NAME}
					</option>
					<!-- END category_select -->
				</select>
			</dd>
		</dl>
		<dl style="clear: left;">
			<dt><label for="name">{L_CONTRIB_NAME}:</label></dt>
			<dd><input type="text" name="{POSTING_SUBJECT_NAME}" id="{POSTING_SUBJECT_NAME}" size="45" maxlength="60" value="{CONTRIB_NAME}" class="inputbox autowidth" /></dd>
		</dl>
		<!-- IF S_CREATE -->
		<dl style="clear: left;">
			<dt><label for="permalink">{L_CONTRIB_PERMALINK}:</label></dt>
			<dd><input type="text" name="permalink" id="permalink" size="45" maxlength="60" tabindex="1" value="{CONTRIB_PERMALINK}" class="inputbox autowidth" /></dd>
		</dl>
		<!-- ENDIF -->
		<dl style="clear: left;">
			<dt><label for="{POSTING_TEXT_NAME}">{L_CONTRIB_DESCRIPTION}:</label></dt>
			<dd></dd>
		</dl>
	</fieldset>
	<!-- INCLUDE posting/posting_basic_editor.html -->
	<fieldset class="submit-buttons">
		<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>
</form>


<!-- INCLUDE contributions/contribution_footer.html -->