<!-- INCLUDE overall_header.html -->

<div class="main-content">
	<div class="main-column">
		<div id="tabs">
			<ul>
				<li<!-- IF S_MODE eq 'details' --> class="activetab"<!-- ENDIF -->><a href="{U_CONTRIB_DETAILS}"><span>{L_CONTRIB_DETAILS}</span></a></li>
				<li<!-- IF S_MODE eq 'support' --> class="activetab"<!-- ENDIF -->><a href="{U_CONTRIB_SUPPORT}"><span>{L_CONTRIB_SUPPORT}</span></a></li>
				<li<!-- IF S_MODE eq 'faq' --> class="activetab"<!-- ENDIF -->><a href="{U_CONTRIB_FAQ}"><span>{L_CONTRIB_FAQ}</span></a></li>
			</ul>
		</div>
		<div class="bluebg">
			<div class="inner">
				<span class="corners-top"><span></span></span>

					<div class="contrib-content">
						<div class="inner"><span class="corners-top blue"><span></span></span>