<div class="forumbg contributions-list">
<div class="inner"><span class="corners-top"><span></span></span>
<ul class="topiclist">
	<li class="header">
		<dl class="icon">
			<dt>{L_CONTRIBUTIONS_RECENT}</dt>
			<dd class="general phpbb-version">{L_PHPBB_VERSION}</dd>
			<dd class="general">{L_INFORMATION}</dd>
		</dl>
	</li>
</ul>
<ul class="topiclist topics">

<!-- BEGIN recent -->
	<li class="row<!-- IF recent.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
		<dl class="icon" style="background-image: url({recent.FOLDER_IMG_SRC}); background-repeat: no-repeat;">
			<dt><a class="topictitle" href="{recent.U_VIEW_CONTRIB}">{recent.CONTRIB_NAME}</a>
			<!-- IF recent.S_CONTRIB_CLEANED -->
				<img src="{T_TITANIA_THEME_PATH}/images/icon_cleaned_contrib.gif" title="{L_CLEANED_CONTRIB}" alt="{L_CLEANED_CONTRIB}" />
			<!-- ELSEIF not recent.S_CONTRIB_VALIDATED -->
				<img src="{T_TITANIA_THEME_PATH}/images/icon_not_validated.gif" alt="{L_NOT_VALIDATED}" title="{L_NOT_VALIDATED}" />
			<!-- ENDIF --> <br />
			{L_BY} {recent.AUTHOR_NAME_FULL}
			</dt>
			<dd class="general phpbb-version">
				<!-- IF recent.PHPBB_VERSION -->
					{recent.PHPBB_VERSION}
				<!-- ELSE -->
					<!-- IF .recent.phpbb_versions -->
					<select id="phpbb_versions">
						<!-- BEGIN phpbb_versions -->
							<option>{recent.phpbb_versions.NAME}</option>
						<!-- END phpbb_versions -->
					</select>
					<!-- ELSE -->
					{L_NO_REVISIONS}
					<!-- ENDIF -->
				<!-- ENDIF -->
			</dd>
			<dd class="general">
				<!-- IF recent.CONTRIB_DOWNLOADS -->{L_DOWNLOADS}: {recent.CONTRIB_DOWNLOADS}<br /><!-- ENDIF -->
				<!-- IF recent.CONTRIB_RATING -->{L_RATING}: {recent.CONTRIB_RATING} / 5<br /><!-- ENDIF -->
			</dd>
		</dl>
	</li>
<!-- BEGINELSE -->
	<li class="row bg1">
		<dl>
			<dt>{L_NO_CONTRIBS}</dt>
		</dl>
	</li>
<!-- END recent -->

		</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>