<!-- BEGIN revisions -->
	<tr class="bg1" id="revision-{revisions.REVISION_ID}" <!-- IF S_AJAX -->style="display: none"<!-- ENDIF -->>
		<!-- We place a span here due to jQuery making this a block display and messing up layout -->
			<td>#{revisions.REVISION_ID}</td>
			<td>{revisions.CREATED}</td>
			<td>{revisions.VALIDATED_DATE} <span class="rightside"><a href="{revisions.U_DELETE_REVISION}"><img src="{IMG_ICON_DELETE}" alt="{L_DELETE_REVISION}" title="{L_DELETE_REVISION}" /></a></span></td>
	</tr>
<!-- END revisions -->