<!-- INCLUDE contributions/contribution_header.html -->

<h3 class="section-name">{PAGE_TITLE}</h3>

<!-- IF NOTICE --><p class="error">{NOTICE}</p><!-- ENDIF -->
<!-- IF ERROR_MSG --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->

<form id="{POSTING_FORM_NAME}" method="post" action="{S_POST_ACTION}" onsubmit="titania_post_submit();" {S_FORM_ENCTYPE}>
	<div class="container">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>

			<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting/posting_preview.html --><!-- ENDIF -->

			<fieldset>
				<!-- IF S_EDIT_SUBJECT or S_CREATE -->
				<dl>
					<dt><label for="name">{L_CONTRIB_NAME}:</label></dt>
					<dd><input type="text" name="{POSTING_SUBJECT_NAME}" id="{POSTING_SUBJECT_NAME}" size="45" maxlength="60" value="{CONTRIB_NAME}" class="inputbox autowidth" /></dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_CREATE -->
				<dl>
					<dt><label for="permalink">{L_CONTRIB_PERMALINK}:</label><br /><span>{L_CONTRIB_PERMALINK_EXPLAIN}</span></dt>
					<dd><input type="text" name="permalink" id="permalink" size="45" maxlength="60" value="{CONTRIB_PERMALINK}" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="contrib_type">{L_CONTRIB_TYPE}:</label></dt>
					<dd>
						<select name="contrib_type" id="contrib_type">
							<!-- BEGIN type_select -->
							<option value="{type_select.VALUE}"<!-- IF type_select.S_IS_SELECTED --> selected="selected"<!-- ENDIF -->>{type_select.NAME}</option>
							<!-- END type_select -->
						</select>
					</dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_EDIT_MESSAGE or S_CREATE -->
				<dl>
					<dt><label for="{POSTING_TEXT_NAME}">{L_CONTRIB_DESCRIPTION}:</label></dt>
					<dd></dd>
				</dl>
				<!-- ENDIF -->
			</fieldset>

			<!-- IF S_EDIT_MESSAGE or S_CREATE -->
				<!-- INCLUDE posting/posting_basic_editor.html -->
				<fieldset class="fields1">
					<!-- IF S_BBCODE_ALLOWED -->
						<div><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode"{S_BBCODE_CHECKED} /> {L_DISABLE_BBCODE}</label></div>
					<!-- ENDIF -->
					<!-- IF S_SMILIES_ALLOWED -->
						<div><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies"{S_SMILIES_CHECKED} /> {L_DISABLE_SMILIES}</label></div>
					<!-- ENDIF -->
					<!-- IF S_LINKS_ALLOWED -->
						<div><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url"{S_MAGIC_URL_CHECKED} /> {L_DISABLE_MAGIC_URL}</label></div>
					<!-- ENDIF -->
				</fieldset>
			<!-- ENDIF -->

			<h3>{L_OPTIONS}</h3>
			<fieldset>
				<dl>
					<dt><label for="contrib_category">{L_CONTRIB_CATEGORY}:</label><br /><span>{L_MULTI_SELECT_EXPLAIN}</span></dt>
					<dd>
						<select name="contrib_category[]" id="contrib_category" multiple="multiple" size="5">
							<!-- BEGIN category_select -->
							<option value="{category_select.VALUE}"<!-- IF category_select.S_SELECTED --> selected="selected"<!-- ENDIF --><!-- IF category_select.S_DISABLED --> disabled="disabled"<!-- ENDIF -->>
								<!-- BEGIN level -->&nbsp; &nbsp;<!-- END level -->{category_select.NAME}
							</option>
							<!-- END category_select -->
						</select>
					</dd>
				</dl>
				<!-- IF not S_CREATE -->
				<dl>
					<dt><label for="change_owner">{L_CONTRIB_CHANGE_OWNER}:</label><br /><span>{L_CONTRIB_CHANGE_OWNER_EXPLAIN}</span></dt>
					<dd>
						<input class="inputbox autowidth" type="text" name="change_owner" id="change_owner" />
					</dd>
				</dl>
				<!-- ENDIF -->
				<dl>
					<dt><label for="active_coauthors">{L_CONTRIB_ACTIVE_AUTHORS}:</label><br /><span>{L_CONTRIB_ACTIVE_AUTHORS_EXPLAIN}<br /><br />{L_CONTRIB_AUTHORS_EXPLAIN}</span></dt>
					<dd>
						<textarea class="inputbox" name="active_coauthors" id="active_coauthors">{ACTIVE_COAUTHORS}</textarea>
					</dd>
				</dl>
				<dl>
					<dt><label for="nonactive_coauthors">{L_CONTRIB_NONACTIVE_AUTHORS}:</label><br /><span>{L_CONTRIB_NONACTIVE_AUTHORS_EXPLAIN}<br /><br />{L_CONTRIB_AUTHORS_EXPLAIN}</span></dt>
					<dd>
						<textarea class="inputbox" name="nonactive_coauthors" id="nonactive_coauthors">{NONACTIVE_COAUTHORS}</textarea>
					</dd>
				</dl>
			</fieldset>

			<h3>{L_SCREENSHOTS}</h3>
			{SCREENSHOT_UPLOADER}
		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>

	<div class="container">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>
			<fieldset class="submit-buttons">
				<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
				<!-- IF S_EDIT_MESSAGE or S_CREATE -->
					<input type="submit" name="preview" value="{L_PREVIEW}" class="button1" />&nbsp;
				<!-- ENDIF -->
				<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
				{S_FORM_TOKEN}
			</fieldset>
		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>
</form>


<!-- INCLUDE contributions/contribution_footer.html -->