<!-- INCLUDE overall_header.html -->

<div class="main-content">
	<!-- INCLUDE contributions/search_box.html -->
	<div class="main-column">
		<div id="tabs">
			<ul>
				<li<!-- IF S_MODE_ID eq 'details' || S_MODE_ID eq 'email' --> class="activetab"<!-- ENDIF -->><a href="{U_CONTRIB_DETAILS}"><span>{L_CONTRIB_DETAILS}</span></a></li>
				<li<!-- IF S_MODE_ID eq 'support' --> class="activetab"<!-- ENDIF -->><a href="{U_CONTRIB_SUPPORT}"><span>{L_CONTRIB_SUPPORT}</span></a></li>
				<li<!-- IF S_MODE_ID eq 'screenshots' --> class="activetab"<!-- ENDIF -->><a href="{U_CONTRIB_SCREENSHOTS}"><span>{L_CONTRIB_SCREENSHOTS}</span></a></li>
				<li<!-- IF S_MODE_ID eq 'faq' --> class="activetab"<!-- ENDIF -->><a href="{U_CONTRIB_FAQ}"><span>{L_CONTRIB_FAQ}</span></a></li>
			</ul>
		</div>
		<div class="bluebg">
			<div class="inner">
				<span class="corners-top"><span></span></span>

					<div class="contrib-content">
						<div class="inner"><span class="corners-top blue"><span></span></span>