<!-- INCLUDE manage/manage_header.html -->

<!-- IF S_ADD_CATEGORY or S_EDIT_CATEGORY -->
<!-- IF ERROR_MSG --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->
<form name="postform" method="post" action="{U_ACTION}">
	<div class="panel" id="addcategory">
		<div class="inner"><span class="corners-top"><span></span></span>

			<h3>{L_CATEGORY_INFORMATION}</h3>

			<fieldset>
			<dl>
				<dt><label for="category_name">{L_CATEGORY_NAME}:</label></dt>
				<dd><input type="text" name="category_name" id="category_name" size="45" maxlength="60" value="{CATEGORY_NAME}" class="inputbox autowidth" /></dd>
			</dl>
			<dl>
				<dt><label for="category_name">{L_CATEGORY_NAME_CLEAN}:</label></dt>
				<dd><input type="text" name="category_name_clean" id="category_name_clean" size="45" maxlength="60" value="{CATEGORY_NAME_CLEAN}" class="inputbox autowidth" /></dd>
			</dl>
			<dl>
				<dt><label for="category_parent">{L_PARENT_CATEGORY}:</label></dt>
					<dd><label><select name="category_parent" id="category_parent">
						<option value="0">-- {L_ROOT} --</option>
						<!-- BEGIN category_select -->
						<option value="{category_select.VALUE}"<!-- IF category_select.S_SELECTED --> selected="selected"<!-- ENDIF -->>
							<!-- BEGIN level -->&nbsp; &nbsp;<!-- END level -->{category_select.NAME}
						</option>
						<!-- END category_select -->
					</select></label></dd>
			</dl>
			<dl>
				<dt><label for="category_visible">{L_MAKE_CATEGORY_VISIBLE}:</label></dt>
				<dd><label><input type="radio" class="radio" id="category_visible" name="category_visible" value="1"<!-- IF CATEGORY_VISIBLE --> checked<!-- ENDIF --> />{L_YES}</label>&nbsp;<label><input type="radio" class="radio" name="category_visible" value="0"<!-- IF not CATEGORY_VISIBLE --> checked<!-- ENDIF --> />{L_NO}</label></dd>
			</dl>
			<dl>
				<dt><label for="category_type">{L_CATEGORY_TYPE}:</label><br /><span>{L_CATEGORY_TYPE_EXPLAIN}</span></dt>
				<dd>
					<select name="category_type" id="category_type">
						<!-- BEGIN type_select -->
						<option value="{type_select.VALUE}"<!-- IF type_select.S_IS_SELECTED --> selected="selected"<!-- ENDIF -->>{type_select.NAME}</option>
						<!-- END type_select -->
					</select>
				</dd>
			</dl>
			<dl>
				<dt><label for="message">{L_CATEGORY_DESC}:</label></dt>
			</dl>
			</fieldset>
			<!-- INCLUDE posting/posting_basic_editor.html -->
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
			<h3>{L_CATEGORY_OPTIONS}</h3>
			<fieldset class="fields1">
				<label for="integrate_demo"><input type="checkbox" name="integrate_demo" id="integrate_demo" {S_INTEGRATE_DEMO} /> {L_INTEGRATE_DEMO}</label><br />
				<label for="support_all_versions"><input type="checkbox" name="support_all_versions" id="support_all_versions" {S_SUPPORT_ALL_VERSIONS} /> {L_SUPPORT_ALL_VERSIONS}</label>
			</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
			<fieldset class="submit-buttons">
				<input type="reset" name="reset" value="{L_RESET}" class="button2" />&nbsp;
				<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
				{S_FORM_TOKEN}
			</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>
</form>

<!-- ELSEIF S_DELETE_CATEGORY -->
<!-- IF ERROR_MSG --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->
<form method="post" action="{U_ACTION}">
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
			<fieldset>
				<dl>
					<dt><label>{L_CATEGORY_NAME}:</label></dt>
					<dd><strong>{CATEGORY_NAME}</strong></dd>
				</dl>
				<dl>
					<dt><label for="delete_action">{L_CONTRIBUTIONS}:</label></dt>
					<dd><label><input type="radio" class="radio" id="delete_action" name="action_contribs" value="delete" checked="checked" /> {L_DELETE_ALL_CONTRIBS}</label></dd>
						<dd><label><input type="radio" class="radio" name="action_contribs" id="action_contribs" value="move" /> {L_MOVE_CONTRIBS_TO}</label> <select name="contribs_to_id" onclick="document.getElementById('action_contribs').checked=true;">
						<!-- BEGIN category_select -->
						<option value="{category_select.VALUE}"<!-- IF category_select.S_SELECTED --> selected="selected"<!-- ENDIF -->>
							<!-- BEGIN level -->&nbsp; &nbsp;<!-- END level -->{category_select.NAME}
						</option>
						<!-- END category_select -->
					</select></dd>
				</dl>
			</fieldset>
			<fieldset class="submit-buttons">
				<input type="submit" name="submit" value="{L_DELETE}" class="button1" />
				{S_FORM_TOKEN}
			</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>
</form>

<!-- ELSE -->
	<!-- INCLUDE common/category_list.html -->
<!-- ENDIF -->

<!-- INCLUDE manage/manage_footer.html -->
