<!-- INCLUDE contrib/contrib_header.html -->

	<h2 class="imgrep stylesdb">Styles database</h2>
	<p>Welcome to phpBB.com's Styles Database. Here you will find downloadable styles to replace the default phpBB ones (subSilver and prosilver for phpBB 2.0.x and 3.0.x respectively), as well as add-ons such as rank images, avatars, and more. All styles in our database go through a rigorous validation process by the phpBB <a href="http://www.phpbb.com/community/memberlist.php?mode=group&amp;g=7332">Styles Team</a>; this is done in order to minimize the effort required when installing styles, and to ensure a certain level of overall quality.<br /><br />
		If you have questions or comments about a specific style in the database, please post in the style's respective thread. If you have general questions about styling, please post in either the <a href="http://www.phpbb.com/community/viewforum.php?f=23">[2.0.x] Styles Development and Discussion</a> forum or the <a href="http://www.phpbb.com/community/viewforum.php?f=74">[3.0.x] Styles Development and Discussion</a> forum, dependent of course on the version you are using.<br /><br />
		If you wish to design and submit your own style, please see our <a href="http://www.phpbb.com/community/viewtopic.php?f=22&amp;t=387602">Styles Submissions Policy</a>.</p>

	<h3>Recently validated Styles</h3>
	<p>Below are the more recent styles approved by the Styles Team.</p>

<!-- INCLUDE contrib/contrib_footer.html -->