{% if U_CREATE_CATEGORY %}
<div class="action-bar">
	<a href="{{ U_CREATE_CATEGORY }}" title="{{ lang('CREATE_CATEGORY') }}" class="button">
		<span>{{ lang('CREATE_CATEGORY') }}</span> <i class="icon fa-plus-circle fa-fw" aria-hidden="true"></i>
	</a>
</div>
{% endif %}

{% if loops.categories|length %}
<div class="forabg" id="categories">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt>{{ lang('CATEGORY') }}</dt>
				<dd class="general">{{ lang('CONTRIBUTIONS') }}</dd>
				{% if S_MANAGE %}
				<dd class="general" style="float: right;">{{ lang('ACTIONS') }}</dd>
				{% endif %}
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">

	{% for categories in loops.categories %}
		<li class="row">
			<dl>
				<dt>
					<div class="list-inner">
					{% if S_MANAGE %}
						{% if categories.HAS_CHILDREN %}
						<a href="{{ categories.U_VIEW_MANAGE_CATEGORY }}" class="forumtitle">{{ categories.CATEGORY_NAME }}</a>
						{% else %}
						<span class="content">{{ categories.CATEGORY_NAME }}</span>
						{% endif %}
					{% else %}
						<a href="{{ categories.U_VIEW_CATEGORY }}" class="forumtitle">{{ categories.CATEGORY_NAME }}</a>
					{% endif %}<br />
					{% if categories.CATEGORY_DESC %}{{ categories.CATEGORY_DESC }}{% endif %}
					{% if categories.SUBFORUMS and categories.S_LIST_SUBFORUMS %}<br /><strong>{{ categories.L_SUBFORUM_STR }}</strong> {{ categories.SUBFORUMS }}{% endif %}
					</div>
				</dt>
				<dd class="general">{{ categories.CATEGORY_CONTRIBS }} <dfn>{{ lang('CONTRIBUTIONS') }}</dfn></dd>
				{% if S_MANAGE %}
				<dd class="general" style="float: right;">
					{% if categories.S_FIRST_ROW and not categories.S_LAST_ROW %}
						<span class="item-control-button move-up-disabled"></span>
						<a href="{{ categories.U_MOVE_DOWN }}" class="item-control-button move-down"></a>
					{% elseif not categories.S_FIRST_ROW and not categories.S_LAST_ROW %}
						<a href="{{ categories.U_MOVE_UP }}" class="item-control-button move-up"></a>
						<a href="{{ categories.U_MOVE_DOWN }}" class="item-control-button move-down"></a>
					{% elseif categories.S_LAST_ROW and not categories.S_FIRST_ROW %}
						<a href="{{ categories.U_MOVE_UP }}" class="item-control-button move-up"></a>
						<span class="item-control-button move-down-disabled"></span>
					{% else %}
						<span class="item-control-button move-up-disabled"></span>
						<span class="item-control-button move-down-disabled"></span>
					{% endif %}
					<a href="{{ categories.U_EDIT }}" class="item-control-button edit"></a>
					<a href="{{ categories.U_DELETE }}" class="item-control-button delete"></a>
				</dd>
				{% endif %}
			</dl>
		</li>
	{% endfor %}

	</ul>
	</div>
</div>
{% endif %}

{% if U_CREATE_CATEGORY %}
<div class="action-bar">
	<a href="{{ U_CREATE_CATEGORY }}" title="{{ lang('CREATE_CATEGORY') }}" class="button">
		<span>{{ lang('CREATE_CATEGORY') }}</span> <i class="icon fa-plus-circle fa-fw" aria-hidden="true"></i>
	</a>
</div>
{% endif %}
