{% for contribs in loops.contribs %}
	<div class="contrib-quickview">
		<a href="{{ contribs.U_VIEW_CONTRIB }}" class="quickview-title">{{ contribs.CONTRIB_NAME }}</a>
		<div class="quickview-preview">
			<div class="quickview-desc">{{ contribs.DESC_SNIPPET }}</div>
			<div class="quickview-image">
				{% if contribs.PREVIEW %}
					<img src="{{ contribs.PREVIEW }}" alt="{{ contribs.CONTRIB_NAME }}" class="screenshot" />
				{% else %}
					<img src="{{ T_TITANIA_THEME_PATH }}/images/types/{{ contribs.CONTRIB_TYPE_CLEAN }}.png" alt="{{ lang('NO_SCREENSHOT') }}" class="screenshot" />
				{% endif %}
			</div>
		</div>
		{{ contribs.CONTRIB_RATING_STRING }}
		<br />
		{{ lang('BY') }} {{ contribs.AUTHOR_NAME_FULL }}<br /><br />
		{% for branches in contribs.branches %}
			<span class="quickview-label">{{ branches.NAME }}</span>
		{% endfor %}
		{% if contribs.S_CONTRIB_CLEANED %}
			<span class="quickview-label label-clean">{{ contribs.CONTRIB_CLEANED }}</span>
		{% elseif contribs.S_CONTRIB_NEW %}
			<span class="quickview-label label-new">{{ contribs.CONTRIB_NEW }}</span>
		{% elseif contribs.S_CONTRIB_HIDDEN %}
			<span class="quickview-label label-hidden">{{ contribs.CONTRIB_HIDDEN }}</span>
		{% elseif contribs.S_CONTRIB_DISABLED %}
			<span class="quickview-label label-disabled">{{ contribs.CONTRIB_DISABLED }}</span>
		{% endif %}
		<span class="quickview-label">{{ contribs.CONTRIB_TYPE }}</span>
	</div>
{% else %}
	<div class="no-results">{{ lang('NO_CONTRIBS') }}</div>
{% endfor %}
