<div class="container">
	<div class="inner">

		<div class="right-column demo">
			{% if loops.preview|length %}
				{% for preview in loops.preview|subset(0,0) %}
					{% if preview.S_THUMBNAIL %}
						<a href="{{ preview.U_DOWNLOAD_LINK }}" class="screenshot"><img src="{{ preview.THUMB_IMAGE }}" alt="{{ preview.DOWNLOAD_NAME }}" title="{{ preview.DOWNLOAD_NAME }} ({{ preview.FILESIZE }} {{ preview.SIZE_LANG }}) {{ preview.L_DOWNLOAD_COUNT }}" /></a>
					{% else %}
						<img src="{{ preview.U_INLINE_LINK }}" class="screenshot" alt="{{ preview.DOWNLOAD_NAME }}" />
					{% endif %}
					<br />
				{% endfor %}
			{% else %}
				<img src="{{ T_TITANIA_THEME_PATH }}/images/types/{{ CONTRIB_TYPE_CLEAN }}.png" alt="{{ lang('NO_SCREENSHOT') }}" class="screenshot" />
			{% endif %}

			{% for downloads in loops.downloads if downloads.U_DOWNLOAD %}
				<div class="contrib-download{% if downloads.U_COLORIZEIT %} has-colorizeit{% endif %}">
					<a class="download-button" href="{{ downloads.U_DOWNLOAD }}" title="{{ lang('DOWNLOAD') }} {{ CONTRIB_NAME }}">
						<span>{{ downloads.VERSION }}</span>
						<span class="vendor-version">phpBB {{ downloads.PHPBB_VERSION }}</span>
					</a>
				{% if downloads.U_COLORIZEIT %}
					<a class="colorizeit-button" href="{{ downloads.U_COLORIZEIT }}" target="_colorizeit" title="{{ lang('COLORIZEIT_DOWNLOAD_STYLE') }} {{ CONTRIB_NAME }}"></a>
				{% endif %}
					<div class="download-info">
						{% if downloads.RELEASE_TIME %}
						<dl>
							<dt>{{ lang('RELEASED') ~ lang('COLON') }}</dt>
							<dd>{{ downloads.RELEASE_TIME }}</dd>
						</dl>
						{% endif %}
						<dl>
							<dt>{{ lang('FILESIZE') ~ lang('COLON') }}</dt>
							<dd>{{ downloads.SIZE }}<dd>
						</dl>
						{% if downloads.PHPBB_VERSION %}
						<dl>
							<dt>{{ lang('DOWNLOAD_VALIDATION_VERSION') ~ lang('COLON') }}</dt>
							<dd>phpBB {{ downloads.PHPBB_VERSION }}</dd>
						</dl>
						{% endif %}
						<dl>
							<dt>{{ lang('DOWNLOAD_CHECKSUM') ~ lang('COLON') }}</dt>
							<dd>{{ downloads.CHECKSUM }}</dd>
						</dl>
						{% if downloads.LICENSE %}
						<dl>
							<dt>{{ lang('LICENSE') ~ lang('COLON') }}</dt>
							<dd>{{ downloads.LICENSE }}</dd>
						</dl>
						{% endif %}
						{% if downloads.INSTALL_TIME %}
						<dl>
							<dt>{{ lang('INSTALL_TIME') }}</dt>
							<dd>{{ downloads.INSTALL_TIME }}</dd>
						</dl>
						{% endif %}
						{% if downloads.INSTALL_LEVEL %}
						<dl>
							<dt>{{ lang('INSTALL_LEVEL') }}</dt>
							<dd>{{ downloads.INSTALL_LEVEL }}</dd>
						</dl>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="left-column">
		{% if CONTRIB_DESC %}
			<dl class="contrib-description">
				<dt>
					<strong>{{ lang('DESCRIPTION') }}</strong>
					{% if U_SUBSCRIBE or U_REPORT %}
					<div style="float: right;">
						{% if U_REPORT %}
							<a href="{{ U_REPORT }}" title="{{ lang('REPORT') }}">{{ lang('REPORT') }}</a>
						{% endif %}
						{% if U_SUBSCRIBE %}
							{% if U_REPORT %}&bull;{% endif %}
							<a href="{{ U_SUBSCRIBE }}" title="{% if IS_SUBSCRIBED %}{{ lang('UNSUBSCRIBE') }}{% else %}{{ lang('SUBSCRIBE') }}{% endif %}">
								{% if IS_SUBSCRIBED %}{{ lang('UNSUBSCRIBE') }}{% else %}{{ lang('SUBSCRIBE') }}{% endif %}
							</a>
						{% endif %}
					</div>
					{% endif %}
				</dt>
				<dd>
					{% if WARNING %}
						<div class="rules"><strong>{{ WARNING }}</strong></div>
					{% endif %}
					{{ CONTRIB_DESC }}
				</dd>
			</dl>
		{% endif %}

			<ul class="general-info">
				{% if CONTRIB_LOCAL_NAME %}
				<li>
					<strong>{{ lang('CONTRIB_LOCAL_NAME') }}</strong> {{ CONTRIB_LOCAL_NAME }}
				</li>
				{% endif %}
				{% if CONTRIB_ISO_CODE %}
				<li>
					<strong>{{ lang('CONTRIB_ISO_CODE') }}</strong> {{ CONTRIB_ISO_CODE }}
				</li>
				{% endif %}
				<li>
					<strong>{{ lang('AUTHOR') }}</strong> {{ AUTHOR_NAME_FULL }}
				</li>
				{% if loops.coauthors|length %}
				<li>
					<strong>{{ lang('CO_AUTHORS') }}</strong> {% for coauthors in loops.coauthors %}{{ coauthors.AUTHOR_NAME_FULL }}{% if not coauthors.S_LAST_ROW %}, {% endif %}{% endfor %}
				</li>
				{% endif %}
				{% if loops.past_coauthors|length %}
				<li>
					<strong>{{ lang('PAST_CONTRIBUTORS') }}</strong> {% for past_coauthors in loops.past_coauthors %}{{ past_coauthors.AUTHOR_NAME_FULL }}{% if not past_coauthors.S_LAST_ROW %}, {% endif %}{% endfor %}
				</li>
				{% endif %}
				{% if CONTRIB_UPDATE_DATE %}
				<li>
					<strong>{{ lang('CONTRIB_UPDATE_DATE') }}</strong> {{ CONTRIB_UPDATE_DATE }}
				</li>
				{% endif %}
				{% if CONTRIB_DOWNLOADS %}
				<li>
					<strong>{{ lang('DOWNLOADS_TOTAL') }}</strong> {{ CONTRIB_DOWNLOADS }}
				</li>
				{% endif %}
				{% if loops.announce_topic|length %}
				<li>
					<strong>{{ lang('ANNOUNCEMENT_TOPIC') }}</strong>
					{% for announce_topic in loops.announce_topic %}
						<a href="{{ announce_topic.URL }}">{{ announce_topic.BRANCH }}</a>{% if not announce_topic.S_LAST_ROW %}{{ lang('COMMA_SEPARATOR') }}{% endif %}
					{% endfor %}
				</li>
				{% endif %}
				{% if CONTRIB_RATING_STRING %}
				<li>
					<strong>{{ lang('RATING') }}</strong> {{ CONTRIB_RATING_STRING }} (<span class="rating-count">{{ CONTRIB_RATING_COUNT }}</span>)
				</li>
				{% endif %}
				<li style="border-bottom: none;">
					<strong>{{ lang('CATEGORIES') }}</strong> {% for categories in loops.categories %}<a href="{{ categories.U_VIEW_CATEGORY }}">{{ categories.CATEGORY_NAME }}</a>{% if not categories.S_LAST_ROW %}{{ lang('COMMA_SEPARATOR') }}{% endif %}{% endfor %}
				</li>
			</ul>
			{% if CONTRIB_BBC_HTML_REPLACEMENT %}
			<br />
			<a href="http://creativecommons.org/licenses/by/3.0/"><img src="https://i.creativecommons.org/l/by/3.0/88x31.png" alt="" /></a> <span class="license-info">{{ lang('PUBLIC_ATTR_WAIVED') }}</span>
			{% endif %} 
		</div>
		{% if loops.queue_actions|length or CURRENT_STATUS %}
			<ul class="queue-actions">
			{% for queue_actions in loops.queue_actions %}
				<li{% if queue_actions.S_FIRST_ROW %} class="first"{% elseif queue_actions.S_LAST_ROW %} class="last"{% endif %}>
					<a href="{% if queue_actions.U_VIEW %}{{ queue_actions.U_VIEW }}{% else %}#{% endif %}" class="{{ queue_actions.CLASS }}">{{ queue_actions.NAME }}</a>

				{% if queue_actions.subactions|length %}
					<div class="subactions">{% for subactions in queue_actions.subactions %}<a href="{{ subactions.U_ACTION }}">{{ subactions.NAME }}</a>{% endfor %}</div>
				{% endif %}
				</li>
			{% endfor %}

			{% if CURRENT_STATUS %}
				<li class="info"><img src="{{ T_TITANIA_THEME_PATH }}/images/icon_info.gif" alt="" /> &nbsp;{{ lang('QUEUE_STATUS') ~ lang('COLON') ~ CURRENT_STATUS }}</li>
			{% endif %}
			</ul>
		{% endif %}
	</div>
</div>

<div class="clear"></div>

{% if CONTRIB_BBC_HTML_REPLACEMENT %}
	<div class="container">
		<div class="inner">
			<div class="content bbcode-container">
				{% if CONTRIB_BBC_DEMO %}
				<h3 class="details-heading">{{ lang('CONTRIB_DEMO') }}</h3>
				{% if S_CONTRIB_BBC_DEMO_RENDERED %}
				{{ CONTRIB_BBC_DEMO }}
				{% else %}
				<dl class="codebox"><dt>{{ lang('CONTRIB_DEMO') ~ lang('COLON') }} <a href="#" onclick="selectCode(this); return false;">{{ lang('SELECT_ALL_CODE') }}</a></dt><dd><code>{{ CONTRIB_BBC_DEMO }}</code></dd></dl>
				{% endif %}
				<br />
				<br />
				{% endif %}
				<h3 class="details-heading">{{ lang('SETTINGS') }}</h3>
				<dl class="codebox"><dt>{{ lang('REVISION_BBCODE_USE') ~ lang('COLON') }} <a href="#" onclick="selectCode(this); return false;">{{ lang('SELECT_ALL_CODE') }}</a></dt><dd><code>{{ CONTRIB_BBC_BBCODE_USAGE }}</code></dd></dl>
				<br />
				<dl class="codebox"><dt>{{ lang('REVISION_HTML_REPLACE') ~ lang('COLON') }} <a href="#" onclick="selectCode(this); return false;">{{ lang('SELECT_ALL_CODE') }}</a></dt><dd><code>{{ CONTRIB_BBC_HTML_REPLACEMENT }}</code></dd></dl>
				{% if CONTRIB_BBC_HELPLINE %}
				<br />
				<dl class="codebox"><dt>{{ lang('REVISION_HELP_LINE') ~ lang('COLON') }} <a href="#" onclick="selectCode(this); return false;">{{ lang('SELECT_ALL_CODE') }}</a></dt><dd><code>{{ CONTRIB_BBC_HELPLINE }}</code></dd></dl>
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}

{% set SCREENSHOT_COUNT = loops.screenshots|length %}
{% if (SCREENSHOT_COUNT > 1) or loops.revisions|length or U_NEW_REVISION %}
<div class="container">
	<div class="inner">
		{% if S_IN_QUEUE and loops.revisions|length %}
			{% DEFINE TAB = 'revisions' %}
		{% elseif SCREENSHOT_COUNT > 1 %}
			{% DEFINE TAB = 'screenshots' %}
		{% elseif S_TRANSLATIONS %}
			{% DEFINE TAB = 'translations' %}
		{% else %}
			{% DEFINE TAB = 'revisions' %}
		{% endif %}
		<div id="extratabs" data-show-panel="{{ definition.TAB }}-panel" class="sub-panels">
		    <ul id="extratabs-head">
		        {% if SCREENSHOT_COUNT > 1 %}
		        	<li id="screenshots-panel-tab"><a href="#screenshots-panel" data-subpanel="screenshots-panel"><span>{{ lang('SCREENSHOTS') }}</span></a></li>
		        {% endif %}
				{% if S_TRANSLATIONS %}
					<li id="translations-panel-tab"><a href="#translations-panel" data-subpanel="translations-panel"><span>{{ lang('TRANSLATIONS') }}</span></a></li>
				{% endif %}
		        {% if loops.revisions|length %}
		        	<li id="revisions-panel-tab"><a href="#revisions-panel" data-subpanel="revisions-panel"><span>{{ lang('REVISIONS') }}</span></a></li>
		       {% endif %}
		        {% if U_NEW_REVISION %}
		        	<li><a href="{{ U_NEW_REVISION }}"><span>{{ lang('NEW_REVISION') }}</span></a></li>
		        {% endif %}
		    </ul>

		    {% if S_IN_QUEUE and loops.revisions|length %}
		    <div id="revisions-panel" class="tab-panel">
				<div class="clear"></div>

				{% INCLUDE '@phpbb_titania/common/revision_list.html' %}
		    </div>
		    {% endif %}

		    {% if SCREENSHOT_COUNT > 1 %}
		    <div id="screenshots-panel" class="tab-panel">
				{% for screenshots in loops.screenshots %}
				{% if not screenshots.IS_PREVIEW %}
					{% if screenshots.S_THUMBNAIL %}
						<a href="{{ screenshots.U_DOWNLOAD_LINK }}" class="screenshot"><img src="{{ screenshots.THUMB_IMAGE }}" alt="{{ screenshots.DOWNLOAD_NAME }}" title="{{ screenshots.DOWNLOAD_NAME }} ({{ screenshots.FILESIZE }} {{ screenshots.SIZE_LANG }}) {{ screenshots.L_DOWNLOAD_COUNT }}" /></a>
					{% endif %}

					{% if screenshots.S_IMAGE %}
						<img src="{{ screenshots.U_INLINE_LINK }}" class="screenshot" alt="{{ screenshots.DOWNLOAD_NAME }}" />
					{% endif %}
				{% endif %}
				{% endfor %}
		    </div>
		    {% endif %}

			{% if S_TRANSLATIONS %}
			<div id="translations-panel" class="tab-panel">
				<ul class="topiclist simple two-long-columns">
					<li class="header">
						<dl>
							<dt><div class="list-inner">{{ lang('TRANSLATIONS') }}</div></dt>
							<dd class="revision-version general">{{ lang('VERSION') }}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist cplist translations two-long-columns">
					{% for revisions in loops.revisions %}
						{% if revisions.translations|length %}
						{% set HALF_TRANSLATIONS = loops.revisions.translations|length / 2 %}
						<li class="row bg1">
							<span class="toggle icon-expand" style="display: none;"></span>
							<dl>
								<dt>
									<div class="list-inner">
									{% for translations in revisions.translations %}
										{% if translations.S_FIRST_ROW %}
										<div class="column1">
											<ul>
										{% endif %}
												<li><a class="arrow-left" href="{{ translations.U_DOWNLOAD_LINK }}" title="{{ translations.FILESIZE }} {{ translations.SIZE_LANG }} &bull; {{ translations.L_DOWNLOAD_COUNT }}">{{ translations.DOWNLOAD_NAME }}</a></li>
										{% if not translations.S_FIRST_ROW and not translations.S_LAST_ROW and (HALF_TRANSLATIONS == (translations.S_ROW_COUNT + 1)) %}
											</ul>
										</div>
										<div class="column2">
											<ul>
										{% endif %} 
										{% if translations.S_LAST_ROW %}
											</ul>
										</div>
									{% endif %}
									{% endfor %}	
									</div>
								</dt>
								<dd class="revision-version general">
									{{ revisions.VERSION }}
								</dd>
							</dl>
						</li>
						{% endif %}
				{% endfor %}
				</ul>
			</div>
			{% endif %}

		    {% if not S_IN_QUEUE and loops.revisions|length %}
		    <div id="revisions-panel" class="tab-panel">
				<div class="clear"></div>

				{% INCLUDE '@phpbb_titania/common/revision_list.html' %}
		    </div>
		    {% endif %}
		</div>

	</div>
</div>
{% endif %}
