<div class="container">
	<div class="inner">

		<div class="right-column demo">
			<!-- IF .preview -->
				<!-- BEGIN preview(0,0) -->
					<!-- IF preview.S_THUMBNAIL -->
						<a href="{preview.U_DOWNLOAD_LINK}" class="screenshot"><img src="{preview.THUMB_IMAGE}" alt="{preview.DOWNLOAD_NAME}" title="{preview.DOWNLOAD_NAME} ({preview.FILESIZE} {preview.SIZE_LANG}) {preview.L_DOWNLOAD_COUNT}" /></a>
					<!-- ELSE -->
						<img src="{preview.U_INLINE_LINK}" class="screenshot" alt="{preview.DOWNLOAD_NAME}" />
					<!-- ENDIF -->
					<br />
				<!-- END preview -->
			<!-- ELSE -->
				<div class="no-screenshot">{L_NO_SCREENSHOT}</div>
			<!-- ENDIF -->
			<!-- IF U_VIEW_DEMO and not S_INTEGRATE_DEMO --><a href="{U_VIEW_DEMO}">{L_VIEW_DEMO}</a><!-- ENDIF -->

			<!-- IF U_DOWNLOAD -->
				<div class="download-button">
					<a class="download-main" href="{U_DOWNLOAD}" title="{L_DOWNLOAD} {CONTRIB_NAME}">{DOWNLOAD_SIZE}</a>
				</div>
				<!-- IF U_COLORIZEIT -->
                    <div class="colorizeit-button">
                        <a class="colorizeit-main" href="{U_COLORIZEIT}" target="_blank" title="{L_COLORIZEIT_DOWNLOAD_STYLE} {CONTRIB_NAME}"></a>
                    </div>
				<!-- ENDIF -->
			<!-- ENDIF -->
		</div>

		<div class="left-column">
		<!-- IF CONTRIB_DESC -->
			<dl class="contrib-description">
				<dt>
					<strong>{L_DESCRIPTION}</strong>
					<!-- IF U_SUBSCRIBE or U_REPORT -->
					<div class="dropdown-container" style="float: right;">
						<a href="#" class="dropdown-trigger">{L_TOOLS}</a>
						<div class="dropdown hidden">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<ul class="dropdown-contents">
								<!-- IF U_SUBSCRIBE --><li><a href="{U_SUBSCRIBE}" title="{L_SUBSCRIBE}"><!-- IF IS_SUBSCRIBED -->{L_UNSUBSCRIBE}<!-- ELSE -->{L_SUBSCRIBE}<!-- ENDIF --></a></li><!-- ENDIF -->
								<!-- IF U_REPORT --><li><a href="{U_REPORT}" title="{L_REPORT}">{L_REPORT}</a></li><!-- ENDIF -->
							</ul>
						</div>
					</div>
					<!-- ENDIF -->
				</dt>
				<dd>
					<!-- IF WARNING -->
						<div class="rules"><strong>{WARNING}</strong></div>
					<!-- ENDIF -->
					{CONTRIB_DESC}
				</dd>
			</dl>
		<!-- ENDIF -->

			<ul class="general-info">
				<!-- IF CONTRIB_LOCAL_NAME -->
				<li>
					<strong>{L_CONTRIB_LOCAL_NAME}</strong> {CONTRIB_LOCAL_NAME}
				</li>
				<!-- ENDIF -->
				<!-- IF CONTRIB_ISO_CODE -->
				<li>
					<strong>{L_CONTRIB_ISO_CODE}</strong> {CONTRIB_ISO_CODE}
				</li>
				<!-- ENDIF -->
				<li>
					<strong>{L_AUTHOR}</strong> {AUTHOR_NAME_FULL}
				</li>
				<!-- IF .coauthors -->
				<li>
					<strong>{L_CO_AUTHORS}</strong> <!-- BEGIN coauthors -->{coauthors.AUTHOR_NAME_FULL}<!-- IF not coauthors.S_LAST_ROW -->, <!-- ENDIF --><!-- END coauthors -->
				</li>
				<!-- ENDIF -->
				<!-- IF .past_coauthors -->
				<li>
					<strong>{L_PAST_CONTRIBUTORS}</strong> <!-- BEGIN past_coauthors -->{past_coauthors.AUTHOR_NAME_FULL}<!-- IF not past_coauthors.S_LAST_ROW -->, <!-- ENDIF --><!-- END past_coauthors -->
				</li>
				<!-- ENDIF -->
				<!-- IF DOWNLOAD_VERSION -->
				<li>
					<strong>{L_VERSION}</strong> {DOWNLOAD_VERSION}
				</li>
				<!-- ENDIF -->
				<li>
					<strong>{L_PHPBB_VERSION}</strong>
					<!-- IF PHPBB_VERSION -->
						{PHPBB_VERSION}
					<!-- ELSEIF .phpbb_versions -->
					<select class="phpbb_versions">
						<!-- BEGIN phpbb_versions -->
							<option>{phpbb_versions.NAME}</option>
						<!-- END phpbb_versions -->
					</select>
					<!-- ELSE -->
					{L_NO_REVISIONS}
					<!-- ENDIF -->
				</li>
				<!-- IF DOWNLOAD_LICENSE -->
				<li>
					<strong>{L_LICENSE}</strong> {DOWNLOAD_LICENSE}
				</li>
				<!-- ENDIF -->
				<!-- IF DOWNLOAD_INSTALL_TIME -->
				<li>
					<strong>{L_INSTALL_TIME}</strong> {DOWNLOAD_INSTALL_TIME}
				</li>
				<!-- ENDIF -->
				<!-- IF DOWNLOAD_INSTALL_LEVEL -->
				<li>
					<strong>{L_INSTALL_LEVEL}</strong> {DOWNLOAD_INSTALL_LEVEL}
				</li>
				<!-- ENDIF -->
				<!-- IF CONTRIB_UPDATE_DATE -->
				<li>
					<strong>{L_CONTRIB_UPDATE_DATE}</strong> {CONTRIB_UPDATE_DATE}
				</li>
				<!-- ENDIF -->
				<!-- IF DOWNLOAD_CHECKSUM -->
				<li>
					<strong>{L_DOWNLOAD_CHECKSUM}</strong> {DOWNLOAD_CHECKSUM}
				</li>
				<!-- ENDIF -->
				<!-- IF DOWNLOAD_NAME -->
				<li>
					<strong>{L_REVISION_NAME}</strong> {DOWNLOAD_NAME}
				</li>
				<!-- ENDIF -->
				<!-- IF CONTRIB_DOWNLOADS -->
				<li>
					<strong>{L_DOWNLOADS_TOTAL}</strong> {CONTRIB_DOWNLOADS}
				</li>
				<!-- ENDIF -->
				<!-- IF CONTRIB_ANNOUNCEMENT_TOPIC -->
				<li>
					<strong>{L_ANNOUNCEMENT_TOPIC}</strong> {CONTRIB_ANNOUNCEMENT_TOPIC}
				</li>
				<!-- ENDIF -->
				<!-- IF CONTRIB_RATING_STRING -->
				<li>
					<strong>{L_RATING}</strong> {CONTRIB_RATING_STRING} ({CONTRIB_RATING_COUNT})
				</li>
				<!-- ENDIF -->
				<li style="border-bottom: none;">
					<strong>{L_CATEGORIES}</strong> <!-- BEGIN categories --><a href="{categories.U_VIEW_CATEGORY}">{categories.CATEGORY_NAME}</a><!-- IF not categories.S_LAST_ROW -->{L_COMMA_SEPARATOR}<!-- ENDIF --><!-- END categories -->
				</li>
			</ul>
			<!-- IF CONTRIB_BBC_HTML_REPLACEMENT -->
			<br />
			<a href="http://creativecommons.org/licenses/by/3.0/"><img src="https://i.creativecommons.org/l/by/3.0/88x31.png" alt="" /></a> <span class="license-info">{L_PUBLIC_ATTR_WAIVED}</span>
			<!-- ENDIF --> 
		</div>
		<!-- IF .queue_actions or CURRENT_STATUS -->
			<ul class="queue-actions">
			<!-- BEGIN queue_actions -->
				<li<!-- IF queue_actions.S_FIRST_ROW --> class="first"<!-- ELSEIF queue_actions.S_LAST_ROW --> class="last"<!-- ENDIF -->>
					<a href="<!-- IF queue_actions.U_VIEW -->{queue_actions.U_VIEW}<!-- ELSE -->#<!-- ENDIF -->" class="{queue_actions.CLASS}">{queue_actions.NAME}</a>

				<!-- IF .queue_actions.subactions -->
					<div class="subactions"><!-- BEGIN subactions --><a href="{queue_actions.subactions.U_ACTION}">{queue_actions.subactions.NAME}</a><!-- END subactions --></div>
				<!-- ENDIF -->
				</li>
			<!-- END queue_actions -->

			<!-- IF CURRENT_STATUS -->
				<li class="info"><img src="{T_TITANIA_THEME_PATH}/images/icon_info.gif" alt="" /> &nbsp;{L_QUEUE_STATUS}: {CURRENT_STATUS}</li>
			<!-- ENDIF -->
			</ul>
		<!-- ENDIF -->
	</div>
</div>

<div class="clear"></div>

<!-- IF CONTRIB_BBC_HTML_REPLACEMENT -->
	<div class="container">
		<div class="inner">
			<div class="content bbcode-container">
				<!-- IF CONTRIB_BBC_DEMO -->
				<h3 class="details-heading">{L_CONTRIB_DEMO}</h3>
				<!-- IF S_CONTRIB_BBC_DEMO_RENDERED -->
				{CONTRIB_BBC_DEMO}
				<!-- ELSE -->
				<dl class="codebox"><dt>{L_CONTRIB_DEMO}: <a href="#" onclick="selectCode(this); return false;">{L_SELECT_ALL_CODE}</a></dt><dd><code>{CONTRIB_BBC_DEMO}</code></dd></dl>
				<!-- ENDIF -->
				<br />
				<br />
				<!-- ENDIF -->
				<h3 class="details-heading">{L_SETTINGS}</h3>
				<dl class="codebox"><dt>{L_REVISION_BBCODE_USE}: <a href="#" onclick="selectCode(this); return false;">{L_SELECT_ALL_CODE}</a></dt><dd><code>{CONTRIB_BBC_BBCODE_USAGE}</code></dd></dl>
				<br />
				<dl class="codebox"><dt>{L_REVISION_HTML_REPLACE}: <a href="#" onclick="selectCode(this); return false;">{L_SELECT_ALL_CODE}</a></dt><dd><code>{CONTRIB_BBC_HTML_REPLACEMENT}</code></dd></dl>
				<!-- IF CONTRIB_BBC_HELPLINE -->
				<br />
				<dl class="codebox"><dt>{L_REVISION_HELP_LINE}: <a href="#" onclick="selectCode(this); return false;">{L_SELECT_ALL_CODE}</a></dt><dd><code>{CONTRIB_BBC_HELPLINE}</code></dd></dl>
				<!-- ENDIF -->
			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF (SCREENSHOT_COUNT > 1) or .revisions or U_NEW_REVISION -->
<div class="container">
	<div class="inner">
		<!-- IF S_IN_QUEUE and .revisions -->
			<!-- DEFINE $TAB = 'revisions' -->
		<!-- ELSEIF SCREENSHOT_COUNT > 1 -->
			<!-- DEFINE $TAB = 'screenshots' -->
		<!-- ELSEIF S_TRANSLATIONS -->
			<!-- DEFINE $TAB = 'translations' -->
		<!-- ELSE -->
			<!-- DEFINE $TAB = 'revisions' -->
		<!-- ENDIF -->
		<div id="extratabs" data-show-panel="{$TAB}-panel" class="sub-panels">
		    <ul id="extratabs-head">
		        <!-- IF S_IN_QUEUE and .revisions -->
		        	<li id="revisions-panel-tab"><a href="#revisions-panel" data-subpanel="revisions-panel"><span>{L_REVISIONS}</span></a></li>
		        <!-- ENDIF -->
		        <!-- IF SCREENSHOT_COUNT > 1 -->
		        	<li id="screenshots-panel-tab"><a href="#screenshots-panel" data-subpanel="screenshots-panel"><span>{L_SCREENSHOTS}</span></a></li>
		        <!-- ENDIF -->
				<!-- IF S_TRANSLATIONS -->
					<li id="translations-panel-tab"><a href="#translations-panel" data-subpanel="translations-panel"><span>{L_TRANSLATIONS}</span></a></li>
				<!-- ENDIF -->
		        <!-- IF not S_IN_QUEUE and (.revisions or U_NEW_REVISION) -->
		        	<li id="revisions-panel-tab"><a href="#revisions-panel" data-subpanel="revisions-panel"><span>{L_REVISIONS}</span></a></li>
		       <!-- ENDIF -->
		        <!-- IF U_NEW_REVISION -->
		        	<li><a href="{U_NEW_REVISION}"><span>{L_NEW_REVISION}</span></a></li>
		        <!-- ENDIF -->
		    </ul>

		    <!-- IF S_IN_QUEUE and .revisions -->
		    <div id="revisions-panel" class="tab-panel">
				<div class="clear"></div>

				<!-- INCLUDE common/revision_list.html -->
		    </div>
		    <!-- ENDIF -->

		    <!-- IF SCREENSHOT_COUNT > 1 -->
		    <div id="screenshots-panel" class="tab-panel">
				<!-- BEGIN screenshots -->
				<!-- IF not screenshots.IS_PREVIEW -->
					<!-- IF screenshots.S_THUMBNAIL -->
						<a href="{screenshots.U_DOWNLOAD_LINK}" class="screenshot"><img src="{screenshots.THUMB_IMAGE}" alt="{screenshots.DOWNLOAD_NAME}" title="{screenshots.DOWNLOAD_NAME} ({screenshots.FILESIZE} {screenshots.SIZE_LANG}) {screenshots.L_DOWNLOAD_COUNT}" /></a>
					<!-- ENDIF -->

					<!-- IF screenshots.S_IMAGE -->
						<img src="{screenshots.U_INLINE_LINK}" class="screenshot" alt="{screenshots.DOWNLOAD_NAME}" />
					<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- END screenshots -->
		    </div>
		    <!-- ENDIF -->

			<!-- IF S_TRANSLATIONS -->
			<div id="translations-panel" class="tab-panel">
				<span class="clear"></span>
				<ul class="topiclist simple">
					<li class="header">
						<dl>
							<dt>{L_TRANSLATIONS}</dt>
							<dd class="revision-version">{L_VERSION}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist cplist translations">
					<!-- BEGIN revisions -->
						<!-- IF .revisions.translations -->
						<li class="row bg1">
							<dl>
								<dt>
							<!-- BEGIN translations -->
								<!-- IF revisions.translations.S_FIRST_ROW -->
								<div class="column1">
									<ul>
								<!-- ENDIF -->
										<li><a class="left" href="{revisions.translations.U_DOWNLOAD_LINK}" title="{revisions.translations.FILESIZE} {revisions.translations.SIZE_LANG} &bull; {revisions.translations.L_DOWNLOAD_COUNT}">{revisions.translations.DOWNLOAD_NAME}</a></li>
								<!-- IF not revisions.translations.S_FIRST_ROW and not revisions.translations.S_LAST_ROW and (revisions.HALF_TRANSLATIONS == (revisions.translations.S_ROW_COUNT + 1)) -->
									</ul>
								</div>
								<div class="column2">
									<ul>
								<!-- ENDIF --> 
								<!-- IF revisions.translations.S_LAST_ROW -->
									</ul>
								</div>
								<!-- ENDIF -->
							<!-- END translations -->		
								</dt>
								<dd class="revision-version">
									{revisions.VERSION}
								</dd>
							</dl>
						</li>
						<!-- ENDIF -->
				<!-- END revisions -->
				</ul>
			</div>
			<!-- ENDIF -->

		    <!-- IF not S_IN_QUEUE and .revisions -->
		    <div id="revisions-panel" class="tab-panel">
				<div class="clear"></div>

				<!-- INCLUDE common/revision_list.html -->
		    </div>
		    <!-- ENDIF -->
		</div>

	</div>
</div>
<!-- ENDIF -->
