{% if loops.pagination|length or TOTAL_RESULTS %}
	<div class="pagination">
		{% if not S_IS_BOT and U_MARK_TOPICS %}<a href="{{ U_MARK_TOPICS }}">{{ lang('MARK_TOPICS_READ') }}</a> &bull;  {% endif %}
		{% if U_VIEW_UNREAD_POST and not S_IS_BOT %}<a href="{{ U_VIEW_UNREAD_POST }}">{{ lang('VIEW_UNREAD_POST') }}</a> &bull; {% endif %}
		{{ TOTAL_RESULTS }} 
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
{% endif %}
