{% if U_POST_REPLY or PAGINATION or TOTAL_RESULTS %}
<div class="action-bar">
	{% if U_POST_REPLY %}
		<a href="{{ U_POST_REPLY }}" title="{% if S_IS_LOCKED %}{{ lang('TOPIC_LOCKED') }}{% else %}{{ lang('POST_REPLY') }}{% endif %}" class="button">
			{% if S_IS_LOCKED %}
				<span>{{ lang('BUTTON_TOPIC_LOCKED') }}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
			{% else %}
				<span>{{ lang('BUTTON_POST_REPLY') }}</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
			{% endif %}
		</a>
	{% endif %}

	{% INCLUDE '@phpbb_titania/common/pagination.html' %}
</div>
<div class="clear"></div>
{% endif %}

{% for posts in loops.posts %}
	{% if posts.S_FIRST_UNREAD %}<a id="unread"></a>{% endif %}
	<div id="p{{ posts.POST_ID }}" class="post {% if posts.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}{% if posts.S_UNREAD_POST %} unreadpost{% endif %}{% if posts.S_POST_REPORTED %} reported{% endif %}{% if posts.S_POST_DELETED %} deleted{% endif %}{% if posts.S_ONLINE and not posts.S_IGNORE_POST %} online{% endif %}">
		<div class="inner">

		<div class="postbody">
			{% if posts.S_IGNORE_POST %}
				<div class="ignore">{{ posts.L_IGNORE_POST }}</div>
			{% else %}

			{% if posts.U_QUICKEDIT %}<input type="hidden" class="quick_edit" value="{{ posts.U_QUICKEDIT }}" />{% endif %}

		{% if not S_IS_BOT %}
			{% if posts.U_EDIT or posts.U_DELETE or posts.U_REPORT or posts.U_WARN or posts.U_INFO or posts.U_QUOTE %}
				<ul class="post-buttons">
					{% if posts.U_EDIT %}
						<li>
							<a href="{{ posts.U_EDIT }}" title="{{ lang('EDIT_POST') }}" class="button button-icon-only" data-ajax="titania.quick_edit" data-filter="titania.quickEditFilter">
								<i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
								<span class="sr-only">{{ lang('EDIT_POST') }}</span>
							</a>
						</li>
					{% endif %}
					{% if posts.U_DELETE %}
						<li>
							<a href="{{ posts.U_DELETE }}" title="{{ lang('DELETE_POST') }}" class="button button-icon-only">
								<i class="icon fa-times fa-fw" aria-hidden="true"></i>
								<span class="sr-only">{{ lang('DELETE_POST') }}</span>
							</a>
						</li>
					{% endif %}
					{% if posts.U_REPORT %}
						<li>
							<a href="{{ posts.U_REPORT }}" title="{{ lang('REPORT_POST') }}" class="button button-icon-only">
								<i class="icon fa-exclamation fa-fw" aria-hidden="true"></i>
								<span class="sr-only">{{ lang('REPORT_POST') }}</span>
							</a>
						</li>
					{% endif %}
					{% if posts.U_WARN %}
						<li>
							<a href="{{ posts.U_WARN }}" title="{{ lang('WARN_USER') }}" class="button button-icon-only">
								<i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
								<span class="sr-only">{{ lang('WARN_USER') }}</span>
							</a>
						</li>
					{% endif %}
					{% if posts.U_QUOTE %}
						<li>
							<a href="{{ posts.U_QUOTE }}" title="{{ lang('REPLY_WITH_QUOTE') }}" class="button button-icon-only">
								<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i>
								<span class="sr-only">{{ lang('REPLY_WITH_QUOTE') }}</span>
							</a>
						</li>
					{% endif %}
				</ul>
			{% endif %}
		{% endif %}

			<h3 {% if posts.S_FIRST_ROW %}class="first"{% endif %}>{% if posts.POST_ICON_IMG %}<img src="{{ T_ICONS_PATH ~ posts.POST_ICON_IMG }}" width="{{ posts.POST_ICON_IMG_WIDTH }}" height="{{ posts.POST_ICON_IMG_HEIGHT }}" alt="" /> {% endif %}<a href="{{ posts.U_VIEW }}">{{ posts.POST_SUBJECT }}</a>
			{% if posts.S_ACCESS_TEAMS %}<img src="{{ T_TITANIA_THEME_PATH }}/{{ S_USER_LANG }}/icon_access_teams.png" alt="{{ lang('ACCESS_LIMIT_TEAMS') }}" title="{{ lang('ACCESS_LIMIT_TEAMS') }}" />
			{% elseif posts.S_ACCESS_AUTHORS%}<img src="{{ T_TITANIA_THEME_PATH }}/{{ S_USER_LANG }}/icon_access_author.png" alt="{{ lang('ACCESS_LIMIT_AUTHORS') }}" title="{{ lang('ACCESS_LIMIT_AUTHORS') }}" />{% endif %}</h3>
			<p class="author">
				{% if S_IS_BOT %}
					<span><i class="icon fa-file fa-fw {% if posts.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ posts.MINI_POST }}</span></span>
				{% else %}
					<a class="unread" href="{{ posts.U_MINI_POST }}" title="{{ posts.MINI_POST }}">
						<i class="icon fa-file fa-fw {% if posts.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ posts.MINI_POST }}</span>
					</a>
				{% endif %}
				{{ lang('POST_BY_AUTHOR') }} <strong>{{ posts.USER_FULL }}</strong> &raquo; {{ posts.POST_TIME }}
			</p>

			{% if not posts.S_POST_APPROVED %}
				<p class="post-notice unapproved">
					<a href="{{ posts.U_INFO }}"><i class="icon fa-question icon-red fa-fw" aria-hidden="true"></i><strong>{{ lang('POST_UNAPPROVED') }}</strong></a>
				</p>
			{% endif %}
			{% if posts.S_POST_REPORTED %}
				<p class="post-notice reported">
					<a href="{{ posts.U_INFO }}"><i class="icon fa-exclamation fa-fw icon-red" aria-hidden="true"></i><strong>{{ lang('POST_REPORTED') }}</strong></a>
				</p>
			{% endif %}

			<div class="content">{{ posts.POST_TEXT }}</div>

			{% if posts.attachment|length %}
				<dl class="attachbox">
					<dt>{{ lang('ATTACHMENTS') }}</dt>
					{% for attachment in posts.attachment %}
						<dd>{{ attachment.DISPLAY_ATTACHMENT }}</dd>
					{% endfor %}
				</dl>
			{% endif %}

			{% if posts.EDITED_MESSAGE or posts.DELETED_MESSAGE %}
				<div class="notice">
					{{ posts.EDITED_MESSAGE }}{% if posts.EDITED_MESSAGE and posts.DELETED_MESSAGE %}<br />{% endif %}{{ posts.DELETED_MESSAGE }}
					{% if posts.POST_EDIT_REASON %}<br /><strong>{{ lang('REASON') ~ lang('COLON') }}</strong> <em>{{ posts.POST_EDIT_REASON }}</em>{% endif %}
				</div>
			{% endif %}

			{% if posts.USER_SIG %}<div id="sig{{ posts.POST_ID }}" class="signature">{{ posts.USER_SIG }}</div>{% endif %}
		{% endif %}

		</div>

		{% if not posts.S_IGNORE_POST %}
			<dl class="postprofile" id="profile{{ posts.POST_ID }}">
				<dt class="{% if posts.RANK_TITLE or posts.RANK_IMG %}has-profile-rank{% else %}no-profile-rank{% endif %} {% if posts.USER_AVATAR %}has-avatar{% else %}no-avatar{% endif %}">
					<div class="avatar-container">
						{% if posts.USER_AVATAR %}
							{% if posts.U_USER_BOARD_PROFILE %}<a href="{{ posts.U_USER_BOARD_PROFILE }}" class="avatar">{{ posts.USER_AVATAR }}</a>{% else %}<span class="avatar">{{ posts.USER_AVATAR }}</span>{% endif %}
						{% endif %}
					</div>
					{% if not posts.U_USER_BOARD_PROFILE %}<strong>{{ posts.USER_FULL }}</strong>{% else %}{{ posts.USER_FULL }}{% endif %}
				</dt>

				{% if posts.RANK_TITLE or posts.RANK_IMG %}<dd class="profile-rank rank-img">{{ posts.RANK_TITLE }}{% if posts.RANK_TITLE and posts.RANK_IMG %}<br />{% endif %}{{ posts.RANK_IMG }}</dd>{% endif %}

			{% if posts.USER_POSTS != '' %}<dd class="profile-posts"><strong>{{ lang('POSTS') ~ lang('COLON') }}</strong> {{ posts.USER_POSTS }}</dd>{% endif %}
			{% if posts.USER_JOINED %}<dd class="profile-joined"><strong>{{ lang('JOINED') ~ lang('COLON') }}</strong> {{ posts.USER_JOINED }}</dd>{% endif %}
			{% if posts.POST_IP %}<dd><strong>{{ lang('POST_IP') ~ lang('COLON') }}</strong> {{ posts.POST_IP }}</dd>{% endif %}

			{% if posts.S_PROFILE_FIELD1 %}
				{# Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. #}
				<dd><strong>{{ posts.PROFILE_FIELD1_NAME ~ lang('COLON') }}</strong> {{ posts.PROFILE_FIELD1_VALUE }}</dd>
			{% endif %}

			{% EVENT viewtopic_body_postrow_custom_fields_before %}
			{% for custom_fields in posts.custom_fields %}
				{% if not custom_fields.S_PROFILE_CONTACT and custom_fields.PROFILE_FIELD_IDENT neq 'first_name' and custom_fields.PROFILE_FIELD_IDENT neq 'last_name' %}
					<dd class="profile-custom-field profile-{{ custom_fields.PROFILE_FIELD_IDENT }}"><strong>{{ custom_fields.PROFILE_FIELD_NAME ~ lang('COLON') }}</strong> {{ custom_fields.PROFILE_FIELD_VALUE }}</dd>
				{% endif %}
			{% endfor %}
			{% EVENT viewtopic_body_postrow_custom_fields_after %}

			{% if posts.S_PROFILE_FIRST_NAME or posts.S_PROFILE_LAST_NAME %}
				<dd><strong>{{ lang('NAME') ~ lang('COLON') }}</strong> {{ posts.PROFILE_FIRST_NAME_VALUE }} {{ posts.PROFILE_LAST_NAME_VALUE }}</dd>
			{% endif %}

			{% if not S_IS_BOT and posts.contact|length %}
				<dd class="profile-contact">
					<strong>{{ lang('CONTACT') ~ lang('COLON') }}</strong>
					<div class="dropdown-container dropdown-left">
						<a href="#" class="dropdown-trigger">
							<i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only"></span>
						</a>
						<div class="dropdown hidden">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<div class="dropdown-contents contact-icons">
								{% for contact in posts.contact %}
									{% set REMAINDER = contact.S_ROW_COUNT % 4 %}
									{% DEFINE S_LAST_CELL = ((REMAINDER eq 3) or (contact.S_LAST_ROW and contact.S_NUM_ROWS < 4)) %}
									{% if REMAINDER eq 0 %}
										<div>
									{% endif %}
										<a href="{% if contact.U_CONTACT %}{{ contact.U_CONTACT }}{% else %}{{ contact.U_PROFILE_AUTHOR }}{% endif %}" title="{{ contact.NAME }}"{% if definition.S_LAST_CELL %} class="last-cell"{% endif %}{% if contact.ID eq 'jabber' %} onclick="popup(this.href, 550, 320); return false;"{% endif %}>
											<span class="contact-icon {{ contact.ID }}-icon"></span>
										</a>
									{% if REMAINDER eq 3 or contact.S_LAST_ROW %}
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</dd>
			{% endif %}

		</dl>
	{% endif %}

		<div class="back2top">
			<a href="#wrap" class="top" title="{{ lang('BACK_TO_TOP') }}">
				<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
				<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
			</a>
		</div>

		</div>
	</div>

	<hr class="divider" />
{% endfor %}

{% INCLUDE '@phpbb_titania/common/sort.html' %}

{% if S_QUICK_REPLY %}
	{% INCLUDE '@phpbb_titania/posting/quickreply_editor.html' %}
{% endif %}

{% if U_POST_REPLY or PAGINATION or TOTAL_RESULTS or loops.quickmod|length %}
<div class="action-bar">
	{% if U_POST_REPLY %}
		<a href="{{ U_POST_REPLY }}" title="{% if S_IS_LOCKED %}{{ lang('TOPIC_LOCKED') }}{% else %}{{ lang('POST_REPLY') }}{% endif %}" class="button">
			{% if S_IS_LOCKED %}
				<span>{{ lang('BUTTON_TOPIC_LOCKED') }}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
			{% else %}
				<span>{{ lang('BUTTON_POST_REPLY') }}</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
			{% endif %}
		</a>
	{% endif %}

	{% if loops.quickmod|length %}
		<div class="dropdown-container dropdown-container-{{ S_CONTENT_FLOW_BEGIN }} dropdown-up dropdown-{{ S_CONTENT_FLOW_END }} dropdown-button-control" id="quickmod">
			<span title="{{ lang('QUICK_MOD') }}" class="dropdown-trigger button button-secondary dropdown-select">
				<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('QUICK_MOD') }}</span>
				<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
			</span>
			<div class="dropdown hidden">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
				{% for quickmod in loops.quickmod %}
					<li><a href="{{ quickmod.LINK }}">{{ quickmod.TITLE }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	{% INCLUDE '@phpbb_titania/common/pagination.html' %}
</div>
{% endif %}
