<ul class="rating{% if S_HAS_RATED %} rated{% endif %}" data-rate-id="{{ OBJECT_ID }}" data-rating="{{ OBJECT_RATING }}">
{% for stars in loops.stars %}
	<li>
	{% if S_CAN_RATE %}
		<a href="{{ stars.RATE_URL }}" data-ajax="titania.rate">
	{% endif %}
		<span data-rate="{{ stars.ID }}" title="{{ stars.ALT }}"
		{% if S_HAS_RATED and stars.ID <= OBJECT_RATING %}
			class="rating-rated"
		{% elseif not S_HAS_RATED and stars.ID <= OBJECT_RATING %}
			class="rating-available"
		{% else %}
			class="rating-inactive"
		{% endif %}>
		</span>
	{% if S_CAN_RATE %}</a>{% endif %}
	</li>
{% endfor %}
	<li{% if not S_HAS_RATED %} style="display: none;"{% endif %}>
		<a href="{{ RATE_URL }}" title="{{ lang('REMOVE_RATING') }}" class="rating-remove" data-ajax="titania.rate"></a>
	</li>
</ul>
