<ul class="rating<!-- IF S_HAS_RATED --> rated<!-- ENDIF -->" data-rate-id="{OBJECT_ID}" data-rating="{OBJECT_RATING}">
<!-- BEGIN stars -->
	<li>
	<!-- IF S_CAN_RATE -->
		<a href="{stars.RATE_URL}">
	<!-- ENDIF -->
		<span data-rate="{stars.ID}" title="{stars.ALT}"
		<!-- IF S_HAS_RATED && stars.ID <= OBJECT_RATING -->
			class="rating-rated"
		<!-- ELSEIF not S_HAS_RATED && stars.ID <= OBJECT_RATING -->
			class="rating-available"
		<!-- ELSE -->
			class="rating-inactive"
		<!-- ENDIF -->>
		</span>
	<!-- IF S_CAN_RATE --></a><!-- ENDIF -->
	</li>
<!-- END stars -->
	<li<!-- IF not S_HAS_RATED --> style="display: none;"<!-- ENDIF -->>
		<a href="{RATE_URL}" title="{L_REMOVE_RATING}" class="rating-remove" /></a>
	</li>
</ul>
