<div class="revision-list">
	<ul class="topiclist revisions simple">
		<li class="header">
			<dl>
				<dt>{{ lang('REVISIONS') }}</dt>
				<dd class="general revision-status"></dd>
				<dd class="general revision-actions"></dd>
				<dd class="general revision-version">{{ lang('VERSION') }}</dd>
				<dd class="general phpbb-version">{{ lang('PHPBB_VERSION') }}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist cplist revisions">
		{% for revisions in loops.revisions %}
			<li class="row{% if revisions.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}{% if revisions.S_FIRST_ROW %} first{% endif %}">
				<span class="toggle icon-expand" style="display: none;"></span>
				<dl>
					<dt>
						<div class="list-inner">
							{% if revisions.U_DOWNLOAD %}<a href="{{ revisions.U_DOWNLOAD }}" title="{{ lang('DOWNLOAD') }}">{% endif %}
								{% if revisions.NAME %}{{ revisions.NAME }}{% else %}<em>{{ lang('NO_REVISION_NAME') }}</em>{% endif %}
							{% if revisions.U_DOWNLOAD %}</a>{% endif %}
						</div>
					</dt>
					<dd class="general revision-status">
						{% if revisions.S_NEW and revisions.S_USE_QUEUE %}<strong>{{ lang('NOT_VALIDATED') }}</strong>{% endif %}
						{% if revisions.S_DENIED %}<strong>{{ lang('REVISION_DENIED') }}</strong>{% endif %}
						{% if revisions.S_PULLED_SECURITY %}<strong>{{ lang('REVISION_PULLED_FOR_SECURITY') }}</strong>{% endif %}
						{% if revisions.S_PULLED_OTHER %}<strong>{{ lang('REVISION_PULLED_FOR_OTHER') }}</strong>{% endif %}
						{% if revisions.S_REPACKED %}<strong>{{ lang('REVISION_REPACKED') }}</strong>{% endif %}
						{% if revisions.S_RESUBMITTED %}<strong>{{ lang('REVISION_RESUBMITTED') }}</strong>{% endif %}
					</dd>
					<dd class="general revision-actions">
					    {% if U_COLORIZEIT and revisions.U_COLORIZEIT %}<a href="{{ revisions.U_COLORIZEIT }}" title="{{ lang('COLORIZEIT_DOWNLOAD_STYLE') }} {{ CONTRIB_NAME }}"><img src="{{ T_TITANIA_THEME_PATH }}/images/icon_colorizeit.gif" alt="{{ lang('COLORIZEIT_DOWNLOAD') }}" /></a>&nbsp;{% endif %}
						{% if revisions.REVISION_QUEUE %}<a href="{{ revisions.REVISION_QUEUE }}" title="{{ lang('QUEUE') }}"><img src="{{ T_TITANIA_THEME_PATH }}/images/icon_discuss.gif" alt="{{ lang('QUEUE') }}" /></a>&nbsp;{% endif %}
						{% if revisions.U_EDIT %}<a href="{{ revisions.U_EDIT }}" title="{{ lang('EDIT') }}"><img src="{{ T_TITANIA_THEME_PATH }}/images/icon_settings.gif" alt="{{ lang('EDIT') }}" /></a>&nbsp;{% endif %}
					</dd>
					<dd class="general revision-version">{{ revisions.VERSION }}</dd>
					<dd class="general phpbb-version">
						{% if revisions.PHPBB_VERSION %}
							{{ revisions.PHPBB_VERSION }}
						{% else %}
							<ul class="revision-version-list">
								{% for phpbb_versions in revisions.phpbb_versions %}
								<li>{{ phpbb_versions.VERSION }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</dd>
				</dl>
				<div class="revision-details">
					<dl>
						<dt class="revision-information">
							{% if revisions.REVISION_LICENSE %}{{ lang('LICENSE') ~ lang('COLON') }} {{ revisions.REVISION_LICENSE }}<br />{% endif %}
							{% if revisions.S_USE_QUEUE %}{{ lang('VALIDATION_TIME') ~ lang('COLON') }} {{ revisions.VALIDATED_DATE }}<br />{% endif %}
							{% if revisions.INSTALL_TIME %}{{ lang('INSTALL_TIME') ~ lang('COLON') }} {{ revisions.INSTALL_TIME }}<br />{% endif %}
							{% if revisions.INSTALL_LEVEL %}{{ lang('INSTALL_LEVEL') ~ lang('COLON') }} {{ revisions.INSTALL_LEVEL }}<br />{% endif %}
							{% if revisions.DOWNLOADS %}{{ lang('DOWNLOADS') ~ lang('COLON') }} {{ revisions.DOWNLOADS }}<br />{% endif %}
						</dt>
					</dl>
					{% if revisions.BBC_HTML_REPLACEMENT %}
					<hr class="dashed" />
					<div class="content bbcode-container">
						<dl class="codebox"><dt>{{ lang('REVISION_BBCODE_USE') ~ lang('COLON') }} <a href="#" onclick="selectCode(this); return false;">{{ lang('SELECT_ALL_CODE') }}</a></dt><dd><code>{{ revisions.BBC_BBCODE_USAGE }}</code></dd></dl>
						<br />
						<dl class="codebox"><dt>{{ lang('REVISION_HTML_REPLACE') ~ lang('COLON') }} <a href="#" onclick="selectCode(this); return false;">{{ lang('SELECT_ALL_CODE') }}</a></dt><dd><code>{{ revisions.BBC_HTML_REPLACEMENT }}</code></dd></dl>
						{% if revisions.BBC_HELPLINE %}
						<br />
						<dl class="codebox"><dt>{{ lang('REVISION_HELP_LINE') ~ lang('COLON') }} <a href="#" onclick="selectCode(this); return false;">{{ lang('SELECT_ALL_CODE') }}</a></dt><dd><code>{{ revisions.BBC_HELPLINE }}</code></dd></dl>
						{% endif %}
						{% if revisions.BBC_DEMO and S_IN_QUEUE %}
							<br />
							<dl class="codebox">
								<dt>
									{{ lang('CONTRIB_DEMO') ~ lang('COLON') }} <a href="#" onclick="selectCode(this); return false;">{{ lang('SELECT_ALL_CODE') }}</a>
								</dt>
								<dd><code>{{ revisions.BBC_DEMO }}</code></dd>
							</dl>	
						{% endif %}
					</div>
					{% endif %}
				</div>
			</li>
		{% endfor %}
	</ul>
	<span class="show-all" style="cursor: pointer; display: none; float: right;">{{ lang('SHOW_ALL_REVISIONS') }}</span>
</div>
