{% if S_SELECT_SORT_DAYS or S_SELECT_SORT_KEY %}
	<form method="post" action="{{ S_SORT_ACTION }}">
		<fieldset class="display-options">
			{% if PREVIOUS_PAGE %}<a href="{{ PREVIOUS_PAGE }}" class="left-box {{ S_CONTENT_FLOW_BEGIN }}">{{ lang('PREVIOUS') }}</a>{% endif %}
			{% if NEXT_PAGE %}<a href="{{ NEXT_PAGE }}" class="right-box {{ S_CONTENT_FLOW_END }}">{{ lang('NEXT') }}</a>{% endif %}
	{% if not S_IS_BOT %}
			{% if S_SELECT_SORT_DAYS %}<label>{{ lang('DISPLAY_TOPICS') ~ lang('COLON') }} <select name="{{ SORT_DAYS_NAME }}">{{ S_SELECT_SORT_DAYS }}</select></label>{% endif %}
			{% if S_SELECT_SORT_KEY %}<label>{{ lang('SORT_BY') }} <select name="{{ SORT_KEYS_NAME }}">{{ S_SELECT_SORT_KEY }}</select></label>{% endif %}
			<label>
				{% if S_SELECT_SORT_DIR %}<select name="{{ SORT_DIR_NAME }}">{{ S_SELECT_SORT_DIR }}</select>{% endif %}
				<input type="submit" name="sort" value="{{ lang('GO') }}" class="button2" />
			</label>
	{% endif %}
		</fieldset>
	</form>
	<hr />
{% endif %}
