{% INCLUDE '@phpbb_titania/authors/author_header.html' %}

<h3 class="section-name">{{ PAGE_TITLE }}</h3>

<form id="{{ POSTING_FORM_NAME }}" method="post" action="{{ S_POST_ACTION }}" {{ S_FORM_ENCTYPE }}>
	<div class="container">
		<div class="inner">
			{% if ERROR_MSG %}<p class="error">{{ ERROR_MSG }}</p>{% endif %}

			<fieldset>
				<dl>
					<dt><label for="website">{{ lang('WEBSITE') ~ lang('COLON') }}</label></dt>
					<dd><input type="text" name="website" id="website" size="45" maxlength="60" value="{{ AUTHOR_WEBSITE }}" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="{{ POSTING_TEXT_NAME }}">{{ lang('AUTHOR_DESC') ~ lang('COLON') }}</label></dt>
				</dl>
			</fieldset>
			{% INCLUDE '@phpbb_titania/posting/posting_basic_editor.html' %}
			<fieldset class="fields1">
				{% if S_BBCODE_ALLOWED %}
					<div><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode"{{ S_BBCODE_CHECKED }} /> {{ lang('DISABLE_BBCODE') }}</label></div>
				{% endif %}
				{% if S_SMILIES_ALLOWED %}
					<div><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies"{{ S_SMILIES_CHECKED }} /> {{ lang('DISABLE_SMILIES') }}</label></div>
				{% endif %}
				{% if S_LINKS_ALLOWED %}
					<div><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url"{{ S_MAGIC_URL_CHECKED }} /> {{ lang('DISABLE_MAGIC_URL') }}</label></div>
				{% endif %}
			</fieldset>
		</div>
	</div>

	<div class="container">
		<div class="inner">
			<fieldset class="submit-buttons">
				<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button2" />&nbsp;
				<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />
				{{ S_FORM_TOKEN }}
			</fieldset>

		</div>
	</div>
</form>

{% INCLUDE '@phpbb_titania/authors/author_footer.html' %}
