<!-- INCLUDE authors/author_header.html -->


<h3 class="section-name">{PAGE_TITLE}</h3>

<div class="container">
	<div class="inner">
		<div class="action-bar top">
			<!-- INCLUDE common/pagination.html -->
		</div>
		<ul class="topiclist simple contributions">
			<li class="header">
				<dl class="icon">
					<dt>{L_CONTRIBUTIONS}</dt>
					<dd class="general phpbb-version">{L_PHPBB_VERSION}</dd>
					<dd class="general">{L_INFORMATION}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist contributions" id="modlist">
			<!-- INCLUDE common/contribution_list.html -->
		</ul>
		<div class="action-bar bottom">
			<!-- INCLUDE common/pagination.html -->
		</div>
	</div>
</div>

<!-- INCLUDE authors/author_footer.html -->
