{% INCLUDE '@phpbb_titania/authors/author_header.html' %}

<div class="container" id="author-profile">
	<div class="inner">
		<div class="left-column demo">
				{% if USER_AVATAR %}{{ USER_AVATAR }}<br />{% else %}<div class="no-avatar-img">{{ lang('NO_AVATAR') }}</div>{% endif %}
				{% if U_USER_BOARD_PROFILE %}<a href="{{ U_USER_BOARD_PROFILE }}">{{ lang('VIEW_USER_PROFILE') }}</a>{% endif %}
		</div>

		<div class="right-column">
			<ul class="general-info">
				<li>
					<strong>{{ lang('AUTHOR') }}</strong> {{ USER_FULL }}
				</li>
				{% if U_AUTHOR_PROFILE_PHPBB_COM %}
				<li>
					<strong>{{ lang('PHPBB_PROFILE') }}</strong> <a href="{{ U_AUTHOR_PROFILE_PHPBB_COM }}">{{ lang('VIEW') }}</a>
				</li>
				{% endif %}
				{% if AUTHOR_WEBSITE %}
				<li>
					<strong>{{ lang('WEBSITE') }}</strong> {{ AUTHOR_WEBSITE_LINK }}
				</li>
				{% endif %}
				<li>
					<strong>{{ lang('JOINED') }}</strong> {{ USER_JOINED }}
				</li>
				<li>
					<strong>{{ lang('POSTS') }}</strong> {{ USER_POSTS }}
				</li>
				{% if AUTHOR_RATING_STRING %}
				<li>
					<strong>{{ lang('AUTHOR_RATING') }}</strong> {{ AUTHOR_RATING_STRING }} ({{ AUTHOR_RATING_COUNT }})
				</li>
				{% endif %}
				<li>
					<strong>{{ lang('AUTHOR_CONTRIBS') }}</strong> {{ AUTHOR_CONTRIBS }} {% if AUTHOR_CONTRIB_LIST %}(<a href="{{ U_AUTHOR_CONTRIBUTIONS }}">{{ AUTHOR_CONTRIB_LIST }}</a>){% endif %}
				</li>
				{% if U_EMAIL %}
				<li>
					<strong>{{ lang('EMAIL_ADDRESS') }}</strong> <a href="{{ U_EMAIL }}">{{ SEND_EMAIL_USER }}</a>
				</li>
				{% endif %}
				{% if U_PM %}
				<li>
					<strong>{{ lang('PM') }}</strong> <a href="{{ U_PM }}">{{ lang('SEND_PRIVATE_MESSAGE') }}</a>
				</li>
				{% endif %}
				{% if U_JABBER and S_JABBER_ENABLED %}
				<li>
					<strong>{{ lang('JABBER') }}</strong> <a href="{{ U_JABBER }}" onclick="popup(this.href, 550, 320); return false;">{{ lang('SEND_JABBER_MESSAGE') }}</a>
				</li>
				{% endif %}
			</ul>

			{% if AUTHOR_DESC %}
			<dl class="contrib-description">
				<dt><strong>{{ lang('DESCRIPTION') }}</strong></dt>
				<dd>{{ AUTHOR_DESC }}</dd>
			</dl>
			{% endif %}

			{% if USER_SIG %}

			<dl class="contrib-description">
				<dt><strong>{{ lang('SIGNATURE') }}</strong></dt>
				<dd>{{ USER_SIG }}</dd>
			</dl>
			{% endif %}

		</div>
	</div>
</div>
{% INCLUDE '@phpbb_titania/authors/author_footer.html' %}
