{% INCLUDE '@phpbb_titania/authors/author_header.html' %}


<h3 class="section-name">{{ PAGE_TITLE }}</h3>

<div class="container">
	<div class="inner">
		<div class="contrib-list-container author-contribs">
			<div class="action-bar top">
				{% INCLUDE '@phpbb_titania/common/pagination.html' %}
			</div>

			{% INCLUDE '@phpbb_titania/common/contribution_list.html' %}

			<div class="action-bar bottom">
				{% INCLUDE '@phpbb_titania/common/pagination.html' %}
			</div>
		</div>
	</div>
</div>

{% INCLUDE '@phpbb_titania/authors/author_footer.html' %}
