<!-- INCLUDE overall_header.html -->

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{FAQ_SUBJECT}</h3>
		<span style="font-size: 10px;">{CONTRIB_VERSION}</span>
		<p>{FAQ_TEXT}</p>
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_SIMILAR_FAQ}</h3>
		<ul style="padding-left: 20px;">
			<!-- BEGIN similarfaq -->
			<li><a href="{similarfaq.U_FAQ}">{similarfaq.SUBJECT}</a></li>
			<!-- BEGINELSE -->
			<li>{L_NO_SIMILAR_FAQ}</li>
			<!-- END similarfaq -->
		</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>

<p><a href="{U_OTHERS_FAQ}" class="medium">{L_OTHER_FAQ}</a></p>

<!-- INCLUDE overall_footer.html -->