{% INCLUDE '@phpbb_titania/manage/manage_header.html' %}

<div class="panel">
	<div class="inner">

		{% for tools in loops.tools %}
			<div class="manage-tool">
			<a href="{{ tools.U_TITLE }}"{% if tools.S_AJAX %}data-ajax="titania.manage.tool"{% endif %}>{{ tools.L_TITLE }}</a>
			{% if tools.S_AJAX %}
				<div class="tool-info" style="display: none;">
					<span class="tool-message"></span>
					<div class="tool-progressbar" style="display: none;"><div class="tool-progress"></div></div>
				</div>
			{% endif %}
			{% if not tools.S_LAST_ROW %}
				<hr class="dashed" />
			{% endif %}
			</div>
		{% endfor %}

	</div>
</div>

{% INCLUDE '@phpbb_titania/manage/manage_footer.html' %}
