<!-- INCLUDE manage/manage_header.html -->

<div class="panel">
	<div class="inner">

		<!-- BEGIN tools -->
			<div class="manage-tool">
			<a href="{tools.U_TITLE}"<!-- IF tools.S_AJAX -->data-ajax="titania.manage.tool"<!-- ENDIF -->>{tools.L_TITLE}</a>
			<!-- IF tools.S_AJAX -->
				<div class="tool-info" style="display: none;">
					<span class="tool-message"></span>
					<div class="tool-progressbar" style="display: none;"><div class="tool-progress"></div></div>
				</div>
			<!-- ENDIF -->
			<!-- IF not tools.S_LAST_ROW -->
				<hr class="dashed" />
			<!-- ENDIF -->
			</div>
		<!-- END tools -->

	</div>
</div>

<!-- INCLUDE manage/manage_footer.html -->
