{% INCLUDE '@phpbb_titania/manage/manage_header.html' %}

{% if loops.attention|length %}
	<h3 class="clear-top">{{ lang('OPEN_ITEMS') }}</h3>
	{% for attention in loops.attention %}
	<div class="attention{% if attention.S_LAST_ROW %} last{% endif %}">
		<h4>{{ lang('REASON') ~ lang('COLON') ~ attention.ATTENTION_REASON }}</h4>
		<p class="author">{{ lang('POST_BY_AUTHOR') }} {{ attention.REPORTER_USER_FULL }} &raquo; {{ attention.ATTENTION_TIME }}</p>

		{% if attention.ATTENTION_DESCRIPTION %}
		<div class="content">
			{{ attention.ATTENTION_DESCRIPTION }}
		</div>
		{% endif %}

		{% if attention.S_REPORTED %}
			<p class="rules">
				<a href="{{ attention.U_CLOSE }}" class="button1">{{ lang('CLOSE_REPORT') }}</a>
				<a href="{{ attention.U_DELETE }}" class="button2">{{ lang('DELETE_REPORT') }}</a>
			</p>
		{% endif %}
	</div>
{% endfor %}
	</div>
</div>

<div class="container">
	<div class="inner">
{% endif %}
		<h3 class="clear-top">{{ OBJECT_TYPE }}</h3>
		{% if PARENT %}
		<p>
			{{ lang('PARENT_CONTRIBUTION') ~ lang('COLON') }} <a href="{{ U_PARENT }}">{{ PARENT }}</a>
		</p>
		{% endif %}
		<div class="panel">
			<div class="inner">

			<div class="postbody full">
				{% if U_EDIT %}
				<div class="break-ajax"><ul class="post-buttons">
					<li><a href="{{ U_EDIT }}" title="{{ lang('EDIT_POST') }}" class="button icon-button edit-icon"><span>{{ lang('EDIT_POST') }}</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i></a></li>
				</ul></div>
				{% endif %}

				<h3><a href="{{ U_VIEW }}">{{ POST_SUBJECT }}</a></h3>
				<p class="author">{{ MINI_POST_IMG }} {{ lang('POSTED') }} {{ lang('POST_BY_AUTHOR') }} {{ POSTER_USER_FULL }} &raquo; {{ POST_DATE }}</p>

				{% if S_UNAPPROVED %}
					<a href="{{ U_APPROVE }}" class="button1">{{ lang('APPROVE') }}</a>
					<a href="{{ U_DISAPPROVE }}" class="button2">{{ lang('DISAPPROVE') }}</a>
				{% endif %}

				<div class="content">
					{{ POST_TEXT }}
				</div>

				{% if loops.attachment|length %}
					<dl class="attachbox">
						<dt>{{ lang('ATTACHMENTS') }}</dt>
						{% for attachment in loops.attachment %}
							<dd>{{ attachment.DISPLAY_ATTACHMENT }}</dd>
						{% endfor %}
					</dl>
				{% endif %}

				{% if EDITED_MESSAGE or DELETED_MESSAGE %}
					<div class="notice">
						{{ EDITED_MESSAGE }}{% if EDITED_MESSAGE and DELETED_MESSAGE %}<br />{% endif %}{{ DELETED_MESSAGE }}
						{% if POST_EDIT_REASON %}<br /><strong>{{ lang('REASON') ~ lang('COLON') }}</strong> <em>{{ POST_EDIT_REASON }}</em>{% endif %}
					</div>
				{% endif %}
			</div>

		</div>
	</div>

{% if loops.attention_closed|length %}
	</div>
</div>

<div class="container">
	<div class="inner">
	<h3 class="clear-top">{{ lang('CLOSED_ITEMS') }}</h3>

	{% for attention_closed in loops.attention_closed %}
	<div class="attention{% if attention_closed.S_LAST_ROW %} last{% endif %}">
		<h4>{{ lang('REASON') ~ lang('COLON') ~ attention_closed.ATTENTION_REASON }}</h4>
		<p class="author">{{ lang('POST_BY_AUTHOR') }} {{ attention_closed.REPORTER_USER_FULL }} &raquo; {{ attention_closed.ATTENTION_TIME }}</p>
		<p class="author attention-closed">{{ attention_closed.CLOSED_BY_LABEL }} {{ attention_closed.CLOSER_USER_FULL }} &raquo; {{ attention_closed.ATTENTION_CLOSE_TIME }}</p>

		{% if attention_closed.ATTENTION_DESCRIPTION %}
		<div class="content">
			{{ attention_closed.ATTENTION_DESCRIPTION }}
		</div>
		{% endif %}
	</div>
	{% endfor %}
{% endif %}

{% INCLUDE '@phpbb_titania/manage/manage_footer.html' %}
