{% INCLUDE '@phpbb_titania/manage/manage_header.html' %}

{% if S_ADD_CATEGORY or S_EDIT_CATEGORY %}
{% if ERROR_MSG %}<p class="error">{{ ERROR_MSG }}</p>{% endif %}
<form name="postform" method="post" action="{{ U_ACTION }}">
	<div class="panel" id="addcategory">
		<div class="inner">

			<h3>{{ lang('CATEGORY_INFORMATION') }}</h3>

			<fieldset>
			<dl>
				<dt><label for="category_name">{{ lang('CATEGORY_NAME') ~ lang('COLON') }}</label></dt>
				<dd><input type="text" name="category_name" id="category_name" size="45" maxlength="60" value="{{ CATEGORY_NAME }}" class="inputbox autowidth" /></dd>
			</dl>
			<dl>
				<dt><label for="category_name">{{ lang('CATEGORY_NAME_CLEAN') ~ lang('COLON') }}</label></dt>
				<dd><input type="text" name="category_name_clean" id="category_name_clean" size="45" maxlength="60" value="{{ CATEGORY_NAME_CLEAN }}" class="inputbox autowidth" /></dd>
			</dl>
			<dl>
				<dt><label for="category_parent">{{ lang('PARENT_CATEGORY') ~ lang('COLON') }}</label></dt>
					<dd><label><select name="category_parent" id="category_parent">
						<option value="0">-- {{ lang('ROOT') }} --</option>
						{% for category_select in loops.category_select %}
						<option value="{{ category_select.VALUE }}"{% if category_select.S_SELECTED %} selected="selected"{% endif %}>
							{% for level in category_select.level %}&nbsp; &nbsp;{% endfor %}{{ category_select.NAME }}
						</option>
						{% endfor %}
					</select></label></dd>
			</dl>
			<dl>
				<dt><label for="category_visible">{{ lang('MAKE_CATEGORY_VISIBLE') ~ lang('COLON') }}</label></dt>
				<dd><label><input type="radio" class="radio" id="category_visible" name="category_visible" value="1"{% if CATEGORY_VISIBLE %} checked{% endif %} />{{ lang('YES') }}</label>&nbsp;<label><input type="radio" class="radio" name="category_visible" value="0"{% if not CATEGORY_VISIBLE %} checked{% endif %} />{{ lang('NO') }}</label></dd>
			</dl>
			<dl>
				<dt><label for="category_type">{{ lang('CATEGORY_TYPE') ~ lang('COLON') }}</label><br /><span>{{ lang('CATEGORY_TYPE_EXPLAIN') }}</span></dt>
				<dd>
					<select name="category_type" id="category_type">
						{% for type_select in loops.type_select %}
						<option value="{{ type_select.VALUE }}"{% if type_select.S_IS_SELECTED %} selected="selected"{% endif %}>{{ type_select.NAME }}</option>
						{% endfor %}
					</select>
				</dd>
			</dl>
			<dl>
				<dt><label for="message">{{ lang('CATEGORY_DESC') ~ lang('COLON') }}</label></dt>
			</dl>
			</fieldset>
			{% INCLUDE '@phpbb_titania/posting/posting_basic_editor.html' %}
		</div>
	</div>
	<div class="panel">
		<div class="inner">
			<h3>{{ lang('CATEGORY_OPTIONS') }}</h3>
			<fieldset class="fields1">
				<label for="integrate_demo">
					<input type="checkbox" name="integrate_demo" id="integrate_demo" {{ S_INTEGRATE_DEMO }} />
					{{ lang('INTEGRATE_DEMO') }}
				</label><br />
				<label for="support_all_versions">
					<input type="checkbox" name="support_all_versions" id="support_all_versions" {{ S_SUPPORT_ALL_VERSIONS }} />
					{{ lang('SUPPORT_ALL_VERSIONS') }}
				</label><br />
				<label for="team_only">
					<input type="checkbox" name="team_only" id="team_only" {{ S_TEAM_ONLY }} />
					{{ lang('TEAM_ONLY') }}
				</label>
			</fieldset>
		</div>
	</div>
	<div class="panel bg2">
		<div class="inner">
			<fieldset class="submit-buttons">
				<input type="reset" name="reset" value="{{ lang('RESET') }}" class="button2" />&nbsp;
				<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />
				{{ S_FORM_TOKEN }}
			</fieldset>
		</div>
	</div>
</form>

{% elseif S_DELETE_CATEGORY %}
{% if ERROR_MSG %}<p class="error">{{ ERROR_MSG }}</p>{% endif %}
<form method="post" action="{{ U_ACTION }}">
	<div class="panel">
		<div class="inner">
			<fieldset>
				<dl>
					<dt><label>{{ lang('CATEGORY_NAME') ~ lang('COLON') }}</label></dt>
					<dd><strong>{{ CATEGORY_NAME }}</strong></dd>
				</dl>
				<dl>
					<dt><label for="delete_action">{{ lang('CONTRIBUTIONS') ~ lang('COLON') }}</label></dt>
					<dd><label><input type="radio" class="radio" id="delete_action" name="action_contribs" value="delete" checked="checked" /> {{ lang('DELETE_ALL_CONTRIBS') }}</label></dd>
						<dd><label><input type="radio" class="radio" name="action_contribs" id="action_contribs" value="move" /> {{ lang('MOVE_CONTRIBS_TO') }}</label> <select name="contribs_to_id" onclick="document.getElementById('action_contribs').checked=true;">
						{% for category_select in loops.category_select %}
						<option value="{{ category_select.VALUE }}"{% if category_select.S_SELECTED %} selected="selected"{% endif %}>
							{% for level in category_select.level %}&nbsp; &nbsp;{% endfor %}{{ category_select.NAME }}
						</option>
						{% endfor %}
					</select></dd>
				</dl>
			</fieldset>
			<fieldset class="submit-buttons">
				<input type="submit" name="submit" value="{{ lang('DELETE') }}" class="button1" />
				{{ S_FORM_TOKEN }}
			</fieldset>
		</div>
	</div>
</form>

{% else %}
	{% INCLUDE '@phpbb_titania/common/category_list.html' %}
{% endif %}

{% INCLUDE '@phpbb_titania/manage/manage_footer.html' %}
