{% include 'manage/manage_header.html' %}

<form id="config_settings" method="post" action="{{ U_ACTION }}" name="config_settings">
	<div class="panel">
		<div class="inner">
			<fieldset>
				{% for config, options in loops.options %}
					<dl>
						<dt><label for="{{ options.NAME }}">{{ lang(options.NAME|upper) }}:</label><br /><span>{{ lang(options.NAME|upper ~ '_EXPLAIN') }}</span></dt>
						<dd>
							{% if options.TYPE === 'string' %}
								<input type="text" name="{{ options.NAME }}" id="{{ options.NAME }}" size="50" value="{{ options.VALUE }}" class="inputbox autowidth">
							{% elseif options.TYPE === 'int' %}
								<input type="number" name="{{ options.NAME }}" id="{{ options.NAME }}" min="-9999999999" max="9999999999" value="{{ options.VALUE }}" class="inputbox autowidth">
							{% elseif options.TYPE === 'bool' %}
								<input type="radio" name="{{ options.NAME }}" value="1" {% if options.VALUE %}checked="checked"{% endif %} /> {{ lang('YES') }}
								<input type="radio" name="{{ options.NAME }}" value="0" {% if not options.VALUE %}checked="checked"{% endif %} /> {{ lang('NO') }}
							{% elseif options.TYPE === 'array|string' %}
								{% for subKey, subValue in options.VALUE %}
									<label for="{{ options.NAME }}_{{ subKey }}"><input type="text" name="{{ options.NAME }}_{{ subKey }}" id="{{ options.NAME }}_{{ subKey }}" size="50" value="{{ subValue }}" class="inputbox autowidth"> {{ lang('TI_KEY_' ~ subKey) }}</label><br />
								{% endfor %}
							{% elseif options.TYPE === 'array|int' %}
								{% for subKey, subValue in options.VALUE %}
									<label for="{{ options.NAME }}_{{ subKey }}"><input type="number" name="{{ options.NAME }}_{{ subKey }}" id="{{ options.NAME }}_{{ subKey }}" min="-9999999999" max="9999999999" value="{{ subValue }}" class="inputbox autowidth"> {{ lang('TI_KEY_' ~ subKey) }} </label><br />
								{% endfor %}
							{% elseif options.TYPE === 'array|forums' %}
								{% for subKey, subValue in options.VALUE %}
									<label for="{{ options.NAME }}_{{ subKey }}">
										<select id="{{ options.NAME }}_{{ subKey }}" name="{{ options.NAME }}_{{ subKey }}">
											<option value="0">{{ lang('SELECT_FORUM') }}</option>
											{% for f_id, f_row in FORUM_SELECT %}
												<option value="{{ f_id }}"{{ f_id == subValue ? ' selected="selected"' }}{{ f_row.disabled ? ' disabled="disabled" class="disabled-option"' }}> {{ f_row.padding ~ f_row.forum_name }}</option>
											{% endfor %}
										</select> {{ lang('TI_KEY_' ~ subKey) }}
									</label><br /><br />
								{% endfor %}
							{% elseif options.TYPE === 'groups' %}
								<select id="{{ options.NAME }}" name="{{ options.NAME }}[]" size="5" multiple="multiple"  class="inputbox autowidth">
									{% for group in GROUP_SELECT %}
										<option value="{{ group.group_id }}"{% if group.group_id in options.VALUE %} selected="selected"{% endif %}>{{ group.group_name }}</option>
									{% endfor %}
								</select>
							{% endif %}
						</dd>
					</dl>
					{% if not loop.last %}<hr />{% endif %}
				{% endfor %}
			</fieldset>
		</div>
	</div>
	<div class="panel bg2">
		<div class="inner">
			<fieldset class="submit-buttons">
				<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
				<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
				{{ S_HIDDEN_FIELDS }}
				{{ S_FORM_TOKEN }}
			</fieldset>
		</div>
	</div>
</form>

{% include 'manage/manage_footer.html' %}
