{% include 'manage/manage_header.html' %}

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="config_settings" method="post" action="{{ U_ACTION }}" name="config_settings" autocomplete="off"{# data-ajax="true"#}>
	<div class="panel">
		<div class="inner">
			{% for config, options in loops.options %}
				<fieldset>
					<dl>
						<dt><label for="{{ options.NAME }}">${{ options.NAME }}:</label><br /><span>{{ lang(options.NAME|upper) }}</span></dt>
						<dd>
							{% if options.TYPE === 'string' %}
								<input type="text" name="{{ options.NAME }}" id="{{ options.NAME }}" size="50" value="{{ options.VALUE }}" class="inputbox autowidth">
							{% elseif options.TYPE === 'int' %}
								<input type="number" name="{{ options.NAME }}" id="{{ options.NAME }}" min="0" max="9999999999" value="{{ options.VALUE }}" class="inputbox autowidth">
							{% elseif options.TYPE === 'bool' %}
								<input type="radio" name="{{ options.NAME }}" value="1" {% if options.VALUE %}checked="checked"{% endif %} /> {{ lang('YES') }}
								<input type="radio" name="{{ options.NAME }}" value="0" {% if not options.VALUE %}checked="checked"{% endif %} /> {{ lang('NO') }}
							{% elseif options.TYPE === 'array|string' %}
								{% for subKey, subValue in options.VALUE %}
									<label for="{{ options.NAME }}_{{ subKey }}">{{ lang('KEY_' ~ subKey) }} <input type="text" name="{{ options.NAME }}_{{ subKey }}" id="{{ options.NAME }}_{{ subKey }}" size="50" value="{{ subValue }}" class="inputbox autowidth"></label><br />
								{% endfor %}
							{% elseif options.TYPE === 'array|int' %}
								{% for subKey, subValue in options.VALUE %}
									<label for="{{ options.NAME }}_{{ subKey }}">{{ lang('KEY_' ~ subKey) }} <input type="number" name="{{ options.NAME }}_{{ subKey }}" id="{{ options.NAME }}_{{ subKey }}" min="0" max="9999999999" value="{{ subValue }}" class="inputbox autowidth"></label><br />
								{% endfor %}
							{% elseif options.TYPE === 'array|forums' %}
								{% for subKey, subValue in options.VALUE %}
									<label for="{{ options.NAME }}_{{ subKey }}">{{ lang('KEY_' ~ subKey) }}
										<select id="{{ options.NAME }}_{{ subKey }}" name="{{ options.NAME }}_{{ subKey }}">
											<option value="0">{{ lang('SELECT_FORUM') }}</option>
											{% for f_id, f_row in FORUM_SELECT %}
												<option value="{{ f_id }}"{{ f_id == subValue ? ' selected="selected"' }}{{ f_row.disabled ? ' disabled="disabled" class="disabled-option"' }}> {{ f_row.padding ~ f_row.forum_name }}</option>
											{% endfor %}
										</select>
									</label><br />
								{% endfor %}
							{% endif %}
						</dd>
					</dl>
				</fieldset>
			{% endfor %}
		</div>
	</div>
	<div class="panel">
		<div class="inner">
		<fieldset>
			<p class="submit-buttons">
				<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
				<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			</p>
			{{ S_HIDDEN_FIELDS }}
			{{ S_FORM_TOKEN }}
		</fieldset>
		</div>
	</div>
</form>

{% include 'manage/manage_footer.html' %}
