{% INCLUDE '@phpbb_titania/manage/manage_header.html' %}

{% if loops.queue_tags|length %}
<div class="forabg" id="categories">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt>{{ lang('CATEGORY') }}</dt>
				<dd class="general">{{ lang('CONTRIBUTIONS') }}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">

	{% for queue_tags in loops.queue_tags %}
		<li class="row{% if queue_tags.S_SELECTED %} bg3{% elseif queue_tags.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
			<dl>
				<dt>
					<div class="list-inner">
						<a href="{{ queue_tags.U_VIEW_TAG }}" class="forumtitle">{{ queue_tags.TAG_NAME }}</a>
					</div>
				</dt>
				<dd class="general">{{ queue_tags.TAG_COUNT }} <dfn>{{ lang('CONTRIBUTIONS') }}</dfn></dd>
			</dl>
		</li>
		{% endfor %}

		</ul>
	</div>
</div>
{% endif %}

{% if S_QUEUE_LIST %}
	{% INCLUDE '@phpbb_titania/common/category_list.html' %}
{% elseif S_TOPIC_LIST %}
	{% INCLUDE '@phpbb_titania/common/topic_list.html' %}
{% else %}
	{% INCLUDE '@phpbb_titania/common/post_list.html' %}
{% endif %}

{% INCLUDE '@phpbb_titania/manage/manage_footer.html' %}
