{% INCLUDE 'overall_header.html' %}

<form id="{{ POSTING_FORM_NAME }}" method="post" action="{{ S_CONFIRM_ACTION }}" {{ S_FORM_ENCTYPE }}>

{% if S_DISPLAY_PREVIEW %}{% INCLUDE '@phpbb_titania/posting/posting_preview.html' %}{% endif %}

{% if PUBLIC_PREVIEW_MESSAGE %}
<div class="post bg2" id="preview">
	<div class="inner">
	<div class="postbody">
		<h3>{{ lang('PREVIEW') ~ lang('COLON') }} {{ PUBLIC_PREVIEW_SUBJECT }}</h3>

		<div class="content">{{ PUBLIC_PREVIEW_MESSAGE }}</div>
	</div>

	</div>
</div>

<hr />
{% endif %}


<div class="panel">
	<div class="inner">

	<h2>{{ PAGE_TITLE }}</h2>
	<p>{{ PAGE_TITLE_EXPLAIN }}</p>

	<fieldset>
		{% if S_STYLE_DEMO_INSTALL %}
		<dl>
			<dt><label for="name">{{ lang('STYLE_DEMO_INSTALL') ~ lang('COLON') }}</label></dt>
			<dd><input type="checkbox" name="style_demo_install" id="style_demo_install"{% if S_STYLE_DEMO_INSTALL_CHECKED %} checked="checked"{% endif %} /></dd>
		</dl>
		{% endif %}
		<dl>
			<dt><label for="{{ POSTING_TEXT_NAME }}">{{ lang('VALIDATION_MESSAGE') ~ lang('COLON') }}</label></dt>
		</dl>
	</fieldset>
	{% INCLUDE '@phpbb_titania/posting/posting_basic_editor.html' %}

	{% if S_PUBLIC_NOTES %}
	<fieldset>
		<dl>
			<dt><label for="public_notes">{{ lang('PUBLIC_NOTES') ~ lang('COLON') }}</label></dt>
		</dl>
		<div id="message-box">
			<textarea name="public_notes" id="public_notes" rows="10" cols="76" class="inputbox">{{ PUBLIC_MESSAGE }}</textarea>
		</div>
	</fieldset>
	{% endif %}

	<fieldset class="submit-buttons">
		{{ S_HIDDEN_FIELDS }}
		{{ S_FORM_TOKEN }}
		<input type="hidden" id="open_panel" name="open_panel" value="{{ POSTING_PANELS_DEFAULT }}" />
		<input type="submit" tabindex="3" name="preview" value="{{ lang('PREVIEW') }}" class="button1" />&nbsp;
		<input type="submit" tabindex="4" accesskey="s" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />&nbsp;
	</fieldset>

	</div>
</div>
{% INCLUDE '@phpbb_titania/posting/posting_topic_review.html' %}
</form>

{% INCLUDE 'overall_footer.html' %}
