{% INCLUDE '@phpbb_titania/manage/manage_header.html' %}

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="stk" method="post" action="{{ S_ACTION }}" name="support_tool_kit" autocomplete="off">

	{% for options in loops.options %}
		{% if options.S_LEGEND or options.S_FIRST_ROW %}
			{% if not options.S_FIRST_ROW %}
				</fieldset>
			{% endif %}
			<fieldset>
				<legend>{{ options.LEGEND }}</legend>
		{% endif %}

		{% if not options.S_LEGEND%}
			<dl>
				<dt><label for="{{ options.KEY }}">{{ options.TITLE ~ lang('COLON') }}</label>{% if options.S_EXPLAIN %}<br /><span>{{ options.TITLE_EXPLAIN }}</span>{% endif %}</dt>
				<dd>{{ options.CONTENT }}</dd>
				{% if options.S_FIND_USER %}<dd>[ <a href="{{ options.U_FIND_USER }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>{% endif %}
			</dl>

		{% endif %}
	{% endfor %}

	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
	</p>
	{{ S_HIDDEN_FIELDS }}
	{{ S_FORM_TOKEN }}
</fieldset>
</form>

{% INCLUDE '@phpbb_titania/manage/manage_footer.html' %}
