<!-- INCLUDE common/overall_header.html -->

<h2 class="solo">{L_SEARCH}</h2>

<form method="post" action="{S_SEARCH_ACTION}">

<div class="panel">
	<div class="inner">
	<h3>{L_SEARCH_QUERY}</h3>

	<fieldset>
	<dl>
		<dt><label for="keywords">{L_SEARCH_KEYWORDS}:</label><br /><span>{L_SEARCH_KEYWORDS_EXPLAIN}</span></dt>
		<dd><input type="text" class="inputbox" name="keywords" id="keywords" size="40" title="{L_SEARCH_KEYWORDS}" /></dd>
		<!--<dd><label for="terms1"><input type="radio" name="terms" id="terms1" value="all" checked="checked" /> {L_SEARCH_ALL_TERMS}</label></dd>
		<dd><label for="terms2"><input type="radio" name="terms" id="terms2" value="any" /> {L_SEARCH_ANY_TERMS}</label></dd>-->
	</dl>
	<dl>
		<dt><label for="author">{L_SEARCH_AUTHOR}:</label><!--<br /><span>{L_SEARCH_AUTHOR_EXPLAIN}</span>--></dt>
		<dd><input type="text" class="inputbox" name="author" id="author" size="40" title="{L_SEARCH_AUTHOR}" /></dd>
	</dl>
	<dl>
		<dt><label for="contrib_category">{L_CONTRIB_CATEGORY}:</label><br /><span>{L_MULTI_SELECT_EXPLAIN}</span></dt>
		<dd>
			<select name="c[]" id="contrib_category" multiple="multiple" size="5">
				<!-- BEGIN category_select -->
				<option class="type_{category_select.TYPE}" value="{category_select.VALUE}"<!-- IF category_select.S_SELECTED --> selected="selected"<!-- ENDIF --><!-- IF category_select.S_DISABLED --> disabled="disabled"<!-- ENDIF -->>
					<!-- BEGIN level -->&nbsp; &nbsp;<!-- END level -->{category_select.NAME}
				</option>
				<!-- END category_select -->
			</select>
		</dd>
	</dl>
	<dl>
		<dt><label for="search_child1">{L_SEARCH_SUBCATEGORIES}:</label></dt>
		<dd>
			<label for="search_child1"><input type="radio" name="sc" id="search_child1" value="1" checked="checked" /> {L_YES}</label>
			<label for="search_child2"><input type="radio" name="sc" id="search_child2" value="0" /> {L_NO}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="versions">{L_PHPBB_VERSION}:</label></dt>
		<dd><select name="versions[]" multiple="multiple" size="5">
			<!-- BEGIN phpbb_versions -->
				<option value="{phpbb_versions.VERSION}"<!-- IF phpbb_versions.S_SELECTED --> selected="selected"<!-- ENDIF -->>{phpbb_versions.VERSION}</option>
			<!-- END phpbb_versions -->
		</select></dd>
	</dl>
	</fieldset>

	</div>
</div>

<div class="panel bg2">
	<div class="inner">

	<h3>{L_SEARCH_OPTIONS}</h3>

	<fieldset>
	<dl>
		<dt><label for="sf1">{L_SEARCH_WITHIN}:</label></dt>
		<dd><label for="sf1"><input type="radio" name="sf" id="sf1" value="" checked="checked" /> {L_CONTRIB_NAME_DESCRIPTION}</label></dd>
		<dd><label for="sf2"><input type="radio" name="sf" id="sf2" value="msgonly" /> {L_CONTRIB_DESCRIPTION}</label></dd>
		<dd><label for="sf3"><input type="radio" name="sf" id="sf3" value="titleonly" /> {L_CONTRIB_NAME}</label></dd>
	</dl>
	</fieldset>

	</div>
</div>

<div class="panel bg3">
	<div class="inner">

	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{L_SEARCH}" class="button1" />
	</fieldset>

	</div>
</div>

</form>

<!-- INCLUDE common/overall_footer.html -->
