<!-- INCLUDE common/overall_header.html -->

<h2>{L_CUSTOMISATION_DATABASE}</h2>

<!-- IF .categories or U_QUEUE_STATS -->
<ul class="linklist">
	<li>
		<!-- IF U_ALL_SUPPORT --><a href="{U_ALL_SUPPORT}">{L_ALL_SUPPORT}</a>
		&bull; <!-- ENDIF --><a href="{U_ALL_CONTRIBUTIONS}">{L_ALL_CONTRIBUTIONS}</a>
		<!-- IF U_FIND_CONTRIBUTION -->&bull; <a href="{U_FIND_CONTRIBUTION}">{L_FIND_CONTRIBUTION}</a><!-- ENDIF -->
		<!-- IF U_QUEUE_STATS --> &bull; <a href="{U_QUEUE_STATS}">{L_QUEUE_STATS}</a><!-- ENDIF -->
	</li>
	<li class="rightside">
		<!-- IF not S_IS_BOT and U_MARK_FORUMS --><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a><!-- ENDIF -->
		<!-- IF U_TITANIA_SEARCH_SELF --><!-- IF not S_IS_BOT and U_MARK_FORUMS --> &bull; <!-- ENDIF --><a href="{U_TITANIA_SEARCH_SELF}">{L_SEARCH_SELF}</a><!-- ENDIF -->
	</li>
</ul>
<!-- ENDIF -->

<!-- INCLUDE common/category_list.html -->

<!-- IF not .categories or .contribs -->
	<!-- IF U_CREATE_CONTRIBUTION or PAGINATION or TOTAL_RESULTS -->
	<div class="topic-actions" style="margin-top: 2em;">
		<div class="buttons">
		<!-- IF U_CREATE_CONTRIBUTION -->
			<a href="{U_CREATE_CONTRIBUTION}" title="{L_NEW_CONTRIBUTION}" class="button icon-button post-icon">{L_NEW_CONTRIBUTION}</a>
		<!-- ENDIF -->
		</div>

		<!-- IF S_DISPLAY_SEARCHBOX -->
			<div class="search-box">
				<form method="post" id="category-search" action="{S_SEARCHBOX_ACTION}">
				<fieldset>
					<input class="inputbox search tiny" type="text" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_MINI}" />
					<input class="button2" type="submit" name="submit" value="{L_SEARCH}" />
					<input type="hidden" value="{CATEGORY_ID}" name="c[]" />
					<input type="hidden" value="1" name="sc" />
				</fieldset>
				</form>
			</div>
		<!-- ENDIF -->

		<!-- INCLUDE common/pagination.html -->
	</div>
	<!-- ENDIF -->

	<div class="forumbg contributions-list">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>{L_CONTRIBUTIONS}</dt>
						<dd class="general contribution-phpbb-version">{L_PHPBB_VERSION}</dd>
						<dd class="general">{L_INFORMATION}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist topics">

				<!-- INCLUDE common/contribution_list.html -->

			</ul>
		</div>
	</div>

	<!-- INCLUDE common/sort.html -->

	<!-- IF U_CREATE_CONTRIBUTION or PAGINATION or TOTAL_RESULTS -->
	<div class="topic-actions">
		<div class="buttons">
		<!-- IF U_CREATE_CONTRIBUTION -->
			<a href="{U_CREATE_CONTRIBUTION}" title="{L_NEW_CONTRIBUTION}" class="button icon-button post-icon">{L_NEW_CONTRIBUTION}</a>
		<!-- ENDIF -->
		</div>

		<!-- INCLUDE common/pagination.html -->
	</div>
	<!-- ENDIF -->
<!-- ENDIF -->

<br />

<!-- INCLUDE common/overall_footer.html -->
