{% if S_HAS_ATTACHMENTS %}
	<div class="panel bg2">
		<div class="inner">
		<h3>{{ lang('POSTED_ATTACHMENTS') }}</h3>

		<fieldset class="fields2">

		{% for attach_row in loops.attach_row %}
		<dl>

			<dt><label for="comment_list_{{ attach_row.ASSOC_INDEX }}">{{ lang('FILE_COMMENT') ~ lang('COLON') }}</label></dt>
			<dd><textarea name="comment_list[{{ attach_row.ASSOC_INDEX }}]" id="comment_list_{{ attach_row.ASSOC_INDEX }}" rows="1" cols="35" class="inputbox">{{ attach_row.FILE_COMMENT }}</textarea></dd>
			<dd><a href="{{ attach_row.U_VIEW_ATTACHMENT }}" class="{{ S_CONTENT_FLOW_END }}">{{ attach_row.FILENAME }}</a></dd>
			<dd style="margin-top: 5px;">
				{% if S_INLINE_ATTACHMENT_OPTIONS %}<input type="button" value="{{ lang('PLACE_INLINE') }}" onclick="attach_inline({{ attach_row.ASSOC_INDEX }}, '{{ attach_row.A_FILENAME }}');" class="button2" />&nbsp; {% endif %}
				<input type="submit" name="delete_file[{{ attach_row.ASSOC_INDEX }}]" value="{{ lang('DELETE_FILE') }}" class="button2" />
			</dd>
		</dl>
		{{ attach_row.S_HIDDEN }}
			{% if not attach_row.S_LAST_ROW %}<hr class="dashed" />{% endif %}
		{% endfor %}

		</fieldset>

		</div>
	</div>
{% endif %}
