<div class="post bg2" id="preview">
	<div class="inner">
	<div class="postbody">
		<h3>{{ lang('PREVIEW') ~ lang('COLON') }} {% if PREVIEW_SUBJECT %}{{ PREVIEW_SUBJECT }}{% else %}{{ PAGE_TITLE }}{% endif %}</h3>

		<div class="content">{{ PREVIEW_MESSAGE }}</div>

		{% if loops.preview_attachment|length %}
			<dl class="attachbox">
				<dt>{{ lang('ATTACHMENTS') }}</dt>
				{% for preview_attachment in loops.preview_attachment %}
					<dd>{{ preview_attachment.DISPLAY_ATTACHMENT }}</dd>
				{% endfor %}
			</dl>
		{% endif %}

		{% if PREVIEW_SIGNATURE %}<div class="signature">{{ PREVIEW_SIGNATURE }}</div>{% endif %}
	</div>

	</div>
</div>

<hr />
