{% INCLUDE 'overall_header.html' %}

<h2 class="titlespace">{{ PAGE_TITLE }}</h2>

<form method="post" action="{{ S_CONFIRM_ACTION }}">
<div class="panel">
	<div class="inner">

	<div class="content">
		<p>{{ MESSAGE_TEXT }}</p>

		<fieldset>
		{% if S_CAN_NOTIFY %}
			<dl class="fields2">
				<dt><label for="notify1">{{ lang('REPORT_NOTIFY') ~ lang('COLON') }}</label><br /><span>{{ lang('REPORT_NOTIFY_EXPLAIN') }}</span></dt>
				<dd>
					<label for="notify1"><input type="radio" name="notify" id="notify1" value="1" {% if not S_NOTIFY %}checked="checked"{% endif %} /> {{ lang('YES') }}</label>
					<label for="notify0"><input type="radio" name="notify" id="notify0" value="0" {% if S_NOTIFY %}checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				</dd>
			</dl>
		{% endif %}
		<dl class="fields2">
			<dt><label for="report_text">{{ lang('MORE_INFO') ~ lang('COLON') }}</label><br /><span>{{ lang('CAN_LEAVE_BLANK') }}</span></dt>
			<dd><textarea name="report_text" id="report_text" rows="10" cols="76" class="inputbox">{{ REPORT_TEXT }}</textarea></dd>
		</dl>
		</fieldset>
	</div>

	</div>
</div>

<div class="panel">
	<div class="inner">

	<div class="content">
		<fieldset class="submit-buttons">
			<input type="submit" name="confirm" class="button1" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input type="submit" name="cancel" class="button2" value="{{ lang('CANCEL') }}" />
			{{ S_FORM_TOKEN }}
		</fieldset>
	</div>

	</div>
</div>
</form>

{% INCLUDE 'overall_footer.html' %}
