phpbb.titania.contrib:
    path: /{page}
    defaults: { _controller: phpbb.titania.controller.contrib:base, page: details }
    requirements:
        page: |details|report|queue_discussion|rate

phpbb.titania.contrib.support:
    path: /support
    defaults: { _controller: phpbb.titania.controller.contrib.support:display_support }

phpbb.titania.contrib.support.post_topic:
    path: /support/new
    defaults: { _controller: phpbb.titania.controller.contrib.support:topic_action, topic_id: 0, action: post }

phpbb.titania.contrib.support.topic:
    path: /support/topic/{topic_id}
    defaults: { _controller: phpbb.titania.controller.contrib.support:display_topic }
    requirements:
        topic_id: \d+

phpbb.titania.contrib.support.topic.action:
    path: /support/topic/{topic_id}/{action}
    defaults: { _controller: phpbb.titania.controller.contrib.support:topic_action }
    requirements:
        topic_id: \d+

phpbb.titania.contrib.faq:
    path: /faq
    defaults: { _controller: phpbb.titania.controller.contrib.faq:display_list}

phpbb.titania.contrib.faq.create:
    path: /faq/new
    defaults: { _controller: phpbb.titania.controller.contrib.faq:item_action, action: create, id: 0 }

phpbb.titania.contrib.faq.item:
    path: /faq/{id}
    defaults: { _controller: phpbb.titania.controller.contrib.faq:display_item }
    requirements:
        id: \d+

phpbb.titania.contrib.faq.item.action:
    path: /faq/{id}/{action}
    defaults: { _controller: phpbb.titania.controller.contrib.faq:item_action }
    requirements:
        id: \d+
        page: edit|delete|move_up|move_down

phpbb.titania.contrib.manage:
    path: /manage
    defaults: { _controller: phpbb.titania.controller.contrib.manage:manage }

phpbb.titania.contrib.manage.demo:
    path: /manage/demo/{action}
    defaults: { _controller: phpbb.titania.controller.contrib.manage:manage_demo }
    requirements:
        action: install|delete

phpbb.titania.contrib.revision:
    path: /revision
    defaults: { _controller: phpbb.titania.controller.contrib.revision:add }

phpbb.titania.contrib.revision.repack:
    path: /revision/{id}/repack
    defaults: { _controller: phpbb.titania.controller.contrib.revision:repack }
    requirements:
        id: \d+

phpbb.titania.contrib.revision.edit:
    path: /revision/{id}/edit
    defaults: { _controller: phpbb.titania.controller.contrib.revision.edit:edit }
    requirements:
        id: \d+

phpbb.titania.contrib.demo:
    path: /demo/{branch}
    defaults: { _controller: phpbb.titania.controller.contrib:demo }
    requirements:
        branch: \d\.\d

phpbb.titania.contrib.version_check:
    path: /version_check
    defaults: { _controller: phpbb.titania.controller.contrib:version_check }
