<!-- INCLUDE authors/author_header.html -->

<h3 class="section-name">{PAGE_TITLE}</h3>

<form id="{POSTING_FORM_NAME}" method="post" action="{S_POST_ACTION}" onsubmit="titania_post_submit();" {S_FORM_ENCTYPE}>
	<div class="container">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>
			<!-- IF ERROR_MSG --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->

			<fieldset>
				<dl>
					<dt><label for="realname">{L_AUTHOR_REAL_NAME}:</label></dt>
					<dd><input type="text" name="realname" id="realname" size="45" maxlength="60" value="{AUTHOR_REALNAME}" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="website">{L_WEBSITE}:</label></dt>
					<dd><input type="text" name="website" id="website" size="45" maxlength="60" value="{AUTHOR_WEBSITE}" class="inputbox autowidth" /></dd>
				</dl>
				<!-- IF S_DISPLAY_ENHANCED_EDITOR -->
				<dl>
					<dt><label for="enhanced_editor">{L_ENHANCED_EDITOR}:</label><br /><span>{L_ENHANCED_EDITOR_EXPLAIN}</span></dt>
					<dd><input type="checkbox" name="enhanced_editor" id="enhanced_editor" class="checkbox autowidth"<!-- IF S_ENHANCED_EDITOR --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
				<!-- ENDIF -->
				<dl>
					<dt><label for="{POSTING_TEXT_NAME}">{L_AUTHOR_DESC}:</label></dt>
				</dl>
			</fieldset>
			<!-- INCLUDE posting/posting_basic_editor.html -->
			<fieldset class="fields1">
				<!-- IF S_BBCODE_ALLOWED -->
					<div><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode"{S_BBCODE_CHECKED} /> {L_DISABLE_BBCODE}</label></div>
				<!-- ENDIF -->
				<!-- IF S_SMILIES_ALLOWED -->
					<div><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies"{S_SMILIES_CHECKED} /> {L_DISABLE_SMILIES}</label></div>
				<!-- ENDIF -->
				<!-- IF S_LINKS_ALLOWED -->
					<div><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url"{S_MAGIC_URL_CHECKED} /> {L_DISABLE_MAGIC_URL}</label></div>
				<!-- ENDIF -->
			</fieldset>
		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>

	<div class="container">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>
			<fieldset class="submit-buttons">
				<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
				<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
				{S_FORM_TOKEN}
			</fieldset>

		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>
</form>

<!-- INCLUDE authors/author_footer.html -->