	<!-- IF not S_WIDE --><div class="wide"><!-- ENDIF -->
	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{CONTRIB_CLASS}</dt>
					<dd class="information">Information</dd>
				</dl>

			</li>
		</ul>
		<ul class="topiclist forums">
	<!-- BEGIN contribs -->
			<li class="row">
				<dl>
					<dt><a class="forumtitle" href="{contribs.U_DISPLAY}">{contribs.CONTRIB_NAME}</a>
						{contribs.CONTRIB_VERSION}
						<!-- IF contribs.CONTRIB_REVISION_NAME -->
							"{contribs.CONTRIB_REVISION_NAME}"
						<!-- ENDIF -->

						<br />
						{contribs.CONTRIB_SHORT_DESCRIPTION}
					</dt>
					<dd style="padding: 5px; line-height: 1.4em;">
						<span>By: {contribs.CONTRIB_AUTHOR}</span><br />
						<span>Downloads: {contribs.CONTRIB_DOWNLOADS}</span><br />
						<span>Rating: {contribs.CONTRIB_RATING} / 5</span><br />
						<span>phpBB Version: {contribs.CONTRIB_PHPBB_VERSION}</span>
					</dd>
				</dl>
			</li>
		<!-- BEGINELSE -->
			<li class="row">
				<dl><dt>{CONTRIB_NO_MATCH}</dt></dl>
			</li>
		<!-- END contribs -->
		</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- IF not S_WIDE --></div><!-- ENDIF -->
	<!-- IF U_FEED_ATOM and U_FEED_RSS -->
	<div class="mini-panel feed-stats">
		<div class="inner"><span class="corners-top"><span></span></span>

		<p><a href="{U_FEED_ATOM}">Atom</a> &bull; <a href="{U_FEED_RSS}">RSS</a></p>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->