<form id="postform" method="post" action="{S_POST_ACTION}" onsubmit="return checkForm(this);"{S_FORM_ENCTYPE}>

<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<h3>{L_POST_A}</h3>

	<!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
	<!-- INCLUDE contrib/posting_editor.html -->

	<span class="corners-bottom"><span></span></span></div>
</div>


</form>
<script type="text/javascript">
<!--
	subPanels(show_panel);
-->
</script>