/* General Markup Styles
---------------------------------------- */

/* Common styles
--------------------------------------------- */
h3.clear-top {
	margin-top: 5px;
}

h3.section-name {
	font-size: 1.4em;
	font-weight: normal;
	text-transform: none;
	color: #333333;
	border: 0;
	margin: 8px 0;
}

.main-panel {
	background-color: #C6D8E5;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 5px 10px;
	clear: both;
	position: relative;
	overflow: hidden;
}

.container {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px 0;
}

.rightside {
	float: right;
}

/* Contribution Details
--------------------------------------------- */
.right-column {
	width: 200px;
	float: right;
}

.left-column {
	margin-right: 210px;
}

.demo {
	text-align: center;
}

.demo a {
	font-weight: bold;
	color: #333333;
}

.no-screenshot {
	background: url("./images/no_screenshot.gif") no-repeat 0 0;
	width: 175px;
	height: 19px;
	padding-top: 101px;
	margin: auto;
	color: #D8D8D7;
}

.contrib-download {
	margin-top: 5px;
	position: relative;
	text-align: left;
}


a.download-button, a.colorizeit-button {
	box-sizing: border-box;
	color: #FFFFFF;
	display: inline-block;
	float: left;
	height: 36px;
	font-weight: bold;
	text-decoration: none;
}

a.download-button {
	background-color: #8fbc2e;
	border-radius: 2px;
	padding: 5px;
	width: 100%;
}

.has-colorizeit a.download-button {
	border-radius: 2px 0 0 2px;
	border-right: 1px solid #bbde6f;
	width: 155px;
}

a.colorizeit-button {
	background-color: #5483a8;
	border-radius: 0 2px 2px 0;
	padding: 0 10px;
	width: 45px;
}

a.download-button:before, a.colorizeit-button:before {
	background: url("./images/icons_download.png") no-repeat 0 0;
	content: '';
	display: inline-block;
	float: left;
	height: 25px;
	padding-bottom: 3px;
	transition: .3s opacity, .3s background-position;
	width: 25px;
}

a.download-button:before {
	margin-right: 5px;
}

a.colorizeit-button:before {
	background-position: -26px -2px;
	margin-top: 8px;
	width: 22px;
}

a.download-button:hover:before, a.colorizeit-button:hover:before {
	opacity: 0.8;
}

a.download-button:hover:before {
	background-position: 0 3px;
}

a.download-button span {
	display: block;
}

a.download-button .vendor-version {
	color: #D7EFC5;
	font-weight: normal;
}

.download-info {
	background-color: #ededee;
	border-radius: 2px;
	left: -235px;
	line-height: 1.6em;
	padding: 5px 10px 10px;
	position: absolute;
	visibility: hidden;
	width: 210px;
	z-index: 9;
}

.contrib-download:hover .download-info {
	visibility: visible;
}

.download-info dl {
	margin-top: 5px;
}

.download-info dt {
	font-weight: bold;
}

.contrib-description {
	font-size: 1.1em;
	margin-bottom: 15px;
	position: relative;
}

.contrib-description dt, h3.details-heading {
	color: #536482;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin-bottom: 3px;
	padding-bottom: 4px;
	border-bottom: 1px solid #E1E1E1;
	margin-top: 6px;
	text-transform: none;
}

.content h3.details-heading {
	font-size: .9em;
	margin-bottom: 6px;
}

.contrib-description dt strong {
	margin-top: 6px;
	padding-bottom: 12px;
}

.contrib-description ul.profile-icons {
	padding: 0;
	float: right;
	margin-top: -6px;
}

.contrib-description .icon-subscribe, .contrib-description .icon-unsubscribe {
	padding-top: 4px;
}

.contrib-description dd ul, .contrib-description dd ol {
	margin-left: 3em;
}

.contrib-description dd dl.codebox dt {margin-top: 1px;}

ul.general-info {
	border: 1px solid #EAF3F7;
	clear: left;
}

.right-column ul.general-info {
	clear: right;
}

ul.general-info li {
	list-style: none;
	display: block;
	border-bottom: 1px solid #FFFFFF;
	font-size: 1.1em;
	vertical-align: middle;
	line-height: 20px;
}

ul.general-info li li {
	line-height: 1em !important;
}

ul.general-info li strong {
	width: 25%;
	display: block;
	float: left;
	background-color: #F6FAFC;
	padding-left: 10px;
	margin-right: 10px;
}

.license-info {
	line-height: 31px;
	vertical-align: top;
}

.has-submenu:hover .dropdown {
	display: block;
}

#extratabs #extratabs-head {
	width: 98%;
	border-bottom: 1px solid #E5E5E6;
	display: block;
	float: left;
	margin-bottom: 5px;
	padding-left: 2%;
	padding-bottom: 1px;
	position: relative;
}

#extratabs #extratabs-head li {
	list-style: none;
	float: left;
	font-weight: normal;
	margin-right: 2px;
	background: none transparent;
	border: 0;
}

#extratabs #extratabs-head li a {
	background-color: #EDEDEE;
	background-image: none;
	border: 1px solid #EDEDEE;
	text-transform: uppercase;
	padding: 5px 10px;
	color: #2D556F;
	position: relative;
	margin-top: 2px;
	display: block;
}

#extratabs #extratabs-head li.activetab a, #extratabs #extratabs-head li.activetab a:hover {
	background-color: #FFF !important;
	border-color: #E5E5E6 !important;
	color: #333 !important;
	border-bottom-color: #FFFFFF !important;
	padding-bottom: 7px;
	bottom: -2px;
	margin-top: 0;
}

#extratabs #extratabs-head a:hover {
	background-color: #627179;
	border-color: #627179;
	color: #FFFFFF;
}

.tab-panel {
	padding: 0 !important;
}

.main-panel a.screenshot img, .main-panel img.screenshot {
	padding: 3px;
	border: 1px solid #A1A1A1;
	vertical-align: text-top;
	margin: 5px;
}

.main-panel a.screenshot:hover img {
	border-color: #757575;
}

a.expand, a.contract {
	background: url("./images/icon_contracted.gif") no-repeat 0 0;
	display: block;
	float: left;
	height: 16px;
	margin: 3px 5px 0 5px;
	width: 16px;
}

a.contract {
	background-image: url("./images/icon_expanded.gif");
}

/* Author Profile
--------------------------------------------- */
#author-profile .left-column {
	float: left;
	width: 200px;
	margin-right: 0;
}

#author-profile .right-column {
	float: none;
	width: auto;
	margin-left: 210px;
}

.no-avatar-img {
	background: url("./images/no_avatar.gif") no-repeat 0 0;
	width: 118px;
	height: 17px;
	padding-top: 103px;
	margin: auto;
	color: #D8D8D7;
}

/* Contrib Manage
--------------------------------------------- */
#screenshot-manage dl {
	border-bottom: 1px dashed #CCCCCC;
	padding-top: 8px;
}

#screenshot-manage dl:last-child { border-bottom: none; }

.item-control-button {
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}

.edit		{ background-image: url("./images/icon_edit.gif"); }
.delete		{ background-image: url("./images/icon_delete.gif"); }
.move-up 	{ background-image: url("./images/icon_up.gif"); }
.move-down	{ background-image: url("./images/icon_down.gif"); }
.move-up-disabled	{ background-image: url("./images/icon_up_disabled.gif"); }
.move-down-disabled	{ background-image: url("./images/icon_down_disabled.gif"); }

#colorizeit-frame {
	border-width: 0;
	height: 900px;
	width: 100%;
}

/* Listings
--------------------------------------------- */
.contribution-list-actions {
	padding-top: 9px;
}

dd.faq-tools {
	text-align: right;
	border: 0 !important;
	width: 240px;
}

dd.general {
	padding-left: 5px !important;
	padding-right: 5px !important;
	font-size: 1.1em;
}

dd.general img {
	vertical-align: middle;
}

#categories .forums dd.general {
	font-size: 1.2em;
}

#categories .content {
	font-size: 1.2em;
}

ul.simple li.header dt, ul.simple li.header dd {
	color: #000000;
	margin-bottom: 2px;
}

.container .cplist li.row {
	border-bottom: 1px solid #B5C1CB;
	border-top: 1px solid #F9F9F9;
}

.container .forabg {
	background-image: none;
}

.revisions dt {
	margin-right: -520px !important;
}

.revisions .list-inner {
	margin-right: 520px !important;
}

.revisions dd {
	width: 130px !important;
}

.contributions dt {
	margin-right: -260px !important;
}

.contributions .list-inner {
	margin-right: 260px !important;
}

.contributions dd {
	width: 130px !important;
}

dd.revision-version, dd.phpbb-version {
	text-align: center;
}

#translations-panel dl dt {
	width: 75%;
}

#translations-panel dl dt ul li {
	padding: 2px 0;
}

ul.topiclist dd.revision-actions {
	text-align: right;
	border-left: 0;
}

ul.topiclist dd.revision-status {
	text-align: center;
	border-left: 0;
}

dl.preview-select {
	padding-top: 15px;
	margin-bottom: -5px;
}

dt.set-preview {
	margin-left: 40px;
}

img.icon {
	float: right;
}

/* Rating Code */
ul.rating, ul.rated {
	list-style-type: none;
	display: inline;
}

ul.rating li, ul.rated li {
	display: inline;
	border: 0;
}

/* Soft deleted item */
.deleted {
	background-color: #FFFFFF;
	border: 1px solid #BC2A4D;
}

/* Codebox adjustments for BBCode type */
.bbcode-container {
	font-size: 1.2em;
}

li.row .bbcode-container {
	padding: 5px;
}

li.row dl.codebox {
	padding: 3px !important;
}

li.row dl.codebox dt, li.row dl.codebox dd {
	float: none;
	width: auto !important;
}

li.row dl.codebox dd {
	border: 0;
	padding: 0;
}

/* Manage sections
--------------------------------------------- */

/* Queue */
.queue-actions {
	background-color: #F1F4F5;
	width: 100%;
	list-style: none;
	display: block;
	float: left;
	clear: both;
	border-bottom: 1px solid #D4D6D7;
	font-size: 1.1em;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin-top: 10px;
}

.queue-actions li {
	display: block;
	float: left;
	padding: 0 3px;
	border-right: 1px solid #FFF;
	border-left: 1px solid #D4D6D7;
	line-height: 2em;
}

.queue-actions li.first { border-left: 0; }
.queue-actions li.last 	{ border-right: 0; }

.queue-actions li.info {
	float: right;
	border: 0;
}

.queue-actions li a {
	color: #585858;
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: center left;
	position: relative;
	display: block;
	margin-top: 1px;
}

.queue-actions li div a {
	padding: 0 5px;
}

.queue-actions li a:hover {
	text-decoration: none;
	color: #1A2124;
}

.queue-actions img {
	vertical-align: middle;
}

.queue_progress 	{ background-image: url("./images/icon_queue_progress.png"); }
.queue_tested		{ background-image: url("./images/icon_queue_tested.gif"); }
.deny 				{ padding-left: 19px !important; background-image: url("./images/icon_deny.gif"); }
.approve 			{ padding-left: 21px !important; background-image: url("./images/icon_approve.gif"); }
.change_status		{ padding-left: 15px !important; background-image: url("./images/icon_change_status.gif"); }
.repack 			{ padding-left: 17px !important; background-image: url("./images/icon_repack.gif"); }
.misc				{ padding-left: 19px !important; background-image: url("./images/icon_misc.gif"); }

.queue-actions div.subactions {
	position: absolute;
	z-index: 999;
	background-color: #F1F4F5;
	padding: 5px 0;
	border: 1px solid #D4D6D7;
	border-top: none;
	line-height: 1.6em;
	display: none;
}

.queue-actions li:hover .subactions {
	display: block;
}

.queue-actions div.subactions a {
	padding: 3px 10px;
}

.queue-actions div.subactions a:hover {
	background-color: #FFF;
}

/* Attention */
.attention {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	padding-top: 5px;
}

.attention.last {
	border-bottom: 0;
}

.attention .content {
	font-size: 1.3em;
	padding-bottom: 10px;
}

p.attention-closed {
	background-color: #ECD5D8;
	margin-right: 0;
	padding: 3px;
}

/* Description diff */
#report .content pre, .attention .content pre {
	font-family: inherit;
	white-space: normal;
}

.ins {
	background-color: #dfd;
	text-decoration: underline;
}

.del {
	background-color: #fdd;
	text-decoration: line-through;
}

/* Categories */
#addcategory textarea {
	height: 185px;
}

/* Queue stats
--------------------------------------------- */
.fade { background: url("./images/fade.png") repeat-y left bottom; }

.stat-new {
	background-color: #999999;
	color: #20383C;
}

.stat-denied {
	background-color: #A91F1F;
	color: #250E0E;
}

.stat-approved {
	background-color: #86AD32;
	color: #333F1A;
}

#queue-stat-info {
	font-family: Verdana, Helvetica, Arial;
	font-size: 1.1em;
}

#queue-stat-info ul { margin-left: 15px; }
#queue-activity { margin-left: 3px; }

.stat-ratio span, .stat-day span, .day-list span {
	display: block;
	float: left;
	font-family: Helvetica, Arial, Verdana;
	text-align: center;
	width: 20px;
}

.stat-ratio { width: 300px; }

.stat-ratio span {
	height: 16px;
	padding: 2px 0;
}

.stat-day {
	float: left;
	height: 150px;
	margin-right: 7px;
}

.stat-day span {
	float: none;
	margin-bottom: 1px;
	position: relative;
}

.stat-day span strong {
	font-weight: normal;
	height: 10px;
	left: 0;
	margin-top: -5px;
	position: absolute;
	top: 50%;
	width: 100%;
}

.day-list {
	background-color: #FFF;
	border-bottom: 1px dotted #B5BEBF;
	border-top: 1px dotted #B5BEBF;
	clear: both;
	float: left;
	margin-bottom: 15px;
	padding: 4px 0;
	position: relative;
	top: 4px;
}

.day-list span { width: 27px; }

.day-list span.pip {
	background-color: #9DA1A3;
	height: 3px;
	margin-left: 50%;
	margin-top: -4px;
	width: 1px;
}

.legend {
	border: 1px solid #FFF;
	display: inline-block;
	height: 10px;
	width: 10px;
}

/* General
--------------------------------------------- */
.postbody.full { width: 100%; }

/* ColorBox adjustments; primarily switching control buttons to top */
#cboxLoadedContent {
	margin-top: 28px;
	margin-bottom: 0 !important;
	text-align: left;
}

#cboxLoadedContent h3 {
	top: 0;
	width: 100%;
	position: absolute;
}

#cboxNext, #cboxPrevious, #cboxClose, #cboxTitle, #cboxCurrent {
	top: 0;
	bottom: auto !important;
}

#cboxCurrent {
	top: 5px;
}

.dialog-options {
	text-align: center;
}

.successbox, .errorbox, .noticebox {
	padding: 0 10px;
	margin: 10px 0;
	color: #FFFFFF;
	text-align: center;
}

.success {
	color: #228822;
}

.error {
	color: #BC2A4D;
}

.successbox {
	background-color: #228822;
}

.noticebox {
	color: #000000;
	background-color: #ecf53e;
}

.errorbox {
	background-color: #BC2A4D;
}

* html .errorbox, * html .successbox, * html .noticebox { height: 1%; } /* Pixel shift fix for IE */

.successbox h3, .errorbox h3 {
	color: #FFFFFF;
	margin: 0 0 0.5em;
	font-size: 1.5em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
	border: none;
}

.noticebox h3 {
	color: #000000;
	margin: 0 0 0.5em;
	font-size: 1.5em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
	border: none;
}

.successbox p, .errorbox p {
	color: #FFFFFF;
	font-size: 1em;
	margin-bottom: 0;
}

.noticebox p {
	color: #000000;
	font-size: 1em;
	margin-bottom: 0;
}

.errorbox a:link, .errorbox a:active, .errorbox a:visited,
.successbox a:link, .successbox a:active, .successbox a:visited,
.noticebox a:link, .noticebox a:active, .noticebox a:visited {
	color: #DBD7D1;
	text-decoration: underline;
	font-weight: bold;
}

.errorbox a:hover, .successbox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.noticebox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.error_outline {
	border-color: #BC2A4D;
	border-width: 1px;
	border-style: solid;
}

fieldset dl:hover dt label.error {
	color: #BC2A4D;
}

textarea.elastic {
	min-height: 100px;
	max-height: 400px;
}

textarea.quickedit {
	font-size: 1.1em;
}

.text-content {
	white-space: pre-wrap;
}

.inline-attachment {
	white-space: normal;
}

ul.topiclist dd.revision-translations {
	width: 45%;
	padding: 0 10px;
	border-left: 0;
}

ul.topiclist dd.revision-translations h3 {
	margin-top: 0;
}

ul.topiclist dd.revision-translations .file {
	margin: 5px;
}

ul.topiclist dd.revision-translations .file dt {
	width: 45% !important;
}

ul.topiclist dd.revision-translations .file dd {
	padding: 0 5px;
	border-left: 0;
}

.revisions dt.revision-information {
	width: 50% !important;
}

hr.solid {
	border-top: 1px solid #CCCCCC;
	margin: 10px 0;
}

.contrib-download:after {
	clear: both;
	content: '';
	display: block;
}
