/* Responsive queue statistics
--------------------------------------------- */
@media only screen and (max-width: 890px), only screen and (max-device-width: 890px) {
	.day-list span {
		width: 16px;
	}

	.day-list-date {
		font-size: 0.6em;
	}

	.stat-day {
		margin-right: 1px;
	}

	.stat-ratio span, .stat-day span {
		width: 15px;
	}
}

@media only screen and (max-width: 520px), only screen and (max-device-width: 520px) {
	.day-list span {
		width: 12px;
	}

	.day-list-date {
		font-size: 0.4em;
	}

	.stat-day {
		margin-right: 1px;
	}

	.stat-ratio span, .stat-day span {
		width: 11px;
	}
}

@media only screen and (max-width: 385px), only screen and (max-device-width: 385px) {
	.day-list span {
		width: 9px;
	}

	.day-list-date {
		font-size: 0.4em;
	}

	.stat-day {
		margin-right: 1px;
	}

	.stat-ratio span, .stat-day span {
		width: 8px;
	}
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	/* Contribution List
	--------------------------------------------- */
	.contrib-list-container {
		border-top: 1px dotted #b4bac0;
		padding-left: 0;
		width: 100%;
	}

	.author-contribs {
		border-top: none;
	}

	.author-contribs .contrib-quickview {
		width: 50%;
	}

	.categories {
		border-right: none;
		display: block;
		float: none;
		padding-right: 0;
		margin: 0 auto;
		width: 100%;
	}

	/* Listings
	--------------------------------------------- */
	.contributions .list-inner {
		margin-right: 0 !important;
	}

	.revisions .list-inner {
		margin-right: 0 !important;
	}
}

@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
	/* Contribution Details
	--------------------------------------------- */
	.left-column {
		margin-right: 0;
	}

	.right-column {
		width: 100%;
		float: none;
	}

	.download-info {
		left: 0;
		top: 40px;
	}

	/* General
	--------------------------------------------- */
	.revisions dt.revision-information {
		width: 100% !important;
	}

	/* Author Profile
	--------------------------------------------- */
	#author-profile .left-column {
		float: none;
		width: 100%;
		margin-bottom: 6px;
	}

	#author-profile .right-column {
		margin-left: 0;
	}
}

@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
	/* Contribution List
	--------------------------------------------- */
	.contrib-quickview {
		width: 100% !important;
	}
}