<!-- INCLUDE overall_header.html -->

<!-- IF S_EDIT_FAQ -->
	<form action="{U_ACTION}" method="post">
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>
			
			<h2>{L_EDIT_FAQ}<!-- IF FAQ_SUBJECT --> :: {FAQ_SUBJECT}<!-- ENDIF --></h2>
			
			<!-- IF ERROR_MSG --><p class="error">{ERROR_MSG}</p><!-- ENDIF -->
			
			<fieldset>
				<dl style="clear: left;">
					<dt><label for="subject">{L_FAQ_SUBJECT}:</label></dt>
					<dd><input type="text" name="subject" id="subject" size="45" maxlength="60" tabindex="1" value="{FAQ_SUBJECT}" class="inputbox autowidth" /></dd>
				</dl>
				<dl style="clear: left;">
					<dt><label for="text">{L_FAQ_TEXT}:</label></dt>
					<dd><textarea name="text" id="text" class="inputbox" cols="40" rows="5">{FAQ_TEXT}</textarea></dd>
				</dl>				
			</fieldset>

			<span class="corners-bottom"><span></span></span></div>
		</div>

		<fieldset class="submit-buttons">
			<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
			<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
			{S_FORM_TOKEN}
		</fieldset>
	</form>
<!-- ELSE -->

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->