.download-button {
	background-image: url("./button_download.gif");
	width: 175px;
	height: 57px;
}

.colorizeit-button {
	background-image: url("./button_colorizeit2.png");
	width: 175px;
	height: 49px;
}

