/**
 * @version $Id$
 * common.css
 */

.contrib-content {
	background-color: #FFFFFF;
	padding: 0 5px;
}

.hidden {
	display: none !important;
}

.successbox, .errorbox, .noticebox {
	padding: 0 10px;
	margin: 10px 0;
	color: #FFFFFF;
	text-align: center;
}

.errorbox span.corners-top , .successbox span.corners-top, .noticebox span.corners-top {
	margin: 0 -10px 5px -10px;
}

.errorbox span.corners-bottom , .successbox span.corners-bottom, .noticebox span.corners-bottom {
	margin: 5px -10px 0 -10px;
}

.success {
	color: #228822;
}


.error {
	color: #BC2A4D;
}

.successbox {
	background-color: #228822;
}

.noticebox {
	color: #000000;
	background-color: #ecf53e;
}

.errorbox {
	background-color: #BC2A4D;
}

* html .errorbox, * html .successbox, * html .noticebox { height: 1%; } /* Pixel shift fix for IE */

.successbox h3, .errorbox h3 {
	color: #FFFFFF;
	margin: 0 0 0.5em;
	font-size: 1.5em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
	border: none;
}

.noticebox h3 {
	color: #000000;
	margin: 0 0 0.5em;
	font-size: 1.5em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
	border: none;
}

.successbox p, .errorbox p {
	color: #FFFFFF;
	font-size: 1em;
	margin-bottom: 0;
}

.noticebox p {
	color: #000000;
	font-size: 1em;
	margin-bottom: 0;
}

.errorbox a:link, .errorbox a:active, .errorbox a:visited,
.successbox a:link, .successbox a:active, .successbox a:visited,
.noticebox a:link, .noticebox a:active, .noticebox a:visited {
	color: #DBD7D1;
	text-decoration: underline;
	font-weight: bold;
}

.errorbox a:hover, .successbox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.noticebox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.error_outline {
	border-color: #BC2A4D;
	border-width: 1px;
	border-style: solid;
}

fieldset dl:hover dt label.error {
	color: #BC2A4D;
}

/* proto code
---------------------------------------- */
#wrap {
	width: 900px;
	margin: 0 auto;
}

h2.section-title {
	color: #425667;
	margin-top: .5em;
	text-align: center;
	position: relative;
}

/* Main contrib tabs - overwriting some of the code from prosilver
---------------------------------------- */

#tabs {
	margin-top: 0;
	margin-left: 20px;
}

#tabs a {
	background-image: url("./images/tab_bg.gif");
	font-size: 1.2em;
	font-weight: normal;
}

#tabs a span {
	background-image: url("./images/tab_bg2.gif");
	color: #FFFFFF !important;
}

#tabs .activetab a {
	background-image: url("./images/tab_bg.gif");
	color: #FFFFFF;
	border-color: #027BB8;
}

#tabs .activetab a span {
	background-image: url("./images/tab_bg2.gif");
	color: #FFFFFF;
	font-weight: normal;
}

#tabs .activetab a:hover span {
	color: #FFFFFF;
}

.bluebg {
	background-color: #027BB8;
	padding: 0 5px;
}

.bluebg .contrib-content {
	margin-top: 5px;
}

/****************************************/
/* FAQ Page
---------------------------------------- */
.faq-list {
	float: left;
	background-color: #E4EDF1;
	border: 1px solid #B8CFDB;
	margin-bottom: 5px;
	padding: 0 5px;
	font-size: 1.1em;
	margin-top: 5px;
	display: block;
	width: 98.25%; /* Need to look over this again - IE doesn't want to play nice */
}

.faq-list ul {
	list-style-type: square;
	margin-left: 2em;
}

.faq-list ul li {
	padding: 5px 0;
}

.faq-item {
	width: auto;
	background: url("./images/faq_header.gif") repeat-x #F0F0F0;
	border: 1px solid #C6C6C6;
	color: #BC2A4D;
	padding: 3px 3px 4px 3px;
	text-transform: none;
	clear: both;
	font-weight: bold;
}

.faq-body{
	border: 1px solid #C6C6C6;
	border-width: 0 1px 1px 1px;
	background-color: #F6F9FA;
	padding: 5px;
	margin-bottom: 10px;
}

ul.faq {
	margin-left: 2em;
}

dl.codebox code {
	font-size: 1em;
}

div#top {
	clear: both;
	margin-top: 15px;
}

/* Custom Corners
---------------------------------------- */

/* Blue corners */
.corners-top.blue, .corners-bottom.blue {
	background-image: url("./images/corners_left.png");
}

.corners-top.blue span, .corners-bottom.blue span {
	background-image: url("./images/corners_right.png");
}

/* FAQ List corners */
.faq-list .corners-top, .faq-list .corners-bottom {
	background-image: url("./images/corners_left3.png");
}

.faq-list .corners-top span, .faq-list .corners-bottom span {
	background-image: url("./images/corners_right3.png");
}

.faq-list .corners-top {
	position: relative;
	margin: -1px 0 0 -6px;
}

.faq-list .corners-top span {
	margin-right: -6px;
}

.faq-list .corners-bottom {
	position: relative;
	margin: 0 0 -1px -6px;
}

.faq-list .corners-bottom span {
	margin-right: -6px;
}

/* Corners for single FAQ */
.faq-item .corners-top, .faq-body .corners-bottom {
	background-image: url("./images/corners_left2.png");
	position: relative !important;
}

.faq-item .corners-top span, .faq-body .corners-bottom span {
	background-image: url("./images/corners_right2.png")
}

.faq-item .corners-top {
	position: relative;
	margin: -1px 0 0 -8px;
}

.faq-item .corners-top span {
	margin-right: -6px;
}

.faq-body .corners-bottom {
	position: relative;
	margin: 0 0 -1px -6px;
}

.faq-body .corners-bottom span {
	margin-right: -6px;
}

/* Rating Code */
ul.rating, ul.rated {
	list-style-type: none;
	display: inline;
}
ul.rating li, ul.rated li {
	display: inline;
}

/* Soft deleted item */
.deleted {
	background-color: #B1B7BB;
}