/* General Markup Styles
---------------------------------------- */

/* Common styles
--------------------------------------------- */
h2.panel-name {
	width: auto;
	display: inline;
}

h3.clear-top {
	margin-top: 5px;
}

h3.section-name {
	font-size: 1.4em;
	font-weight: normal;
	text-transform: none;
	color: #333333;
	border: 0;
	margin: 8px 0;
}

.tabs {
	float: right;
	display: block;
	margin-right: 15px;
	margin-top: 10px;
}

.tabs li {
	list-style: none;
	float: left;
	display: block;
	margin-right: 2px;
}

.tabs a {
	background: #7fa3b9 url("{T_THEME_PATH}/images/tab_bg.gif") no-repeat 0 -29px;
	border-bottom: 1px solid #FFFFFF;
	position: relative;
	display: block;
}

.tabs a span {
	background: transparent url("{T_THEME_PATH}/images/tab_bg2.gif") no-repeat 100% -29px;
	display: block;
	padding: 5px 10px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana;
}

.tabs a:hover {
	background-color: #577d94;
	background-position: 0 -57px;
	text-decoration: none;
}

.tabs a:hover span {
	background-position: 100% -57px;
}

.tabs #activetab a {
	background-color: #c6d8e5;
	background-position: 0 0;
	border-bottom-color: #C6D8E5;
}

.tabs #activetab a span {
	background-position: 100% 0;
	color: #4B6778;
}

.main-panel {
	background-color: #C6D8E5;
	margin-bottom: 15px;
	padding: 0 10px;
	clear: both;
	position: relative;
	overflow: hidden;
}

.main-panel span.corners-top, .main-panel span.corners-bottom {
	margin: 0 -10px;
}

.main-panel .forabg span.corners-top, .main-panel .forabg span.corners-bottom, .main-panel .forumbg span.corners-top, .main-panel .forumbg span.corners-bottom  {
	margin: 0 -5px;
}

.container {
	background-color: #FFFFFF;
	padding: 0 10px;
	margin: 5px 0;
	overflow: hidden;
}

.rightside {
	float: right;
}

span.corners-top.main-corners, span.corners-bottom.main-corners {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-top.main-corners span, span.corners-bottom.main-corners span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

/* Pagination tweaks
--------------------------------------------- */
.topic-actions .search-box { margin-right: 5px; }

.topic-actions .pagination {
	float: none;
	line-height: 1.9em;
	margin-top: 3px;
}

/* Contribution Details
--------------------------------------------- */
.right-column {
	width: 200px;
	float: right;
}

.left-column {
	margin-right: 210px;
}

.demo {
	text-align: center;
}

.demo a {
	font-weight: bold;
	color: #333333;
}

.no-screenshot {
	background: url("{T_THEME_PATH}/images/no_screenshot.gif") no-repeat 0 0;
	width: 175px;
	height: 19px;
	padding-top: 101px;
	margin: auto;
	color: #D8D8D7;
}

.download-button {
	background: transparent none no-repeat 0 0;
	margin: 5px auto 0 auto;
}
.colorizeit-button {
	background: transparent none no-repeat 0 0;
	margin: -9px auto 10px auto;
}

a.download-main, a.colorizeit-main {
	height: 29px;
	padding-top: 28px;
	padding-left: 63px;
	text-align: left;
	color: #FFFFFF !important;
	font-weight: bold;
	display: block;
	text-decoration: none;
}

.contrib-description {
	font-size: 1.1em;
	margin-bottom: 15px;
	position: relative;
}

.contrib-description dt, h3.details-heading {
	color: #536482;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin-bottom: 3px;
	padding-bottom: 4px;
	border-bottom: 1px solid #E1E1E1;
	margin-top: 6px;
	text-transform: none;
}

.content h3.details-heading {
	font-size: .9em;
	margin-bottom: 6px;
}

.contrib-description dt strong {
	margin-top: 6px;
	padding-bottom: 12px;
}

.contrib-description ul.profile-icons {
	padding: 0;
	float: right;
	margin-top: -6px;
}

.contrib-description .icon-subscribe, .contrib-description .icon-unsubscribe {
	padding-top: 4px;
}

.contrib-description dd ul, .contrib-description dd ol {
	margin-left: 3em;
}

.contrib-description dd dl.codebox dt {margin-top: 1px;}

ul.general-info {
	border: 1px solid #EAF3F7;
	clear: left;
}

.right-column ul.general-info {
	clear: right;
}

ul.general-info li {
	list-style: none;
	display: block;
	border-bottom: 1px solid #FFFFFF;
	font-size: 1.1em;
	vertical-align: middle;
	line-height: 20px;
}

ul.general-info li li {
	line-height: 1em !important;
}

ul.general-info li strong {
	width: 25%;
	display: block;
	float: left;
	background-color: #F6FAFC;
	padding-left: 10px;
	margin-right: 10px;
}

.license-info {
	line-height: 31px;
	vertical-align: top;
}

#extratabs #extratabs-head {
	width: 98%;
	border-bottom: 1px solid #E5E5E6;
	display: block;
	float: left;
	margin-bottom: 5px;
	padding-left: 2%;
	padding-bottom: 1px;
	position: relative;
}

#extratabs #extratabs-head li {
	list-style: none;
	float: left;
	font-weight: normal;
	margin-right: 2px;
	background: none transparent;
	border: 0;
}

#extratabs #extratabs-head li a {
	background-color: #EDEDEE;
	background-image: none;
	border: 1px solid #EDEDEE;
	text-transform: uppercase;
	padding: 5px 10px;
	color: #2D556F;
	position: relative;
	margin-top: 2px;
	display: block;
}

#extratabs #extratabs-head li.ui-state-active a, #extratabs #extratabs-head li.ui-state-active a:hover {
	background-color: #FFF !important;
	border-color: #E5E5E6 !important;
	color: #333 !important;
	border-bottom-color: #FFFFFF !important;
	padding-bottom: 7px;
	bottom: -2px;
	margin-top: 0;
}

#extratabs #extratabs-head a:hover {
	background-color: #627179;
	border-color: #627179;
	color: #FFFFFF;
}

.tab-panel {
	padding: 0 !important;
}

.main-panel a.screenshot img, .main-panel img.screenshot {
	padding: 3px;
	border: 1px solid #A1A1A1;
	vertical-align: text-top;
	margin: 5px;
}

.main-panel a.screenshot:hover img {
	border-color: #757575;
}

a.new-revision {
	background-color: #7FA3B9;
	padding: 3px;
	float: right;
	text-transform: uppercase;
	border: 1px solid #6C889A;
	margin-top: 5px;
	color: #FFFFFF;
}

a.new-revision:hover {
	text-decoration: none;
	background-color: #5E869F;
	border-color: #46667A;
}

a.expand, a.contract {
	background: url("{T_THEME_PATH}/images/icon_contracted.gif") no-repeat 0 0;
	display: block;
	float: left;
	height: 16px;
	margin: 3px 5px 0 5px;
	width: 16px;
}

a.contract {
	background-image: url("{T_THEME_PATH}/images/icon_expanded.gif");
}

/* Author Profile
--------------------------------------------- */
#author-profile .left-column {
	float: left;
	width: 200px;
	margin-right: 0;
}

#author-profile .right-column {
	float: none;
	width: auto;
	margin-left: 210px;
}

.no-avatar {
	background: url("{T_THEME_PATH}/images/no_avatar.gif") no-repeat 0 0;
	width: 118px;
	height: 17px;
	padding-top: 103px;
	margin: auto;
	color: #D8D8D7;
}

/* Contrib Manage
--------------------------------------------- */
#screenshot-manage dl {
	border-bottom: 1px dashed #CCCCCC;
	padding-top: 8px;
}

#screenshot-manage dl:last-child { border-bottom: none; }

.item-control-button {
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}

.delete		{ background-image: url("{T_IMAGES_PATH}/icon_delete.gif"); }
.move-up 	{ background-image: url("{T_IMAGES_PATH}/icon_up.gif"); }
.move-down	{ background-image: url("{T_IMAGES_PATH}/icon_down.gif"); }
.move-up-disabled	{ background-image: url("{T_IMAGES_PATH}/icon_up_disabled.gif"); }
.move-down-disabled	{ background-image: url("{T_IMAGES_PATH}/icon_down_disabled.gif"); }

/* Listings
--------------------------------------------- */
.phpbb_versions {
	min-width: 80px;
}

.contribution-list-actions {
	padding-top: 9px;
}

#faqlist .topiclist dt {
	width: 80%;
}

dd.faq-tools {
	width: 13%;
	text-align: right;
	border: 0 !important;
}

dd.general {
	padding-left: 5px !important;
	padding-right: 5px !important;
	font-size: 1.1em;
}

dd.general img {
	vertical-align: middle;
}

#categories .forums dd.general {
	font-size: 1.2em;
}

#categories .content {
	font-size: 1.2em;
}

ul.simple li.header dt, ul.simple li.header dd {
	color: #000000;
	margin-bottom: 2px;
}

.container .cplist li.row {
	border-bottom: 1px solid #B5C1CB;
	border-top: 1px solid #F9F9F9;
}

.container dd.type {
	width: 15%;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

.container dd.contrib-author {
	width: 20%;
	padding-left: 5px;
	padding-right: 5px;
}

.container .cplist dd.type, .container .cplist dd.contrib-author {
	font-size: 1.1em;
}

.container .forabg {
	background-image: none;
}

.revisions dt {
	width: 35% !important;
}

dd.contribution-phpbb-version {
	text-align: center;
	width: 15%;
}

dd.revision-version {
	width: 19%;
	text-align: center;
}

dd.revision-phpbb-version {
	text-align: center;
	width: 20%;
}

#translations-panel dl dt {
	width: 75%;
}

#translations-panel dl dt ul li {
	padding: 2px 0;
}

ul.topiclist dd.revision-actions {
	text-align: right;
	width: 8%;
	border-left: 0;
}

ul.topiclist dd.revision-status {
	text-align: center;
	width: 10%;
	border-left: 0;
}

dd.phpbb-version select {
	width: 100px;
}

dl.preview-select {
	padding-top: 15px;
	margin-bottom: -5px;
}

dt.set-preview {
	margin-left: 40px;
}

img.icon {
	float: right;
}

/* Rating Code */
ul.rating, ul.rated {
	list-style-type: none;
	display: inline;
}

ul.rating li, ul.rated li {
	display: inline;
	border: 0;
}

/* Soft deleted item */
.deleted {
	background-color: #FFFFFF;
	border: 1px solid #BC2A4D;
}

/* Codebox adjustments for BBCode type */
.bbcode-container {
	font-size: 1.2em;
}

li.row .bbcode-container {
	padding: 5px;
}

li.row dl.codebox {
	padding: 3px !important;
}

li.row dl.codebox dt, li.row dl.codebox dd {
	float: none;
	width: auto !important;
}

li.row dl.codebox dd {
	border: 0;
	padding: 0;
}

/* Manage sections
--------------------------------------------- */

/* Queue */
.queue-actions {
	background-color: #F1F4F5;
	width: 100%;
	list-style: none;
	display: block;
	float: left;
	clear: both;
	border-bottom: 1px solid #D4D6D7;
	font-size: 1.1em;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin-top: 10px;
}

.queue-actions li {
	display: block;
	float: left;
	padding: 0 3px;
	border-right: 1px solid #FFF;
	border-left: 1px solid #D4D6D7;
	line-height: 2em;
}

.queue-actions li.first { border-left: 0; }
.queue-actions li.last 	{ border-right: 0; }

.queue-actions li.info {
	float: right;
	border: 0;
}

.queue-actions li a {
	color: #585858;
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: center left;
	position: relative;
	display: block;
	margin-top: 1px;
}

.queue-actions li div a {
	padding: 0 5px;
}

.queue-actions li a:hover {
	text-decoration: none;
	color: #1A2124;
}

.queue-actions img {
	vertical-align: middle;
}

.queue_progress 	{ background-image: url("{T_THEME_PATH}/images/icon_queue_progress.png"); }
.deny 				{ padding-left: 19px !important; background-image: url("{T_THEME_PATH}/images/icon_deny.gif"); }
.approve 			{ padding-left: 21px !important; background-image: url("{T_THEME_PATH}/images/icon_approve.gif"); }
.change_status		{ padding-left: 15px !important; background-image: url("{T_THEME_PATH}/images/icon_change_status.gif"); }
.repack 			{ padding-left: 17px !important; background-image: url("{T_THEME_PATH}/images/icon_repack.gif"); }
.misc				{ padding-left: 19px !important; background-image: url("{T_THEME_PATH}/images/icon_misc.gif"); }

.queue-actions div.subactions {
	position: absolute;
	z-index: 999;
	background-color: #F1F4F5;
	padding: 5px 0;
	border: 1px solid #D4D6D7;
	border-top: none;
	line-height: 1.6em;
	display: none;
}

.queue-actions div.subactions a {
	padding: 0 10px;
}

.queue-actions div.subactions a:hover {
	background-color: #FFF;
}

/* Attention */
.attention {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	padding-top: 5px;
}

.attention.last {
	border-bottom: 0;
}

.attention .content {
	font-size: 1.3em;
	padding-bottom: 10px;
}

p.attention-closed {
	background-color: #ECD5D8;
	margin-right: 0;
	padding: 3px;
}

/* Description diff */
#report .content pre, .attention .content pre {
	font-family: inherit;
	white-space: normal;
}

.ins {
	background-color: #dfd;
	text-decoration: underline;
}

.del {
	background-color: #fdd;
	text-decoration: line-through;
}

/* Categories */
#addcategory textarea {
	height: 185px;
}

/* Queue stats
--------------------------------------------- */
.fade { background: url("{T_THEME_PATH}/images/fade.png") repeat-y left bottom; }

.stat-new {
	background-color: #999999;
	color: #20383C;
}

.stat-denied {
	background-color: #A91F1F;
	color: #250E0E;
}

.stat-approved {
	background-color: #86AD32;
	color: #333F1A;
}

#queue-stat-info {
	font-family: Verdana, Helvetica, Arial;
	font-size: 1.1em;
}

#queue-stat-info ul { margin-left: 15px; }
#queue-activity { margin-left: 3px; }

.stat-ratio span, .stat-day span, .day-list span {
	display: block;
	float: left;
	font-family: Helvetica, Arial, Verdana;
	text-align: center;
	width: 20px;
}

.stat-ratio { width: 300px; }

.stat-ratio span {
	height: 16px;
	padding: 2px 0;
}

.stat-day {
	float: left;
	height: 150px;
	margin-right: 7px;
}

.stat-day span {
	float: none;
	margin-bottom: 1px;
	position: relative;
}

.stat-day span strong {
	font-weight: normal;
	height: 10px;
	left: 0;
	margin-top: -5px;
	position: absolute;
	top: 50%;
	width: 100%;
}

.day-list {
	background-color: #FFF;
	border-bottom: 1px dotted #B5BEBF;
	border-top: 1px dotted #B5BEBF;
	clear: both;
	float: left;
	margin-bottom: 15px;
	padding: 4px 0;
	position: relative;
	top: 4px;
}

.day-list span { width: 27px; }

.day-list span.pip {
	background-color: #9DA1A3;
	height: 3px;
	margin-left: 50%;
	margin-top: -4px;
	width: 1px;
}

.legend {
	border: 1px solid #FFF;
	display: inline-block;
	height: 10px;
	width: 10px;
}

/* General
--------------------------------------------- */
.postbody.full { width: 100%; }

/* ColorBox adjustments; primarily switching control buttons to top */
#cboxLoadedContent {
	margin-top: 28px;
	margin-bottom: 0 !important;
	text-align: left;
}

#cboxLoadedContent h3 {
	top: 0;
	width: 100%;
	position: absolute;
}

#cboxNext, #cboxPrevious, #cboxClose, #cboxTitle, #cboxCurrent {
	top: 0;
	bottom: auto !important;
}

#cboxCurrent {
	top: 5px;
}

.dialog-options {
	text-align: center;
}

.hidden {
	display: none !important;
}

.successbox, .errorbox, .noticebox {
	padding: 0 10px;
	margin: 10px 0;
	color: #FFFFFF;
	text-align: center;
}

.errorbox span.corners-top , .successbox span.corners-top, .noticebox span.corners-top {
	margin: 0 -10px 5px -10px;
}

.errorbox span.corners-bottom , .successbox span.corners-bottom, .noticebox span.corners-bottom {
	margin: 5px -10px 0 -10px;
}

.success {
	color: #228822;
}

.error {
	color: #BC2A4D;
}

.successbox {
	background-color: #228822;
}

.noticebox {
	color: #000000;
	background-color: #ecf53e;
}

.errorbox {
	background-color: #BC2A4D;
}

* html .errorbox, * html .successbox, * html .noticebox { height: 1%; } /* Pixel shift fix for IE */

.successbox h3, .errorbox h3 {
	color: #FFFFFF;
	margin: 0 0 0.5em;
	font-size: 1.5em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
	border: none;
}

.noticebox h3 {
	color: #000000;
	margin: 0 0 0.5em;
	font-size: 1.5em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
	border: none;
}

.successbox p, .errorbox p {
	color: #FFFFFF;
	font-size: 1em;
	margin-bottom: 0;
}

.noticebox p {
	color: #000000;
	font-size: 1em;
	margin-bottom: 0;
}

.errorbox a:link, .errorbox a:active, .errorbox a:visited,
.successbox a:link, .successbox a:active, .successbox a:visited,
.noticebox a:link, .noticebox a:active, .noticebox a:visited {
	color: #DBD7D1;
	text-decoration: underline;
	font-weight: bold;
}

.errorbox a:hover, .successbox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.noticebox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.error_outline {
	border-color: #BC2A4D;
	border-width: 1px;
	border-style: solid;
}

fieldset dl:hover dt label.error {
	color: #BC2A4D;
}

#wrap {
	width: 900px;
	margin: 0 auto;
}

textarea.elastic {
	min-height: 100px;
	max-height: 400px;
}

.text-content {
	white-space: pre-wrap;
}

.inline-attachment {
	white-space: normal;
}

ul.topiclist dd.revision-translations {
	width: 45%;
	padding: 0 10px;
	border-left: 0;
}

ul.topiclist dd.revision-translations h3 {
	margin-top: 0;
}

ul.topiclist dd.revision-translations .file {
	margin: 5px;
}

ul.topiclist dd.revision-translations .file dt {
	width: 45% !important;
}

ul.topiclist dd.revision-translations .file dd {
	padding: 0 5px;
	border-left: 0;
}

.revisions dt.revision-information {
	width: 50% !important;
}

hr.solid {
	border-top: 1px solid #CCCCCC;
	margin: 10px 0;
}
