<!-- INCLUDE overall_header.html -->

<div class="main-content">
	<div class="main-column">
		<div id="tabs">
			<ul>
			<!-- BEGIN t_block1 -->
				<li<!-- IF t_block1.S_SELECTED --> id="activetab"<!-- ENDIF -->><a href="{t_block1.U_TITLE}"><span>{t_block1.L_TITLE}</span></a></li>
			<!-- END t_block1 -->
			</ul>
		</div>

		<div class="bluebg">
			<div class="inner">
				<span class="corners-top"><span></span></span>

					<div class="contrib-content">
						<div class="inner"><span class="corners-top blue"><span></span></span>