<!-- INCLUDE contrib/contrib_header.html -->
<h2 class="imgrep {CONTRIB_CLASS}db">{CONTRIB_CLASS} database</h2>
<!-- IF not S_AUTHOR_SELECT -->
<ul class="linklist">
	<li class="rightside pagination"><!-- IF PAGINATION --><span>{PAGINATION}</span><!-- ENDIF --></li>
</ul>
<!-- ENDIF -->
<!-- IF S_SINGLE -->
	<!-- INCLUDE contrib/contrib_single.html -->
<!-- ELSEIF S_LIST -->
	<!-- INCLUDE contrib/contrib_list.html -->
<!-- ELSEIF S_AUTHOR_SELECT -->
		<form method="post" action="{S_MODE_ACTION}">
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>

			<ul class="linklist">
				<li>
				<strong style="font-size: 0.95em;"><a href="{S_MODE_ACTION}&amp;first_char=">All</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=a">A</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=b">B</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=c">C</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=d">D</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=e">E</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=f">F</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=g">G</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=h">H</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=i">I</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=j">J</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=k">K</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=l">L</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=m">M</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=n">N</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=o">O</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=p">P</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=q">Q</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=r">R</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=s">S</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=t">T</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=u">U</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=v">V</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=w">W</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=x">X</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=y">Y</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=z">Z</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=other">#</a></strong>
				</li>
				<li class="rightside pagination">
					{TOTAL_USERS}<!-- IF PAGINATION --> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
				</li>
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="forumbg forumbg-table">
		<div class="inner"><span class="corners-top"><span></span></span>

		<table class="table1" cellspacing="1">
		<thead>
		<tr>
			<th class="name">{L_USERNAME}</th>
			<th>View {CONTRIB_LABEL}s</th>
			<th>Number of {CONTRIB_LABEL}s</th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN mods -->


		<tr class="<!-- IF mods.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
			<td>{mods.USERNAME_FULL}</td>
			<td><a href="{mods.U_VIEW}">View {CONTRIB_LABEL}s</a></td>
			<td>{mods.MODS}</td>
		</tr>
			<!-- BEGINELSE -->
		<tr class="bg1">
			<td colspan="3">No users with {CONTRIB_LABEL}s found</td>
		</tr>
			<!-- END mods -->
		</tbody>
		</table>

		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ELSEIF S_STATS -->
	<p>Below is a list for the last two weeks with the number of denied/approved/canned and submitted {CONTRIB_LABEL}s.</p>
	<!-- BEGIN day -->
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>{day.DATE}</dt>
						<dd class="information">Number of {CONTRIB_LABEL}s</dd>
					</dl>

				</li>
			</ul>
			<ul class="topiclist forums">
				<li class="row">
					<dl>
					<dt>Submitted</dt>
					<dd style="text-align:center;width:47%">{day.SUBMITTED}</dd>
					</dl>
				</li>
				<li class="row">
					<dl>
					<dt>Canned</dt>
					<dd style="text-align:center;width:47%">{day.CANNED}</dd>
					</dl>
				</li>
				<li class="row">
					<dl>
					<dt>Denied</dt>
					<dd style="text-align:center;width:47%">{day.DENIED}</dd>
					</dl>
				</li>
				<li class="row">
					<dl>
					<dt>Approved</dt>
					<dd style="text-align:center;width:47%">{day.APPROVED}</dd>
					</dl>
				</li>
				<li class="row">
					<dl>
					<dt>Relation submitted / validated</dt>
					<dd style="text-align:center;width:47%">{day.AVG}</dd>
					</dl>
				</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- END day -->
			<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Other stats</dt>
						<dd class="information"></dd>
					</dl>

				</li>
			</ul>
			<ul class="topiclist forums">
				<li class="row">
					<dl>
					<dt>Average time that a {CONTRIB_LABEL} is in the queue currently</dt>
					<dd style="text-align:center;width:47%">{S_AVG}</dd>
					</dl>
				</li>

			</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
<!-- ELSEIF S_GROUP -->

	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul>
		<!-- BEGIN group -->
			<li><a href="{group.U_GROUP}">{group.NAME}</a></li>
		<!-- END group -->
		</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>

<!-- ENDIF -->
	<fieldset class="display-options">
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box left">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box right">{L_NEXT}</a><!-- ENDIF -->
		<!-- IF S_AUTHOR_SELECT --><label for="sk">{L_SELECT_SORT_METHOD}: <select name="sk" id="sk">{S_MODE_SELECT}</select></label>
		<label for="sd">{L_ORDER} <select name="sd" id="sd">{S_ORDER_SELECT}</select> <input type="submit" name="sort" value="{L_SUBMIT}" class="button2" /></label><!-- ENDIF -->
	</fieldset>

<!-- IF S_AUTHOR_SELECT --></form><!-- ENDIF -->

<!-- INCLUDE contrib/contrib_footer.html -->