<!-- BEGIN postrow -->
	<div id="p{postrow.POST_ID}" class="post <!-- IF postrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="postbody">
			<h3><a href="#p{postrow.POST_ID}">{postrow.POST_SUBJECT}</a></h3>
			<p class="author">{postrow.MINI_POST_IMG}{L_POSTED} {postrow.POST_DATE} {L_POST_BY_AUTHOR} {postrow.POST_AUTHOR_FULL}</p>

			<div class="content">{postrow.MESSAGE}</div>
		</div>

		<!-- IF postrow.U_PROFILE -->
		<dl class="postprofile" id="profile{postrow.POST_ID}">
			<dt>postrow.POST_AUTHOR_FULL}</dt>
		</dl>
		<!-- ENDIF -->

		<div class="back2top"><a href="#top" title="{L_BACK_TO_TOP}"><img src="{T_THEME_PATH}/images/top.gif" width="11" height="11" alt="{L_BACK_TO_TOP}" /></a></div>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<hr class="divider" />
<!-- END postrow -->