<!-- INCLUDE authors/author_header.html -->

<h3 class="section-name">{PAGE_TITLE}</h3>

<div class="container">
	<div class="inner"><span class="corners-top main-corners"><span></span></span>
	<h3>{L_AUTHOR_DETAILS}</h3>
	<table>
		<tr>
			<td align="right"><strong>{L_AUTHOR}:</strong></td>
			<td align="left">{AUTHOR_NAME_FULL} <!-- IF U_MANAGE_AUTHOR -->[ <a href="{U_MANAGE_AUTHOR}">{L_MANAGE_AUTHOR}</a> ]<!-- ENDIF --></td>
		</tr>
		<!-- IF AUTHOR_REALNAME -->
		<tr>
			<td align="right"><strong>{L_REAL_NAME}:</strong></td>
			<td align="left">{AUTHOR_REALNAME}</td>
		</tr>
		<!-- ENDIF -->
		<!-- IF AUTHOR_WEBSITE -->
		<tr>
			<td align="right"><strong>{L_WEBSITE}:</strong></td>
			<td align="left">{AUTHOR_WEBSITE_LINK}</td>
		</tr>
		<!-- ENDIF -->
	</table>



	<h3>{L_AUTHOR_STATISTICS}</h3>
	<table>
		<tr>
			<td align="right"><strong>{L_AUTHOR_RATING}:</strong></td>
			<td align="left">{AUTHOR_RATING_STRING} ({AUTHOR_RATING_COUNT})</td>
		</tr>
		<tr>
			<td align="right"><strong>{L_AUTHOR_CONTRIBS}:</strong></td>
			<td align="left">{AUTHOR_CONTRIBS}</td>
		</tr>
		<!-- BEGIN type_counts -->
		<tr>
			<td align="right"><strong>{type_counts.NAME}:</strong></td>
			<td align="left">{type_counts.VALUE}</td>
		</tr>
		<!-- END type_counts -->
	</table>


<div class="clear"></div>

<!-- IF AUTHOR_DESC -->
<h3>{L_AUTHOR_DESC}</h3>
{AUTHOR_DESC}
<!-- ENDIF -->
	<span class="corners-bottom main-corners"><span></span></span></div>
</div>
<!-- INCLUDE authors/author_footer.html -->