<!-- INCLUDE authors/author_header.html -->


<h3 class="section-name">{PAGE_TITLE}</h3>

<div class="container">
	<div class="inner"><span class="corners-top main-corners"><span></span></span>
		<ul class="linklist">
			<li class="rightside pagination">
				<!-- IF TOTAL_RESULTS -->{TOTAL_RESULTS}<!-- ENDIF -->
				<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
			</li>
		</ul>
		<ul class="topiclist simple">
			<li class="header">
				<dl class="icon">
					<dt>{L_CONTRIBUTIONS}</dt>
					<dd class="type">{L_TYPE}</dd>
					<dd class="general phpbb-version">{L_PHPBB_VERSION}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist" id="modlist">
			<!-- INCLUDE common/contribution_list.html -->
		</ul>
		<ul class="linklist">
			<li class="rightside pagination">
				<!-- IF TOTAL_RESULTS -->{TOTAL_RESULTS}<!-- ENDIF -->
				<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
			</li>
		</ul>
	<span class="corners-bottom main-corners"><span></span></span></div>
</div>

<!-- INCLUDE authors/author_footer.html -->