<!-- INCLUDE authors/author_header.html -->


<h3 class="section-name">{PAGE_TITLE}</h3>

<div class="container">
	<div class="inner"><span class="corners-top main-corners"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{L_CONTRIBUTIONS}</dt>
					<dd class="type">{L_TYPE}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist" id="modlist">
		<!-- BEGIN contribs -->
			<li class="row<!-- IF contribs.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
				<dl>
					<dt><a class="topictitle" href="{contribs.U_VIEW_CONTRIB}">{contribs.CONTRIB_NAME}</a></dt>
					<dd class="type">{contribs.CONTRIB_TYPE}</dd>
					<dd class="general">
						<a href="" title="{L_CONTRIB_MANAGE}"><img src="{T_TITANIA_THEME_PATH}/images/icon_settings.gif" alt="{L_CONTRIB_MANAGE}" /></a>
						<a href="" title="{L_NEW_REVISION}"><img src="{T_TITANIA_THEME_PATH}/images/icon_new_revision.gif" alt="{L_NEW_REVISION}" /></a>
						<a href="" title="{L_QUEUE_DISCUSSION}"><img src="{T_TITANIA_THEME_PATH}/images/icon_discuss.gif" alt="{L_QUEUE_DISCUSSION}" /></a>
					</dd>
				</dl>
			</li>
		<!-- END contribs -->
		</ul>
	<span class="corners-bottom main-corners"><span></span></span></div>
</div>

<!-- INCLUDE authors/author_footer.html -->