<!-- INCLUDE authors/author_header.html -->

<div class="container" id="author-profile">
	<div class="inner"><span class="corners-top main-corners"><span></span></span>
		<div class="left-column demo">
				<!-- IF USER_AVATAR -->{USER_AVATAR}<br /><!-- ELSE --><div class="no-avatar">{L_NO_AVATAR}</div><!-- ENDIF -->
				<!-- IF U_USER_PROFILE --><a href="{U_USER_PROFILE}">{L_VIEW_USER_PROFILE}</a><!-- ENDIF -->
		</div>

		<div class="right-column">
			<ul class="general-info">
				<li>
					<strong>{L_AUTHOR}</strong> {USER_FULL}
				</li>
				<!-- IF AUTHOR_REALNAME -->
				<li>
					<strong>{L_AUTHOR_REAL_NAME}</strong> {AUTHOR_REALNAME}
				</li>
				<!-- ENDIF -->
				<!-- IF U_AUTHOR_PROFILE_PHPBB_COM -->
				<li>
					<strong>{L_PHPBB_PROFILE}</strong> <a href="{U_AUTHOR_PROFILE_PHPBB_COM}">{L_VIEW}</a>
				</li>
				<!-- ENDIF -->
				<!-- IF AUTHOR_WEBSITE -->
				<li>
					<strong>{L_WEBSITE}</strong> {AUTHOR_WEBSITE_LINK}
				</li>
				<!-- ENDIF -->
				<li>
					<strong>{L_JOINED}</strong> {USER_JOINED}
				</li>
				<li>
					<strong>{L_POSTS}</strong> {USER_POSTS}
				</li>
				<!-- IF AUTHOR_RATING_STRING -->
				<li>
					<strong>{L_AUTHOR_RATING}</strong> {AUTHOR_RATING_STRING} ({AUTHOR_RATING_COUNT})
				</li>
				<!-- ENDIF -->
				<li style="border: 0;">
					<strong>{L_AUTHOR_CONTRIBS}</strong>{AUTHOR_CONTRIBS} (<a href="{U_AUTHOR_CONTRIBUTIONS}">{AUTHOR_CONTRIB_LIST}</a>)
				</li>
				<!-- IF U_EMAIL -->
				<li>
					<strong>{L_EMAIL_ADDRESS}</strong> <a href="{U_EMAIL}">{L_SEND_EMAIL_USER} {USERNAME}</a>
				</li>
				<!-- ENDIF -->
				<!-- IF U_PM -->
				<li>
					<strong>{L_PM}</strong> <a href="{U_PM}">{L_SEND_PRIVATE_MESSAGE}</a>
				</li>
				<!-- ENDIF -->
				<!-- IF U_MSN -->
				<li>
					<strong>{L_MSNM}</strong> <a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_MSNM_MESSAGE}</a>
				</li>
				<!-- ENDIF -->
				<!-- IF U_YIM -->
				<li>
					<strong>{L_YIM}</strong> <a href="{U_YIM}" onclick="popup(this.href, 780, 550); return false;">{L_SEND_YIM_MESSAGE}</a>
				</li>
				<!-- ENDIF -->
				<!-- IF U_AIM -->
				<li>
					<strong>{L_AIM}</strong> <a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_AIM_MESSAGE}</a>
				</li>
				<!-- ENDIF -->
				<!-- IF U_ICQ -->
				<li>
					<strong>{L_ICQ}</strong> <a href="{U_ICQ}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_ICQ_MESSAGE}</a>
				</li>
				<!-- ENDIF -->
				<!-- IF U_JABBER and S_JABBER_ENABLED -->
				<li>
					<strong>{L_JABBER}</strong> <a href="{U_JABBER}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_JABBER_MESSAGE}</a>
				</li>
				<!-- ENDIF -->
			</ul>
		
			<!-- IF AUTHOR_DESC -->
			<dl class="contrib-description">
				<dt><strong>{L_DESCRIPTION}</strong></dt>
				<dd>{AUTHOR_DESC}</dd>
			</dl>
			<!-- ENDIF -->
		
			<!-- IF USER_SIG -->

			<dl class="contrib-description">
				<dt><strong>{L_SIGNATURE}</strong></dt>
				<dd>{USER_SIG}</dd>
			</dl>
			<!-- ENDIF -->
			
		</div>
	<span class="corners-bottom main-corners"><span></span></span></div>
</div>
<!-- INCLUDE authors/author_footer.html -->