<!-- INCLUDE authors/author_header.html -->

<h2 class="section-title">{PAGE_TITLE} :: {L_DETAILS}</h2>

<div class="column1">
	<h3>{L_AUTHOR_DETAILS}</h3>
	<table>
		<tr>
			<td align="right"><strong>{L_AUTHOR}:</strong></td>
			<td align="left">{AUTHOR_NAME_FULL} <!-- IF U_EDIT_AUTHOR -->[ <a href="{U_EDIT_AUTHOR}">{L_EDIT_AUTHOR}</a> ]<!-- ENDIF --></td>
		</tr>
		<!-- IF AUTHOR_REALNAME -->
		<tr>
			<td align="right"><strong>{L_REAL_NAME}:</strong></td>
			<td align="left">{AUTHOR_REALNAME}</td>
		</tr>
		<!-- ENDIF -->
		<!-- IF AUTHOR_WEBSITE -->
		<tr>
			<td align="right"><strong>{L_WEBSITE}:</strong></td>
			<td align="left">{AUTHOR_WEBSITE}</td>
		</tr>
		<!-- ENDIF -->
	</table>
</div>

<div class="column2">
	<h3>{L_AUTHOR_STATISTICS}</h3>
	<table>
		<tr>
			<td align="right"><strong>{L_AUTHOR_RATING}:</strong></td>
			<td align="left">{AUTHOR_RATING_STRING} ({AUTHOR_RATING_COUNT})</td>
		</tr>
		<tr>
			<td align="right"><strong>{L_AUTHOR_CONTRIBS}:</strong></td>
			<td align="left">{AUTHOR_CONTRIBS}</td>
		</tr>
		<tr>
			<td align="right"><strong>{L_AUTHOR_MODS}:</strong></td>
			<td align="left">{AUTHOR_MODS}</td>
		</tr>
		<tr>
			<td align="right"><strong>{L_AUTHOR_STYLES}:</strong></td>
			<td align="left">{AUTHOR_STYLES}</td>
		</tr>
		<tr>
			<td align="right"><strong>{L_AUTHOR_SNIPPETS}:</strong></td>
			<td align="left">{AUTHOR_SNIPPETS}</td>
		</tr>
	</table>
</div>

<div class="clear"></div>

<!-- IF AUTHOR_DESC -->
<h3>{L_AUTHOR_DESC}</h3>
{AUTHOR_DESC}
<!-- ENDIF -->

<!-- INCLUDE authors/author_footer.html -->