<!-- INCLUDE overall_header.html -->
{L_AUTHOR_PROFILE}
<table>
<tr><td>{AUTHOR_NAME}</td></tr>
<tr><td>{USER_FULL}</td></tr>
<tr><td>{REAL_NAME}</td></tr>
<tr><td>{WEBSITE}</td></tr>
<tr><td>{RATING} ({RATING_COUNT})</td></tr>
<tr><td>{CONTRIB_COUNT}</td></tr>
<tr><td>{SNIPPET_COUNT}</td></tr>
<tr><td>{MOD_COUNT}</td></tr>
<tr><td>{STYLE_COUNT}</td></tr>
<!-- IF U_PHPBB_PROFILE -->
	<tr><td width="10%"><a href="{U_PHPBB_PROFILE}">{L_PHPBB_PROFILE}</a></td></tr>
<!-- ENDIF -->
</table>
<!-- INCLUDE overall_footer.html -->