<!-- INCLUDE overall_header.html -->
{L_AUTHOR_PROFILE}
<table>
<tr><td>{AUTHOR_NAME}</td></tr>
<tr><td>{USER_FULL}</td></tr>
<tr><td>{REAL_NAME}</td></tr>
<tr><td>{WEBSITE}</td></tr>
<tr><td>{RATING}</td></tr>
<tr><td>{CONTRIB_COUNT}</td></tr>
<tr><td>{SNIPPET_COUNT}</td></tr>
<tr><td>{MOD_COUNT}</td></tr>
<tr><td>{STYLE_COUNT}</td></tr>
<td width="10%"><!-- IF authors.U_PHPBB_PROFILE --><a href="{authors.U_PHPBB_PROFILE}">{L_PHPBB_PROFILE}</a><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
</table>
<!-- INCLUDE overall_footer.html -->