<!-- INCLUDE overall_header.html -->
{L_AUTHOR_PROFILE}
<table width="100%">
<!-- BEGIN authors -->
<tr>
	<td width="10%">{authors.AUTHOR_FULL}</td>
	<td width="10%">{authors.USER_FULL}</td>
	<td width="10%"><!-- IF authors.U_PHPBB_PROFILE --><a href="{authors.U_PHPBB_PROFILE}">{L_PHPBB_PROFILE}</a><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
	<td width="10%">{authors.CONTRIBS}</td>
	<td width="10%">{authors.MODS}</td>
	<td width="10%">{authors.STYLES}</td>
	<td width="10%">{authors.RATING}</td>
	<td width="10%">{authors.WEBSITE}</td>
	<td width="10%">{authors.LAST_VISIT}</td>
	<td width="10%">{authors.POSTS}</td>
	<td width="10%"><!-- IF authors.ONLINE -->{L_ONLINE}<!-- ENDIF --></td>
</tr>
<!-- END -->
</table>
<fieldset class="display-options">
	<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
	<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
	<!-- IF S_MODE_SELECT --><label for="sk">{L_SELECT_SORT_METHOD}: <select name="sk" id="sk">{S_MODE_SELECT}</select></label>
	<label for="sd">{L_ORDER} <select name="sd" id="sd">{S_ORDER_SELECT}</select> <input type="submit" name="sort" value="{L_SUBMIT}" class="button2" /></label>
	<!-- ENDIF -->
</fieldset>
<!-- INCLUDE overall_footer.html -->