<Files "config.php">
	Order Allow,Deny
	Deny from All
</Files>

<Files "common.php">
	Order Allow,Deny
	Deny from All
</Files>

RewriteEngine on

#authors
RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^(authors?)/([^/]+)/?(.+)?$		./authors/index.php?u=$2&page=$3 [NC]

#contributions
RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^(mod|style|snippet|translation|contributions?)/([^/]+)/?(.+)?$		./contributions/index.php?c=$2&page=$3 [NC]