{% INCLUDE 'overall_header.html' %}

<h2>{{ lang('CUSTOMISATION_DATABASE') }} - {{ lang('ALL_SUPPORT') }}</h2>

{% if loops.support_types|length and U_ALL_SUPPORT %}
<p>
	{% if U_ALL_SUPPORT %}<a href="{{ U_ALL_SUPPORT }}">{{ lang('ALL_SUPPORT') }}</a> &bull; {% endif %}
	{% for support_types in loops.support_types %}<a href="{{ support_types.U_SUPPORT }}">{{ support_types.TYPE_SUPPORT }}</a>{% if not support_types.S_LAST_ROW %} &bull; {% endif %}{% endfor %}
</p>
{% endif %}

{% INCLUDE '@phpbb_titania/common/topic_list.html' %}

{% INCLUDE 'overall_footer.html' %}
