{# This is the edit contribution/revision page #}

{% INCLUDECSS '@phpbb_oberon/oberon_style.css' %}
{% include 'overall_header.html' %}

    <h2>{{ L_PAGE_HEADING }}</h2>

    <form id="add_contribution" method="post" action="{{ U_ACTION }}" enctype="multipart/form-data">
        <div class="custdb_container no-sidebar">
            <!-- Main Content -->
            <div class="custdb_content">
                <div class="custdb_main_category">
                    <div class="custdb_main_category_header">
                        {{ CONTRIBUTION_NAME }}
                    </div>

                    <div class="custdb_main_category_content">
                        {% if S_IS_EDIT_CONTRIBUTION %}
                        {# This is for editing contributions only #}

                        <!-- Contribution Name -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="contribution_name">{{ lang('CUSTDB_CONTRIBUTION_NAME') }}</label>
                            <input type="text" id="contribution_name" name="contribution_name" class="custdb_input_theme" value="{{ CONTRIBUTION_NAME }}" required>
                            <input type="hidden" name="contribution_id" value="{{ CONTRIBUTION_ID }}">
                        </div>

                        <!-- Contribution Description -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="contribution_description">{{ lang('CUSTDB_CONTRIBUTION_DESCRIPTION') }}</label>
                            <textarea id="contribution_description" name="contribution_description" class="custdb_input_theme" rows="5">{{ CONTRIBUTION_DESCRIPTION }}</textarea>
                        </div>

                        <!-- Authors -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="authors">{{ lang('CUSTDB_AUTHORS') }}</label>
                            <input type="text" id="authors" name="authors" class="custdb_input_theme" value="{{ CONTRIBUTION_AUTHORS }}">
                        </div>

                        <!-- Contribution Type Dropdown -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="contribution_type">{{ lang('CUSTDB_CONTRIBUTION_TYPE') }}</label>
                            <select id="contribution_type" name="contribution_type" class="custdb_input_theme custdb_dropdown_theme">
                                <option value="{{ TYPE_EXTENSIONS }}"{% if CONTRIBUTION_TYPE == TYPE_EXTENSIONS %} selected{% endif %}>{{ lang('CUSTDB_TYPE_EXTENSIONS') }}</option>
                                <option value="{{ TYPE_STYLES }}"{% if CONTRIBUTION_TYPE == TYPE_STYLES %} selected{% endif %}>{{ lang('CUSTDB_TYPE_STYLES') }}</option>
                                <option value="{{ TYPE_TRANSLATIONS }}"{% if CONTRIBUTION_TYPE == TYPE_TRANSLATIONS %} selected{% endif %}>{{ lang('CUSTDB_TYPE_TRANSLATIONS') }}</option>
                                <option value="{{ TYPE_BBCODES }}"{% if CONTRIBUTION_TYPE == TYPE_BBCODES %} selected{% endif %}>{{ lang('CUSTDB_TYPE_BBCODES') }}</option>
                                <option value="{{ TYPE_TOOLS }}"{% if CONTRIBUTION_TYPE == TYPE_TOOLS %} selected{% endif %}>{{ lang('CUSTDB_TYPE_TOOLS') }}</option>
                                <option value="{{ TYPE_ARCHIVE }}"{% if CONTRIBUTION_TYPE == TYPE_ARCHIVE %} selected{% endif %}>{{ lang('CUSTDB_TYPE_ARCHIVE') }}</option>
                            </select>
                        </div>

                        <!-- Demo Link -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="contribution_demo_link">{{ lang('CUSTDB_DEMO_LINK') }}</label>
                            <input type="url" id="contribution_demo_link" name="contribution_demo_link" class="custdb_input_theme" value="{{ CONTRIBUTION_DEMO_LINK }}">
                        </div>

                        {% else %}
                        {# This is for revisions only #}

                        <!-- Revision Name -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="revision_name">{{ lang('CUSTDB_REVISION_NAME') }}</label>
                            <input type="text" id="revision_name" name="revision_name" class="custdb_input_theme" value="{{ REVISION_NAME }}">
                            <input type="hidden" name="revision_id" value="{{ REVISION_ID }}">
                        </div>

                        <!-- Revision Description -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="revision_description">{{ lang('CUSTDB_REVISION_DESCRIPTION') }}</label>
                            <textarea id="revision_description" name="revision_description" class="custdb_input_theme" rows="5">{{ REVISION_DESCRIPTION }}</textarea>
                        </div>

                        <!-- Version Number -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="revision_version_number">{{ lang('CUSTDB_VERSION_NUMBER') }}</label>
                            <input type="text" id="version_number" name="revision_version_number" class="custdb_input_theme" value="{{ REVISION_VERSION }}">
                        </div>

                        <!-- phpBB Version -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="revision_phpbb_version">{{ lang('CUSTDB_PHPBB_VERSION') }}</label>
                            <select id="phpbb_version" name="revision_phpbb_version" class="custdb_input_theme custdb_dropdown_theme">
                                {% for version in SUPPORTED_PHPBB_VERSIONS %}
                                    <option value="{{ version }}" {% if version == REVISION_PHPBB_VERSION %}selected{% endif %}>{{ version }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <hr>

                        <!-- Replacement upload -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="revision_file">
                                {{ lang('CUSTDB_UPLOAD_NEW_REVISION') }}
                            </label>

                            {% if REVISION_ATTACHMENT_URL %}
                            <div class="custdb_input_help">
                                {{ lang('CUSTDB_DELETE_ATTACHMENT') }}
                                <br>
                                <a href="{{ REVISION_ATTACHMENT_URL }}">
                                    {{ lang('CUSTDB_CURRENT_FILE', REVISION_ATTACHMENT) }}
                                </a>
                            </div>
                            {% endif %}

                            <input type="file"
                                id="revision_file"
                                name="revision_file"
                                class="custdb_input_theme">
                        </div>

                        <hr>

                        <!-- Upload new screenshots -->
                        <div class="custdb_form_group">
                            <label class="custdb_input_label" for="screenshots">
                                {{ lang('CUSTDB_UPLOAD_SCREENSHOTS') }}
                            </label>


                            {% if REVISION_SCREENSHOTS %}
                                <div class="custdb_edit_revision_existing_screenshots">

                                    <div class="custdb_edit_revision_screenshot_grid">
                                        {% for screenshot in REVISION_SCREENSHOTS %}
                                            <div class="custdb_edit_revision_screenshot_item">

                                                <img src="{{ screenshot }}"
                                                    alt=""
                                                    class="custdb_edit_revision_screenshot_thumb">

                                                <label class="custdb_edit_revision_checkbox_label">
                                                    <input type="checkbox"
                                                        name="delete_screenshots[]"
                                                        value="{{ screenshot }}">

                                                    {{ lang('CUSTDB_DELETE_SCREENSHOT') }}
                                                </label>

                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endif %}

                            <input type="file"
                                id="screenshots"
                                name="screenshots[]"
                                multiple
                                accept="image/*"
                                class="custdb_input_theme">
                        </div>

                        {% endif %}

                        {{ S_FORM_TOKEN }}
                        
                        <div class="custdb_form_group">
                            <button name="submit" type="submit" class="custdb_button">{{ lang('SUBMIT') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% include 'overall_footer.html' %}