{% INCLUDECSS '@phpbb_oberon/oberon_style.css' %}
{% INCLUDEJS '@phpbb_oberon/oberon_scripts.js' %}
{% include 'overall_header.html' %}

    <div class="custdb_action_bar">
        <h2>{{ CONTRIBUTION_NAME }}</h2>

        {% if S_USER_LOGGED_IN %}
        <div>
            {% if U_NEW_REVISION %}
            <a href="{{ U_NEW_REVISION }}" class="custdb_button">{{ lang('CUSTDB_NEW_REVISION') }}</a>
            {% endif %}
            {% if S_IS_TEAM_MEMBER %}
            <a href="{{ U_EDIT_CONTRIBUTION }}" class="custdb_button">{{ lang('CUSTDB_EDIT_CONTRIBUTION') }}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="custdb_contribution_main_wrapper">
        <div class="custdb_container">
            <div class="custdb_sidebar">
                {% if CONTRIBUTION_IMAGES|length > 0 %}
                    <div id="custdb_main_image_container" class="custdb_main_image_container" data-original-src="{{ CONTRIBUTION_IMAGES[0] }}">
                        <img src="{{ CONTRIBUTION_IMAGES[0] }}" alt="{{ CONTRIBUTION_NAME }}" class="custdb_contribution_image">
                    </div>
                    
                    {% if CONTRIBUTION_IMAGES|length > 1 %}
                    <div class="custdb_thumbnail_grid">
                        {% for image in CONTRIBUTION_IMAGES %}
                            {% if loop.index > 1 and loop.index < 5 %}
                            <img src="{{ image }}" alt="{{ CONTRIBUTION_NAME }} {{ loop.index }}" class="custdb_thumbnail" data-full-src="{{ image }}" role="button" tabindex="0">
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                {% else %}
                    <div class="custdb_contribution_image_placeholder">
                        {{ lang('CUSTDB_NO_IMAGE') }}
                    </div>
                {% endif %}

                <div class="custdb_sidebar_meta">
                    <div>
                        <strong>{{ lang('CUSTDB_CONTRIBUTION_TYPE') }}</strong>
                        {{ CONTRIBUTION_TYPE }}
                    </div>
                    <div>
                        <strong>{{ lang('CUSTDB_VERSION_NUMBER') }}</strong>
                        {{ VERSION_NUMBER }}
                    </div>
                    <div>
                        <strong>{{ lang('CUSTDB_STATUS') }}</strong>
                        {{ EXTERNAL_STATUS }}
                    </div>
                    {% if DEMO_LINK %}
                    <div>
                        <strong>{{ lang('CUSTDB_DEMO_LINK') }}</strong>
                        <a href="{{ DEMO_LINK }}" class="custdb_demo_link" target="_blank">{{ DEMO_LINK }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="custdb_content">
                <div class="custdb_content_title">{{ CONTRIBUTION_NAME }}</div>
                <div class="custdb_content_author">
                    {{ AUTHORS }}
                </div>

                <div class="custdb_contribution_description">
                    {{ CONTRIBUTION_DESCRIPTION }}
                </div>

                {% for revision in revisions %}
                <div class="custdb_main_category{% if revision.REVISION_UNVALIDATED %} custdb_main_category_unvalidated{% endif %}{% if revision.REVISION_DENIED %} custdb_main_category_denied{% endif %}">
                    <div class="custdb_main_category_header">
                        <a href="{{ revision.U_VIEW_REVISION }}">
                            {% if revision.REVISION_DENIED %}
                                <s>{{ revision.REVISION_NAME }}{% if revision.REVISION_VERSION %} ({{ revision.REVISION_VERSION }}){% endif %}</s>
                            {% else %}
                                {{ revision.REVISION_NAME }}{% if revision.REVISION_VERSION %} ({{ revision.REVISION_VERSION }}){% endif %}
                            {% endif %}
                        </a>
                    </div>

                    <div class="custdb_main_category_content">
                        {{ revision.REVISION_DESCRIPTION }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% include 'overall_footer.html' %}