{% INCLUDE 'overall_header.html' %}

<h2 class="solo">{{ lang('SEARCH') }}</h2>

<form method="get" action="{{ S_SEARCH_ACTION }}">

<div class="panel">
	<div class="inner">
	<h3>{{ lang('SEARCH_QUERY') }}</h3>

	<fieldset>
	<dl>
		<dt><label for="keywords">{{ lang('SEARCH_KEYWORDS') ~ lang('COLON') }}</label><br /><span>{{ lang('SEARCH_KEYWORDS_EXPLAIN') }}</span></dt>
		<dd><input type="text" class="inputbox" name="keywords" id="keywords" size="40" title="{{ lang('SEARCH_KEYWORDS') }}" /></dd>
		{#<dd><label for="terms1"><input type="radio" name="terms" id="terms1" value="all" checked="checked" /> {{ lang('SEARCH_ALL_TERMS') }}</label></dd>
		<dd><label for="terms2"><input type="radio" name="terms" id="terms2" value="any" /> {{ lang('SEARCH_ANY_TERMS') }}</label></dd>#}
	</dl>
	<dl>
		<dt><label for="author">{{ lang('SEARCH_AUTHOR') ~ lang('COLON') }}</label></dt>
		<dd><input type="text" class="inputbox" name="author" id="author" size="40" title="{{ lang('SEARCH_AUTHOR') }}" /></dd>
	</dl>
	<dl>
		<dt><label for="contrib_category">{{ lang('CONTRIB_CATEGORY') ~ lang('COLON') }}</label><br /><span>{{ lang('MULTI_SELECT_EXPLAIN') }}</span></dt>
		<dd>
			<select name="c[]" id="contrib_category" multiple="multiple" size="5">
				{% for category_select in loops.category_select %}
				<option class="type_{{ category_select.TYPE }}" value="{{ category_select.VALUE }}"{% if category_select.S_SELECTED %} selected="selected"{% endif %}{% if category_select.S_DISABLED %} disabled="disabled"{% endif %}>
					{% for level in category_select.level %}&nbsp; &nbsp;{% endfor %}{{ category_select.NAME }}
				</option>
				{% endfor %}
			</select>
		</dd>
	</dl>
	<dl>
		<dt><label for="search_child1">{{ lang('SEARCH_SUBCATEGORIES') ~ lang('COLON') }}</label></dt>
		<dd>
			<label for="search_child1"><input type="radio" name="sc" id="search_child1" value="1" checked="checked" /> {{ lang('YES') }}</label>
			<label for="search_child2"><input type="radio" name="sc" id="search_child2" value="0" /> {{ lang('NO') }}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="versions">{{ lang('PHPBB_VERSION') ~ lang('COLON') }}</label></dt>
		<dd><select name="versions[]" multiple="multiple" size="5">
			{% for phpbb_versions in loops.phpbb_versions %}
				<option value="{{ phpbb_versions.VERSION }}"{% if phpbb_versions.S_SELECTED %} selected="selected"{% endif %}>{{ phpbb_versions.VERSION }}</option>
			{% endfor %}
		</select></dd>
	</dl>
	</fieldset>

	</div>
</div>

<div class="panel bg2">
	<div class="inner">

	<h3>{{ lang('SEARCH_OPTIONS') }}</h3>

	<fieldset>
	<dl>
		<dt><label for="sf1">{{ lang('SEARCH_WITHIN') ~ lang('COLON') }}</label></dt>
		<dd><label for="sf1"><input type="radio" name="sf" id="sf1" value="" checked="checked" /> {{ lang('CONTRIB_NAME_DESCRIPTION') }}</label></dd>
		<dd><label for="sf2"><input type="radio" name="sf" id="sf2" value="msgonly" /> {{ lang('CONTRIB_DESCRIPTION') }}</label></dd>
		<dd><label for="sf3"><input type="radio" name="sf" id="sf3" value="titleonly" /> {{ lang('CONTRIB_NAME') }}</label></dd>
	</dl>
	</fieldset>

	</div>
</div>

<div class="panel bg3">
	<div class="inner">

	<fieldset class="submit-buttons">
		{{ S_HIDDEN_FIELDS }}<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{{ lang('SEARCH') }}" class="button1" />
	</fieldset>

	</div>
</div>

</form>

{% INCLUDE 'overall_footer.html' %}
