<!-- INCLUDE overall_header.html -->

<!-- IF .categories or U_QUEUE_STATS -->
<ul class="linklist">
	<li>
		<!-- IF U_ALL_SUPPORT --><a href="{U_ALL_SUPPORT}">{L_ALL_SUPPORT}</a><!-- ENDIF -->
		<!-- IF U_FIND_CONTRIBUTION -->&bull; <a href="{U_FIND_CONTRIBUTION}">{L_FIND_CONTRIBUTION}</a><!-- ENDIF -->
		<!-- IF U_QUEUE_STATS --> &bull; <a href="{U_QUEUE_STATS}">{L_QUEUE_STATS}</a><!-- ENDIF -->
	</li>
	<li class="rightside">
		<!-- IF U_TITANIA_SEARCH_SELF --><a href="{U_TITANIA_SEARCH_SELF}">{L_SEARCH_SELF}</a><!-- ENDIF -->
	</li>
</ul>
<!-- ENDIF -->

	<div class="action-bar contrib-filter" style="margin-top: 2em;">
		<!-- IF U_CREATE_CONTRIBUTION -->
		<div class="buttons">
			<a href="{U_CREATE_CONTRIBUTION}" title="{L_NEW_CONTRIBUTION}" class="button icon-button post-icon">{L_NEW_CONTRIBUTION}</a>
		</div>
		<!-- ENDIF -->

		<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="search-box">
			<form method="get" id="category-search" action="{S_SEARCHBOX_ACTION}">
				<fieldset>
					<input class="inputbox search tiny" type="text" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH_MINI}" />
					<button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
					<a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
					<input type="hidden" value="{CATEGORY_ID}" name="c[]" />
					<input type="hidden" value="1" name="sc" />
				</fieldset>
			</form>
		</div>
		<!-- ENDIF -->

		<div class="dropdown-container sort-option branch-sort rightside">
			<span title="{L_SORT}" class="dropdown-trigger sort-active">
				{ACTIVE_BRANCH}
			</span>
			<div class="dropdown hidden">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents branch-sort-options">
					<!-- BEGIN sort_branches -->
						<li>
							<a href="{sort_branches.URL}" data-ajax="titania.category.load" data-sort="{sort_branches.ID}"<!-- IF sort_branches.ACTIVE --> class="active"<!-- ENDIF -->>
								{sort_branches.NAME}
							</a>
						</li>
					<!-- END sort_branches -->
				</ul>
			</div>
		</div>

		<div class="dropdown-container sort-option key-sort rightside">
			<span title="{L_SORT}" class="dropdown-trigger sort-active">
				{ACTIVE_SORT_OPTION}
			</span>
			<div class="dropdown hidden">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents key-sort-options">
					<!-- BEGIN sort -->
						<li>
							<a href="{sort.URL}" data-ajax="titania.category.load" data-sort="{sort.ID}"<!-- IF sort.ACTIVE --> class="active"<!-- ENDIF -->>
								{sort.NAME}
							</a>
						</li>
					<!-- END sort -->
				</ul>
			</div>
		</div>

	</div>

	<div class="categories">
		<a href="{U_ALL_CONTRIBUTIONS}" data-ajax="titania.category.load"<!-- IF !CATEGORY_ID --> class="active"<!-- ENDIF --> data-category-id="0">{L_ALL_CONTRIBUTIONS}</a>
		<!-- BEGIN categories -->
		<!-- IF LAST_DEPTH and categories.DEPTH neq LAST_DEPTH --></div><!-- ENDIF -->
		<!-- IF categories.DEPTH and LAST_DEPTH neq categories.DEPTH --><div data-parent-id="{categories.PARENT_ID}"<!-- IF not categories.ACTIVE --> style="display: none;"<!-- ENDIF -->><!-- ENDIF -->
		<a href="{categories.U_VIEW_CATEGORY}" data-ajax="titania.category.load"<!-- IF CATEGORY_ID eq categories.CATEGORY_ID --> class="active"<!-- ENDIF --><!-- IF categories.DEPTH --> style="margin-left: {categories.DEPTH}px;"<!-- ENDIF --> data-category-id="{categories.CATEGORY_ID}">
			{categories.CATEGORY_NAME}
			<span>{categories.CATEGORY_CONTRIBS}</span>
		</a>
		{% set LAST_DEPTH = categories.DEPTH %}
		<!-- END categories -->
	</div>

<div class="contrib-list-container">
	<div class="action-bar"<!-- IF !PAGINATION and !TOTAL_RESULTS --> style="display: none;"<!-- ENDIF -->>
		<!-- INCLUDE common/pagination.html -->
	</div>

	<div class="contrib-list">
		<!-- INCLUDE common/contribution_list.html -->
	</div>

	<div class="action-bar"<!-- IF !PAGINATION and !TOTAL_RESULTS --> style="display: none;"<!-- ENDIF -->>
		<!-- INCLUDE common/pagination.html -->
	</div>
</div>

<br />

<!-- INCLUDE overall_footer.html -->
