<!-- INCLUDE overall_header.html -->
<div class="panel">
	<div class="inner">
		<h3>{L_QUEUE_STATS}</h3>
			<div class="content" id="queue-stat-info">
				<ul>
					<li>{NUM_REVISIONS_IN_QUEUE}</li>
					<!-- IF S_QUEUE_ACTIVE -->
					<li>{AVG_CURRENT_QUEUE_WAIT}</li>
					<li>{OLDEST_UNVALIDATED_REV}</li>
					<!-- ENDIF -->
					<li>{AVG_PAST_VALIDATION_TIME}</li>
					<li>{SINCE_X_VALIDATED_REVS}</li>
				</ul>
			</div>
	</div>
</div>

<div class="panel">
	<div class="inner">
		<h3>{L_APPROVAL_DENIAL_RATE}</h3>
		<div class="queue-statistics-box">
			<div class="stat-ratio">
				<!-- IF APPROVED_RATIO --><span class="stat-approved" style="width: {APPROVED_RATIO}%">{APPROVED_RATIO}%</span><!-- ENDIF -->
				<!-- IF DENIED_RATIO --><span class="stat-denied" style="width: {DENIED_RATIO}%">{DENIED_RATIO}%</span><!-- ENDIF -->
			</div>
		</div>
	</div>
</div>

<div class="panel">
	<div class="inner">
		<h3>{L_QUEUE_ACTIVITY_30_DAYS}</h3>
		<!-- IF .dayrow -->
		<div class="queue-statistics-box">
			<div id="queue-activity">
			<!-- BEGIN dayrow -->
				<div class="stat-day" title="{dayrow.MONTH}/{dayrow.DAY}">
					<span style="height: {dayrow.REMAINDER_PCT}%; margin-top: {dayrow.PIXEL_OFFSET}px;"></span>
					<!-- IF dayrow.NEW_CNT -->
						<span class="stat-new fade" style="height: {dayrow.NEW_PCT}%" title="{L_REVISION_NEW}: {dayrow.NEW_CNT}">
						<!-- IF dayrow.NEW_PCT > 7 --><strong>{dayrow.NEW_CNT}</strong><!-- ENDIF -->
						</span>
					<!-- ENDIF -->
					<!-- IF dayrow.DENIED_CNT -->
						<span class="stat-denied fade" style="height: {dayrow.DENIED_PCT}%" title="{L_REVISION_DENIED}: {dayrow.DENIED_CNT}">
						<!-- IF dayrow.DENIED_PCT > 7 --><strong>{dayrow.DENIED_CNT}</strong><!-- ENDIF -->
						</span>
						<!-- ENDIF -->
					<!-- IF dayrow.APPROVED_CNT -->
						<span class="stat-approved fade" style="height: {dayrow.APPROVED_PCT}%" title="{L_REVISION_APPROVED}: {dayrow.APPROVED_CNT}">
						<!-- IF dayrow.APPROVED_PCT > 7 --><strong>{dayrow.APPROVED_CNT}</strong><!-- ENDIF -->
						</span>
					<!-- ENDIF -->
				</div>
			<!-- END dayrow -->
			</div>
			<div class="day-list">
			<!-- BEGIN dayrow -->
				<span>
					<span class="pip"></span>
					<!-- IF (dayrow.S_FIRST_ROW or dayrow.S_LAST_ROW and (dayrow.DAY % 7) >= 3 ) or (dayrow.DAY % 7) == 0 or dayrow.MONTH_SWITCH-->
					<span class="day-list-date">{dayrow.MONTH}/{dayrow.DAY}</span>
					<!-- ELSE -->&nbsp;<!-- ENDIF -->
				</span>
			<!-- END dayrow -->
			</div>
		</div>
		<div class="queue-statistics-box">
			<p>
				<span class="legend stat-new"></span> {L_REVISION_NEW}
				<span class="legend stat-denied"></span> {L_REVISION_DENIED}
				<span class="legend stat-approved"></span> {L_REVISION_APPROVED}
			</p>
		</div>
		<!-- ELSE -->
			<p>{L_NO_QUEUE_ACTIVITY}</p>
		<!-- ENDIF -->
	</div>
</div>
<!-- INCLUDE overall_footer.html -->
