<fieldset class="fields2">
<dl>
	<dt><label for="{FORM_NAME}">{L_FILENAME}:</label></dt>
	<dd>
		<input type="file" name="{FORM_NAME}" id="{FORM_NAME}"<!-- IF MAX_LENGTH --> maxlength="{MAX_LENGTH}"<!-- ENDIF --> value="" class="inputbox autowidth" />
		<input type="submit" name="add_file" value="{L_ADD_FILE}" class="button2" onclick="upload = true;" />
	</dd>
</dl>
<dl>
	<dt><label for="filecomment">{L_FILE_COMMENT}:</label></dt>
	<dd><textarea name="filecomment" id="filecomment" rows="1" cols="40" class="inputbox autowidth">{FILE_COMMENT}</textarea></dd>
</dl>
<!-- BEGIN attach_row -->
	<hr class="dashed" />
	<dl>
		<dt><label for="attachment_comment_{attach_row.ATTACH_ID}">{L_FILE_COMMENT}:</label></dt>
		<dd><textarea name="attachment_comment_{attach_row.ATTACH_ID}" id="attachment_comment_{attach_row.ATTACH_ID}" rows="1" cols="35" class="inputbox">{attach_row.FILE_COMMENT}</textarea></dd>
		<dd><a href="{attach_row.U_VIEW_ATTACHMENT}" class="{S_CONTENT_FLOW_END}">{attach_row.FILENAME}</a></dd>
		<dd style="margin-top: 5px;">
			<!-- IF not attach_row.S_DELETED -->
				<!-- IF S_INLINE_ATTACHMENT_OPTIONS --><input type="button" value="{L_PLACE_INLINE}" onclick="attach_inline({attach_row.S_ROW_COUNT}, '{attach_row.FILENAME}');" class="button2" />&nbsp; <!-- ENDIF -->
				<input type="submit" name="delete_file[{attach_row.ATTACH_ID}]" value="{L_DELETE_FILE}" class="button2" />&nbsp;
			<!-- ELSE -->
				<p class="error">{L_FILE_DELETED}</p>
				<input type="submit" name="undelete_file[{attach_row.ATTACH_ID}]" value="{L_UNDELETE_FILE}" class="button2" />&nbsp;
				<input type="hidden" name="delete_file[{attach_row.ATTACH_ID}]" value="1" />
			<!-- ENDIF -->
			<input type="hidden" name="{FORM_NAME}_attachments[]" value="{attach_row.ATTACH_ID}" />
			<input type="hidden" name="index_{attach_row.ATTACH_ID}" value="{attach_row.S_ROW_COUNT}" />
		</dd>
	</dl>
<!-- END attach_row -->
</fieldset>