<!-- IF U_CREATE_CATEGORY -->
<div class="topic-actions">
	<div class="buttons">
		<div class="category-icon"><a href="{U_CREATE_CATEGORY}" title="{L_CREATE_CATEGORY}"><span></span>{L_CREATE_CATEGORY}</a></div>
	</div>
</div>
<!-- ENDIF -->

<!-- IF .categories -->
<div class="forabg" id="categories">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt>{L_CATEGORY}</dt>
				<dd class="general">{L_CONTRIBUTIONS}</dd>
				<!-- IF S_MANAGE -->
				<dd class="general" style="float: right;">{L_ACTIONS}</dd>
				<!-- ENDIF -->
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">

	<!-- BEGIN categories -->
		<li class="row">
			<dl>
				<dt>
					<!-- IF S_MANAGE -->
						<!-- IF categories.HAS_CHILDREN -->
						<a href="{categories.U_VIEW_MANAGE_CATEGORY}" class="forumtitle">{categories.CATEGORY_NAME}</a>
						<!-- ELSE -->
						<span class="content">{categories.CATEGORY_NAME}</span>
						<!-- ENDIF -->
					<!-- ELSE -->
						<a href="{categories.U_VIEW_CATEGORY}" class="forumtitle">{categories.CATEGORY_NAME}</a>
					<!-- ENDIF --><br />
					<!-- IF categories.CATEGORY_DESC -->{categories.CATEGORY_DESC}<!-- ENDIF -->
					<!-- IF categories.SUBFORUMS and categories.S_LIST_SUBFORUMS --><br /><strong>{categories.L_SUBFORUM_STR}</strong> {categories.SUBFORUMS}<!-- ENDIF -->
				</dt>
				<dd class="general">{categories.CATEGORY_CONTRIBS} <dfn>{L_CONTRIBUTIONS}</dfn></dd>
				<!-- IF S_MANAGE -->
				<dd class="general" style="float: right;">
					<!-- IF categories.S_FIRST_ROW && not categories.S_LAST_ROW -->
						{ICON_MOVE_UP_DISABLED}
						<a href="{categories.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
					<!-- ELSEIF not categories.S_FIRST_ROW && not categories.S_LAST_ROW -->
						<a href="{categories.U_MOVE_UP}">{ICON_MOVE_UP}</a>
						<a href="{categories.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
					<!-- ELSEIF categories.S_LAST_ROW && not categories.S_FIRST_ROW -->
						<a href="{categories.U_MOVE_UP}">{ICON_MOVE_UP}</a>
						{ICON_MOVE_DOWN_DISABLED}
					<!-- ELSE -->
						{ICON_MOVE_UP_DISABLED}
						{ICON_MOVE_DOWN_DISABLED}
					<!-- ENDIF -->
					<a href="{categories.U_EDIT}">{ICON_EDIT}</a>
					<a href="{categories.U_DELETE}">{ICON_DELETE}</a>
				</dd>
				<!-- ENDIF -->
			</dl>
		</li>
	<!-- END categories -->

	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF U_CREATE_CATEGORY -->
<div class="topic-actions">
	<div class="buttons">
		<div class="category-icon"><a href="{U_CREATE_CATEGORY}" title="{L_CREATE_CATEGORY}"><span></span>{L_CREATE_CATEGORY}</a></div>
	</div>
</div>
<!-- ENDIF -->