<!-- IF .categories -->
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt>{L_CATEGORY}</dt>
				<dd class="topics">{L_CONTRIBUTIONS}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">

	<!-- BEGIN categories -->
		<li class="row">
			<dl class="icon" style="background-image: url({categories.FORUM_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt title="{categories.FORUM_FOLDER_IMG_ALT}">
					<!-- IF categories.FORUM_IMAGE --><span class="forum-image">{categories.FORUM_IMAGE}</span><!-- ENDIF -->
					<a href="{categories.U_VIEW_CATEGORY}" class="forumtitle">{categories.CATEGORY_NAME}</a><br />
					{categories.FORUM_DESC}
					<!-- IF categories.SUBFORUMS and categories.S_LIST_SUBFORUMS --><br /><strong>{categories.L_SUBFORUM_STR}</strong> {categories.SUBFORUMS}<!-- ENDIF -->
				</dt>
				<dd class="topics">{categories.CATEGORY_CONTRIBS} <dfn>{L_CONTRIBUTIONS}</dfn></dd>
			</dl>
		</li>
		<!-- END categories -->

		</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->