<!-- IF U_COLORIZEIT -->
<!--[if lte IE 8]><script type="text/javascript">var clrOldIE = true;</script><![endif]-->
<script type="text/javascript">
// <![CDATA[
	
	function ColorizeIt(url)
	{
	    $('#colorizeit-container').show();
	    $('#colorizeit-content').html('<iframe src="' + url + '" style="border-width: 0; width: 100%; height: ' + (typeof(clrOldIE) == 'boolean' ? 300 : 900) + 'px;"></iframe>');
	}

// ]]>
</script>
<!-- ENDIF -->

<div class="left-column">
	<div class="container demo">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>
			<!-- IF CONTRIB_SCREENSHOT -->
				<!-- BEGIN preview(0,0) -->
					<!-- IF preview.S_THUMBNAIL -->
						<img src="{preview.THUMB_IMAGE}" alt="{preview.DOWNLOAD_NAME}" title="{preview.DOWNLOAD_NAME} ({preview.FILESIZE} {preview.SIZE_LANG}) {preview.L_DOWNLOAD_COUNT}" />
					<!-- ELSE -->
						<img src="{preview.U_INLINE_LINK}" alt="{preview.DOWNLOAD_NAME}" />
					<!-- ENDIF -->
					<br />
				<!-- END preview -->
			<!-- ELSE -->
				<div class="no-screenshot">{L_NO_SCREENSHOT}</div>
			<!-- ENDIF -->
			<!-- IF U_VIEW_DEMO --><a href="{U_VIEW_DEMO}">{L_VIEW_DEMO}</a><!-- ENDIF -->

			<!-- IF U_DOWNLOAD -->
				<hr class="dashed" />
				<div class="download-button">
					<a class="download-main" href="{U_DOWNLOAD}" title="{L_DOWNLOAD} {CONTRIB_NAME}">{DOWNLOAD_SIZE}</a>
				</div>
				<!-- IF U_COLORIZEIT -->
                    <div class="colorizeit-button">
                        <a class="colorizeit-main" href="#colorizeit-editor" onclick="ColorizeIt('{U_COLORIZEIT}');" title="{L_COLORIZEIT_DOWNLOAD_STYLE} {CONTRIB_NAME}"></a>
                    </div>
				<!-- ENDIF -->
			<!-- ENDIF -->
		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>

</div>

<div class="right-column">
	<!-- IF CONTRIB_DESC -->
	<div class="container" id="contrib-description">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>
			<dl class="contrib-description">
				<!-- IF U_SUBSCRIBE or U_REPORT or U_INFO -->
				<dd>
					<ul class="profile-icons">
						<!-- IF U_SUBSCRIBE --><li <!-- IF IS_SUBSCRIBED -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_SUBSCRIBE}" title="{L_SUBSCRIBE}"><!-- IF IS_SUBSCRIBED -->{L_UNSUBSCRIBE}<!-- ELSE -->{L_SUBSCRIBE}<!-- ENDIF --></a></li><!-- ENDIF -->
						<!-- IF U_REPORT --><li class="report-icon"><a href="{U_REPORT}" title="{L_REPORT}"><span>{L_REPORT}</span></a></li><!-- ENDIF -->
						<!-- IF U_INFO --><li class="info-icon"><a href="{U_INFO}" title="{L_INFORMATION}"><span>{L_INFORMATION}</span></a></li><!-- ENDIF -->
					</ul>
				</dd>
				<!-- ENDIF -->
				<dt><strong>{L_DESCRIPTION}</strong></dt>
				<dd>
					<!-- IF WARNING -->
						<div class="rules"><strong>{WARNING}</strong></div>
					<!-- ENDIF -->
					{CONTRIB_DESC}
				</dd>
			</dl>
		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>

	<!-- ENDIF -->

	<div class="container">
		<div class="inner"><span class="corners-top main-corners"><span></span></span>
			<ul class="general-info">
				<!-- IF CONTRIB_LOCAL_NAME -->
				<li>
					<strong>{L_CONTRIB_LOCAL_NAME}</strong> {CONTRIB_LOCAL_NAME}
				</li>
				<!-- ENDIF -->
				<!-- IF CONTRIB_ISO_CODE -->
				<li>
					<strong>{L_CONTRIB_ISO_CODE}</strong> {CONTRIB_ISO_CODE}
				</li>
				<!-- ENDIF -->
				<li>
					<strong>{L_AUTHOR}</strong> {AUTHOR_NAME_FULL}
				</li>
				<!-- IF .coauthors -->
				<li>
					<strong>{L_CO_AUTHORS}</strong> <!-- BEGIN coauthors -->{coauthors.AUTHOR_NAME_FULL}<!-- IF not coauthors.S_LAST_ROW -->, <!-- ENDIF --><!-- END coauthors -->
				</li>
				<!-- ENDIF -->
				<!-- IF DOWNLOAD_VERSION -->
				<li>
					<strong>{L_VERSION}</strong> {DOWNLOAD_VERSION}
				</li>
				<!-- ENDIF -->
				<li>
					<strong>{L_PHPBB_VERSION}</strong>
					<!-- IF PHPBB_VERSION -->
						{PHPBB_VERSION}
					<!-- ELSEIF .phpbb_versions -->
					<select id="phpbb_versions">
						<!-- BEGIN phpbb_versions -->
							<option>{phpbb_versions.NAME}</option>
						<!-- END phpbb_versions -->
					</select>
					<!-- ELSE -->
					{L_NO_REVISIONS}
					<!-- ENDIF -->
				</li>
				<!-- IF DOWNLOAD_LICENSE -->
				<li>
					<strong>{L_LICENSE}</strong> {DOWNLOAD_LICENSE}
				</li>
				<!-- ENDIF -->
				<!-- IF DOWNLOAD_INSTALL_TIME -->
				<li>
					<strong>{L_INSTALL_TIME}</strong> {DOWNLOAD_INSTALL_TIME}
				</li>
				<!-- ENDIF -->
				<!-- IF DOWNLOAD_INSTALL_LEVEL -->
				<li>
					<strong>{L_INSTALL_LEVEL}</strong> {DOWNLOAD_INSTALL_LEVEL}
				</li>
				<!-- ENDIF -->
				<!-- IF CONTRIB_UPDATE_DATE -->
				<li>
					<strong>{L_CONTRIB_UPDATE_DATE}</strong> {CONTRIB_UPDATE_DATE}
				</li>
				<!-- ENDIF -->
				<!-- IF DOWNLOAD_CHECKSUM -->
				<li>
					<strong>{L_DOWNLOAD_CHECKSUM}</strong> {DOWNLOAD_CHECKSUM}
				</li>
				<!-- ENDIF -->
				<!-- IF DOWNLOAD_NAME -->
				<li>
					<strong>{L_REVISION_NAME}</strong> {DOWNLOAD_NAME}
				</li>
				<!-- ENDIF -->
				<!-- IF CONTRIB_DOWNLOADS -->
				<li>
					<strong>{L_DOWNLOADS_TOTAL}</strong> {CONTRIB_DOWNLOADS}
				</li>
				<!-- ENDIF -->
				<!-- IF CONTRIB_ANNOUNCEMENT_TOPIC -->
				<li>
					<strong>{L_ANNOUNCEMENT_TOPIC}</strong> {CONTRIB_ANNOUNCEMENT_TOPIC}
				</li>
				<!-- ENDIF -->
				<!-- IF CONTRIB_RATING_STRING -->
				<li style="border-bottom: 0;">
					<strong>{L_RATING}</strong> {CONTRIB_RATING_STRING} ({CONTRIB_RATING_COUNT})
				</li>
				<!-- ENDIF -->
			</ul>

		<!-- IF .queue_actions or CURRENT_STATUS -->
			<ul class="queue-actions">
			<!-- BEGIN queue_actions -->
				<li<!-- IF queue_actions.S_FIRST_ROW --> class="first"<!-- ELSEIF queue_actions.S_LAST_ROW --> class="last"<!-- ENDIF -->>
					<a href="<!-- IF queue_actions.U_VIEW -->{queue_actions.U_VIEW}<!-- ELSE -->#<!-- ENDIF -->" class="{queue_actions.CLASS}">{queue_actions.NAME}</a>

				<!-- IF .queue_actions.subactions -->
					<div class="subactions"><!-- BEGIN subactions --><a href="{queue_actions.subactions.U_ACTION}">{queue_actions.subactions.NAME}</a><!-- END subactions --></div>
				<!-- ENDIF -->
				</li>
			<!-- END queue_actions -->

			<!-- IF CURRENT_STATUS -->
				<li class="info"><img src="{T_TITANIA_THEME_PATH}/images/icon_info.gif" alt="" /> &nbsp;{L_QUEUE_STATUS}: {CURRENT_STATUS}</li>
			<!-- ENDIF -->
			</ul>
		<!-- ENDIF -->
		<span class="corners-bottom main-corners"><span></span></span></div>
	</div>
</div>

<!-- IF U_COLORIZEIT -->
<div class="clear"></div>
<div class="container" id="colorizeit-container" style="display: none;">
	<div class="inner"><span class="corners-top main-corners"><span></span></span>
	    <a name="colorizeit-editor"></a>
	    <div id="colorizeit-content">
	    </div>
    <span class="corners-bottom main-corners"><span></span></span></div>
</div>
<!-- ENDIF -->

<div class="clear"></div>

<!-- IF .screenshots or .revisions or U_NEW_REVISION -->
<div class="container">
	<div class="inner"><span class="corners-top main-corners"><span></span></span>
		<div id="extratabs">
		    <ul id="extratabs-head">
		        <!-- IF S_IN_QUEUE and (.revisions or U_NEW_REVISION) --><li><a href="#revisions-panel"><span>{L_REVISIONS}</span></a></li><!-- ENDIF -->
		        <!-- IF .screenshots --><li><a href="#screenshots-panel"><span>{L_SCREENSHOTS}</span></a></li><!-- ENDIF -->
		        <!-- IF not S_IN_QUEUE and (.revisions or U_NEW_REVISION) --><li><a href="#revisions-panel"><span>{L_REVISIONS}</span></a></li><!-- ENDIF -->
		        <!-- IF U_NEW_REVISION --><li><a href="{U_NEW_REVISION}"><span>{L_NEW_REVISION}</span></a></li><!-- ENDIF -->
		    </ul>

		    <!-- IF .screenshots -->
		    <div id="screenshots-panel" class="tab-panel">
				<!-- BEGIN screenshots -->
					<!-- IF screenshots.S_THUMBNAIL -->
						<a href="{screenshots.U_DOWNLOAD_LINK}" class="screenshot"><img src="{screenshots.THUMB_IMAGE}" alt="{screenshots.DOWNLOAD_NAME}" title="{screenshots.DOWNLOAD_NAME} ({screenshots.FILESIZE} {screenshots.SIZE_LANG}) {screenshots.L_DOWNLOAD_COUNT}" /></a>
					<!-- ENDIF -->

					<!-- IF screenshots.S_IMAGE -->
						<img src="{screenshots.U_INLINE_LINK}" class="screenshot" alt="{screenshots.DOWNLOAD_NAME}" onclick="viewableArea(this);" />
					<!-- ENDIF -->
				<!-- END screenshots -->
		    </div>
		    <!-- ENDIF -->

		    <!-- IF .revisions or U_NEW_REVISION -->
		    <div id="revisions-panel" class="tab-panel">
				<div class="clear"></div>

				<!-- INCLUDE common/revision_list.html -->
		    </div>
		    <!-- ENDIF -->
		</div>

	<span class="corners-bottom main-corners"><span></span></span></div>
</div>
<!-- ENDIF -->
