<!-- BEGIN contribs -->
	<li class="row<!-- IF contribs.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
		<dl class="icon" style="background-image: url({contribs.FOLDER_IMG_SRC}); background-repeat: no-repeat;">
			<dt>
				<span class="rightside contribution-list-actions">
					<!-- IF contribs.U_QUEUE_DISCUSSION --><a href="{contribs.U_QUEUE_DISCUSSION}" title="{L_QUEUE_DISCUSSION}"><img src="{T_TITANIA_THEME_PATH}/images/icon_discuss.gif" alt="{L_QUEUE_DISCUSSION}" /></a>&nbsp;<!-- ENDIF -->
					<!-- IF contribs.U_CONTRIB_MANAGE --><a href="{contribs.U_CONTRIB_MANAGE}" title="{L_CONTRIB_MANAGE}"><img src="{T_TITANIA_THEME_PATH}/images/icon_settings.gif" alt="{L_CONTRIB_MANAGE}" /></a>&nbsp;<!-- ENDIF -->
					<!-- IF not contribs.CONTRIB_LIMITED_SUPPORT and contribs.U_NEW_REVISION --><a href="{contribs.U_NEW_REVISION}" title="{L_NEW_REVISION}"><img src="{T_TITANIA_THEME_PATH}/images/icon_new_revision.gif" alt="{L_NEW_REVISION}" /></a>&nbsp;<!-- ENDIF -->
				</span>

				<a class="topictitle" href="{contribs.U_VIEW_CONTRIB}">{contribs.CONTRIB_NAME}</a>
				<!-- IF contribs.S_CONTRIB_CLEANED -->
					<img src="{T_TITANIA_THEME_PATH}/images/icon_cleaned_contrib.gif" title="{L_CLEANED_CONTRIB}" alt="{L_CLEANED_CONTRIB}" />
				<!-- ELSEIF contribs.S_CONTRIB_NEW -->
					<img src="{T_TITANIA_THEME_PATH}/images/icon_not_validated.gif" alt="{L_NOT_VALIDATED}" title="{L_NOT_VALIDATED}" />
				<!-- ELSEIF contribs.S_CONTRIB_HIDDEN -->
					<img src="{T_TITANIA_THEME_PATH}/images/icon_not_validated.gif" alt="{L_CONTRIB_HIDDEN}" title="{L_CONTRIB_HIDDEN}" />
				<!-- ELSEIF contribs.S_CONTRIB_DISABLED -->
					<img src="{T_TITANIA_THEME_PATH}/images/icon_not_validated.gif" alt="{L_CONTRIB_DISABLED}" title="{L_CONTRIB_DISABLED}" />
				<!-- ENDIF -->
				<br />
				{contribs.CONTRIB_TYPE}<!-- IF not S_AUTHOR_LIST --> {L_BY} {contribs.AUTHOR_NAME_FULL}<!-- ENDIF -->
				<!-- IF S_AUTHOR_LIST and contribs.CONTRIB_LIMITED_SUPPORT --><br />{L_LIMITED_SUPPORT}<!-- ENDIF -->
			</dt>
			<dd class="general contribution-phpbb-version">
				<!-- IF contribs.PHPBB_VERSION -->
					{contribs.PHPBB_VERSION}
				<!-- ELSE -->
					<!-- IF .contribs.phpbb_versions -->
					<select class="phpbb_versions">
						<!-- BEGIN phpbb_versions -->
							<option>{contribs.phpbb_versions.NAME}</option>
						<!-- END phpbb_versions -->
					</select>
					<!-- ELSE -->
					{L_NO_REVISIONS}
					<!-- ENDIF -->
				<!-- ENDIF -->
			</dd>
			<dd class="general">
				<!-- IF contribs.CONTRIB_DOWNLOADS -->{L_DOWNLOADS}: {contribs.CONTRIB_DOWNLOADS}<br /><!-- ENDIF -->
				<!-- IF contribs.CONTRIB_RATING -->{L_RATING}: {contribs.CONTRIB_RATING} / 5<br /><!-- ENDIF -->
			</dd>
		</dl>
	</li>
<!-- BEGINELSE -->
	<li class="row bg1">
		<dl>
			<dt>{L_NO_CONTRIBS}</dt>
		</dl>
	</li>
<!-- END contribs -->
