<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>

<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="keywords" content="" />
<meta name="description" content="{META_DESCRIPTION}" />
{META}
<title>{PAGE_TITLE} &bull; {SITENAME}</title>

<script type="text/javascript" src="{TITANIA_ROOT_PATH}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{TITANIA_ROOT_PATH}js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="{TITANIA_ROOT_PATH}js/jquery.elastic.js"></script>
<script type="text/javascript" src="{TITANIA_ROOT_PATH}js/jquery.tabby.js"></script>

<script type="text/javascript" src="{TITANIA_ROOT_PATH}js/common.js"></script>
<script type="text/javascript" src="{TITANIA_ROOT_PATH}js/forum_fn.js"></script>
<script type="text/javascript" src="{TITANIA_ROOT_PATH}js/styleswitcher.js"></script>

<!-- IF .screenshots or U_DOWLOAD -->
<script type="text/javascript" src="{TITANIA_ROOT_PATH}js/jquery.colorbox-min.js"></script>
<!-- ENDIF -->

<script type="text/javascript">
// <![CDATA[
	var spacer_img = '{TITANIA_ROOT_PATH}images/spacer.gif';
	var jump_page = '{LA_JUMP_PAGE}:';
	var on_page = '{ON_PAGE}';
	var per_page = '{PER_PAGE}';
	var pagination_url = '{S_PAGINATION_ACTION}';
	var style_cookie = 'phpBBstyle';
	var style_cookie_settings = '{A_COOKIE_SETTINGS}';
	var onload_functions = new Array();
	var onunload_functions = new Array();

	// Rating Stuff
	<!-- IF UA_GREY_STAR_SRC -->
		var grey_star = new Image(16,16);
		grey_star.src = "{UA_GREY_STAR_SRC}";
		var green_star= new Image(16,16);
		green_star.src = "{UA_GREEN_STAR_SRC}";
		var red_star= new Image(16,16);
		red_star.src = "{UA_RED_STAR_SRC}";
		var orange_star= new Image(16,16);
		orange_star.src = "{UA_ORANGE_STAR_SRC}";
		var max_rating = "{UA_MAX_RATING}";
	<!-- ENDIF -->

	$(document).ready(function()
	{
		<!-- IF S_HIDE_ERROR_BOX -->
			setTimeout("$('.{ERRORBOX_CLASS}').fadeOut('slow');", 5000);
		<!-- ENDIF -->

		$('#extratabs').tabs({
		    select: function(event, ui) {
		        var url = $.data(ui.tab, 'load.tabs');
		        if( url ) {
		            location.href = url;
		            return false;
		        }
		        return true;
		    }
		});

		<!-- IF .screenshots -->
			$('a.screenshot').colorbox({photo: true, rel: 'group1'});
		<!-- ENDIF -->

		/* Hide MPV/Automod Validation reports automatically */
		$('blockquote > div > cite').each(function() {
			if ($(this).text() == '{L_VALIDATION_MPV} {L_WROTE}:' || $(this).text() == '{L_VALIDATION_AUTOMOD} {L_WROTE}:')
			{
				hide_quotebox($(this).parent());
			}
		});
	});

	<!-- IF S_USER_PM_POPUP -->
		if ({S_NEW_PM})
		{
			var url = '{UA_POPUP_PM}';
			window.open(url.replace(/&amp;/g, '&'), '_phpbbprivmsg', 'height=225,resizable=yes,scrollbars=yes, width=400');
		}
	<!-- ENDIF -->

// ]]>
</script>

<link href="{T_TITANIA_THEME_PATH}/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />
<link href="{T_TITANIA_STYLESHEET}" rel="stylesheet" type="text/css" media="screen, projection" />
<link href="{T_TITANIA_THEME_PATH}/{S_USER_LANG}/buttons.css" rel="stylesheet" type="text/css" media="screen, projection" />

<link href="{T_TITANIA_THEME_PATH}/normal.css" rel="stylesheet" type="text/css" title="A" />
<link href="{T_TITANIA_THEME_PATH}/medium.css" rel="alternate stylesheet" type="text/css" title="A+" />
<link href="{T_TITANIA_THEME_PATH}/large.css" rel="alternate stylesheet" type="text/css" title="A++" />

<!-- IF U_CANONICAL --><link rel="canonical" href="{U_CANONICAL}" /><!-- ENDIF -->

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_TITANIA_THEME_PATH}/bidi.css" rel="stylesheet" type="text/css" media="screen, projection" />
<!-- ENDIF -->

</head>

<body id="phpbb" class="section-{SCRIPT_NAME} {S_CONTENT_DIRECTION}">

<div id="wrap">
	<a id="top" name="top" accesskey="t"></a>
	<div id="page-header">
		<div class="headerbar">
			<div class="inner"><span class="corners-top"><span></span></span>

			<div id="site-description">
				<a href="{U_SITE_ROOT}" title="{L_SITE_INDEX}" id="logo">{SITE_LOGO_IMG}</a>
				<h1>{SITENAME}</h1>
				<p>{SITE_DESCRIPTION}</p>
				<p style="display: none;"><a href="#start_here">{L_SKIP}</a></p>
			</div>

			<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
				<div id="search-box">
					<form action="{U_SEARCH}" method="post" id="search">
					<fieldset>
						<input name="keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" />
						<input class="button2" value="{L_SEARCH}" type="submit" /><br />
						<!-- IF U_FIND_CONTRIBUTION --><a href="{U_FIND_CONTRIBUTION}">{L_FIND_CONTRIBUTION}</a> &bull;<!-- ENDIF --> <a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a> {S_SEARCH_HIDDEN_FIELDS}
					</fieldset>
					</form>
				</div>
			<!-- ENDIF -->

			<span class="corners-bottom"><span></span></span></div>
		</div>

		<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>

			<ul class="linklist navlinks">
				<li class="icon-home"><a href="{U_SITE_ROOT}" accesskey="h">{L_SITE_INDEX}</a> <!-- BEGIN nav_header --> <strong>&#8249;</strong> <a href="{nav_header.U_TITLE}">{nav_header.L_TITLE}</a><!-- END nav_header --></li>
				<li class="rightside"><a href="#" onclick="fontsizeup(); return false;" onkeypress="return fontsizeup(event);" class="fontsize" title="{L_CHANGE_FONT_SIZE}">{L_CHANGE_FONT_SIZE}</a></li>
			</ul>

			<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
			<ul class="linklist leftside">
				<li class="icon-ucp">
					<a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="e">{L_PROFILE}</a>
					<!-- IF S_DISPLAY_PM --> (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>)<!-- ENDIF -->
					&bull; <a href="{U_MY_CONTRIBUTIONS}" title="{L_MY_CONTRIBUTIONS}">{L_MY_CONTRIBUTIONS}</a>
					<!-- IF U_MANAGE --> &bull; <a href="{U_MANAGE}" title="{L_MANAGE}">{L_MANAGE}</a><!-- ENDIF -->
					<!-- IF U_RESTORE_PERMISSIONS --> &bull; <a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a><!-- ENDIF -->
				</li>
			</ul>
			<!-- ENDIF -->

			<ul class="linklist rightside">
				<li class="icon-faq"><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a></li>
				<li class="icon-search"><a href="{U_SEARCH}" title="{L_SEARCH}">{L_SEARCH}</a></li>
				<!-- IF not S_IS_BOT -->
					<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><li class="icon-register"><a href="{U_REGISTER}">{L_REGISTER}</a></li><!-- ENDIF -->
					<li class="icon-logout"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x">{L_LOGIN_LOGOUT}</a></li>
				<!-- ENDIF -->
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	</div>

	<a name="start_here"></a>
	<div id="page-body">
		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
		<div id="message" class="rules">
			<div class="inner"><span class="corners-top"><span></span></span>
				<strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->

		<!-- IF .errorbox -->
		<div id="errorbox" class="errorbox">
			<div class="inner"><span class="corners-top"><span></span></span>
			<!-- IF ERRORBOX_TITLE --><h3>{ERRORBOX_TITLE}</h3><!-- ENDIF -->
			<!-- BEGIN errorbox -->
				<p>{errorbox.MESSAGE}</p>
			<!-- END errorbox -->
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->
		<!-- IF .successbox -->
		<div id="successbox" class="successbox">
			<div class="inner"><span class="corners-top"><span></span></span>
			<!-- IF SUCCESSBOX_TITLE --><h3>{SUCCESSBOX_TITLE}</h3><!-- ENDIF -->
			<!-- BEGIN successbox -->
				<p>{successbox.MESSAGE}</p>
			<!-- END successbox -->
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->
