<ul class="<!-- IF S_HAS_RATED -->rated<!-- ELSE -->rating<!-- ENDIF -->" id="rating_{OBJECT_ID}">
<!-- BEGIN stars -->
	<li><a href="{stars.RATE_URL}"><img id="{OBJECT_ID}_{stars.ID}" alt="{stars.ALT}" title="{stars.ALT}"
	<!-- IF S_HAS_RATED && stars.ID <= OBJECT_RATING -->
		class="green" src="{UA_GREEN_STAR_SRC}"
	<!-- ELSEIF not S_HAS_RATED && stars.ID <= OBJECT_RATING -->
		class="orange" src="{UA_ORANGE_STAR_SRC}"
	<!-- ELSE -->
		class="grey" src="{UA_GREY_STAR_SRC}"
	<!-- ENDIF -->
	/></a></li>
<!-- END stars -->
	<li<!-- IF not S_HAS_RATED --> class="hidden"<!-- ENDIF -->><a href="{RATE_URL}">
		<img id="{OBJECT_ID}_remove" class="remove" src="{UA_REMOVE_STAR_SRC}" alt="{L_REMOVE_RATING}" title="{L_REMOVE_RATING}" />
	</a></li>
</ul>