<div class="revision-list">
	<ul class="topiclist revisions simple">
		<li class="header">
			<dl>
				<dt>{L_REVISIONS}</dt>
				<dd class="general revision-status"></dd>
				<dd class="general revision-actions"></dd>
				<dd class="general revision-version">{L_VERSION}</dd>
				<dd class="general revision-phpbb-version">{L_PHPBB_VERSION}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist cplist revisions">
		<!-- BEGIN revisions -->
			<li class="row<!-- IF revisions.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
				<dl>
					<dt>
						<a href="{revisions.U_DOWNLOAD}" title="{L_DOWNLOAD}"><!-- IF revisions.NAME -->{revisions.NAME}<!-- ELSE --><em>{L_NO_REVISION_NAME}</em><!-- ENDIF --></a>
					</dt>
					<dd class="general revision-status">
						<!-- IF revisions.S_NEW and revisions.S_USE_QUEUE --><strong>{L_NOT_VALIDATED}</strong><!-- ENDIF -->
						<!-- IF revisions.S_DENIED --><strong>{L_REVISION_DENIED}</strong><!-- ENDIF -->
						<!-- IF revisions.S_PULLED_SECURITY --><strong>{L_REVISION_PULLED_FOR_SECURITY}</strong><!-- ENDIF -->
						<!-- IF revisions.S_PULLED_OTHER --><strong>{L_REVISION_PULLED_FOR_OTHER}</strong><!-- ENDIF -->
						<!-- IF revisions.S_REPACKED --><strong>{L_REVISION_REPACKED}</strong><!-- ENDIF -->
						<!-- IF revisions.S_RESUBMITTED --><strong>{L_REVISION_RESUBMITTED}</strong><!-- ENDIF -->
					</dd>
					<dd class="general revision-actions">
					    <!-- IF U_COLORIZEIT and revisions.U_COLORIZEIT --><a href="#colorizeit-editor" onclick="ColorizeIt('{revisions.U_COLORIZEIT}');" title="{L_COLORIZEIT_DOWNLOAD_STYLE} {CONTRIB_NAME}"><img src="{T_TITANIA_THEME_PATH}/images/icon_colorizeit.png" alt="{L_COLORIZEIT_DOWNLOAD}" /></a>&nbsp;<!-- ENDIF -->
						<!-- IF revisions.REVISION_QUEUE --><a href="{revisions.REVISION_QUEUE}" title="{L_QUEUE}"><img src="{T_TITANIA_THEME_PATH}/images/icon_discuss.gif" alt="{L_QUEUE}" /></a>&nbsp;<!-- ENDIF -->
						<!-- IF revisions.U_EDIT --><a href="{revisions.U_EDIT}">{ICON_EDIT}</a>&nbsp;<!-- ENDIF -->
					</dd>
					<dd class="general revision-version">{revisions.VERSION}</dd>
					<dd class="general revision-phpbb-version">
						<!-- IF revisions.PHPBB_VERSION -->
							{revisions.PHPBB_VERSION}
						<!-- ELSE -->
							<select class="phpbb_versions">
							<!-- BEGIN phpbb_versions -->
								<option>{revisions.phpbb_versions.VERSION}</option>
							<!-- END phpbb_versions -->
							</select>
						<!-- ENDIF -->
					</dd>
				</dl>
				<dl class="revision-details<!-- IF revisions.S_FIRST_ROW --> first<!-- ENDIF -->">
					<dt class="revision-information">
						<!-- IF revisions.REVISION_LICENSE -->{L_LICENSE}: {revisions.REVISION_LICENSE}<br /><!-- ENDIF -->
						<!-- IF revisions.S_USE_QUEUE -->{L_VALIDATION_TIME}: {revisions.VALIDATED_DATE}<br /><!-- ENDIF -->
						<!-- IF revisions.INSTALL_TIME -->{L_INSTALL_TIME}: {revisions.INSTALL_TIME}<br /><!-- ENDIF -->
						<!-- IF revisions.INSTALL_LEVEL -->{L_INSTALL_LEVEL}: {revisions.INSTALL_LEVEL}<br /><!-- ENDIF -->
						<!-- IF revisions.U_VIEW_INSTALL -->{L_VIEW_INSTALL_FILE}: <a href="{revisions.U_VIEW_INSTALL}">{L_VIEW_INSTALL_FILE}</a><br /><!-- ENDIF -->
					</dt>
					<!-- IF .revisions.translations -->
					<dd class="revision-translations">
						<h3>{L_TRANSLATIONS}</h3>
						<!-- BEGIN translations -->
							{revisions.translations.DISPLAY_ATTACHMENT}
						<!-- END translations -->
					</dd>
					<!-- ENDIF -->
				</dl>
			</li>
		<!-- END revisions -->
	</ul>
	<span class="show-all" style="cursor: pointer; display: none; float: right;" onclick="show_all_revisions(this);">{L_SHOW_ALL_REVISIONS}</span>
</div>
