<div class="topic-actions">
	<div class="buttons">
	<!-- IF U_POST_TOPIC -->
		<p class="ui-button"><a href="{U_POST_TOPIC}" id="create-topic" class="ui-button ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plus"></span>{L_NEW_TOPIC}</a></p>
	<!-- ENDIF -->
	</div>

	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="pagination">
			<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a> &bull; <!-- ENDIF -->{TOTAL_POSTS}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	<!-- ENDIF -->
</div>
<div class="clear"></div>

<!-- BEGIN topics -->
	<!-- IF topics.S_TOPIC_TYPE_SWITCH and not topics.S_FIRST_ROW -->
		</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->

	<!-- IF topics.S_FIRST_ROW or topics.S_TOPIC_TYPE_SWITCH -->
		<div class="forumbg<!-- IF topics.TOPIC_STICKY --> announcement<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt><!-- IF topics.TOPIC_STICKY -->{L_STICKIES}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></dt>
					<dd class="posts">{L_REPLIES}</dd>
					<dd class="views">{L_VIEWS}</dd>
					<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
	<!-- ENDIF -->

		<li class="row<!-- IF topics.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF topics.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topics.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon" style="background-image: url({topics.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt title="{topics.TOPIC_FOLDER_IMG_ALT}"><!-- IF topics.S_UNREAD_TOPIC --><a href="{topics.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a href="{topics.U_VIEW_TOPIC}" class="topictitle">{topics.TOPIC_SUBJECT}</a>
					<!-- IF not topics.TOPIC_APPROVED or topics.S_POSTS_UNAPPROVED --><a href="{topics.U_MCP_QUEUE}">{topics.UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF topics.TOPIC_REPORTED --><a href="{topics.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><br />
					<!-- IF topics.PAGINATION --><strong class="pagination"><span>{topics.PAGINATION}</span></strong><!-- ENDIF -->
					<!-- IF topics.ATTACH_ICON_IMG -->{topics.ATTACH_ICON_IMG} <!-- ENDIF -->{L_POST_BY_AUTHOR} {topics.TOPIC_FIRST_POST_USER_FULL} &raquo; {topics.TOPIC_FIRST_POST_TIME}
				</dt>
				<dd class="posts">{topics.TOPIC_POSTS} <dfn>{L_REPLIES}</dfn></dd>
				<dd class="views">{topics.TOPIC_VIEWS} <dfn>{L_VIEWS}</dfn></dd>
				<dd class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topics.TOPIC_LAST_POST_USER_FULL}
					<!-- IF not S_IS_BOT --><a href="{topics.U_VIEW_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{topics.TOPIC_LAST_POST_TIME}</span>
				</dd>
			</dl>
		</li>

	<!-- IF topics.S_LAST_ROW -->
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_TOPICS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- END topics -->

<div class="topic-actions">
	<div class="buttons">
	<!-- IF U_POST_TOPIC -->
		<p class="ui-button"><a href="{U_POST_TOPIC}" id="create-topic" class="ui-button ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plus"></span>{L_NEW_TOPIC}</a></p>
	<!-- ENDIF -->
	</div>

	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="pagination">
			<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a> &bull; <!-- ENDIF -->{TOTAL_POSTS}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	<!-- ENDIF -->
</div>