<!-- IF U_POST_TOPIC or PAGINATION or TOTAL_RESULTS -->
<div class="topic-actions">
	<!-- IF U_POST_TOPIC -->
	<div class="buttons">
		<div class="post-icon"><a href="{U_POST_TOPIC}" title="{L_NEW_TOPIC}"><span></span>{L_NEW_TOPIC}</a></div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="search-box">
			<form method="post" id="forum-search" action="{S_SEARCHBOX_ACTION}">
			<fieldset>
				<input class="inputbox search tiny" type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_FORUM}" onclick="if (this.value == '{LA_SEARCH_FORUM}') this.value = '';" onblur="if (this.value == '') this.value = '{LA_SEARCH_FORUM}';" />
				<input class="button2" type="submit" value="{L_SEARCH}" />
				<input type="hidden" value="{FORUM_ID}" name="fid[]" />
			</fieldset>
			</form>
		</div>
	<!-- ENDIF -->

	<!-- INCLUDE common/pagination.html -->
</div>
<!-- ENDIF -->
<div class="clear"></div>

<!-- BEGIN topics -->
	<!-- IF topics.S_TOPIC_TYPE_SWITCH and not topics.S_FIRST_ROW -->
		</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<br />
	<!-- ENDIF -->

	<!-- IF topics.S_FIRST_ROW or topics.S_TOPIC_TYPE_SWITCH -->
		<div class="forumbg<!-- IF topicrow.S_TOPIC_TYPE_SWITCH --> announcement<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt><!-- IF topics.TOPIC_STICKY and S_SPLIT_BY_TOPIC_TYPE -->{L_STICKIES}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></dt>
					<dd class="posts">{L_REPLIES}</dd>
					<dd class="views">{L_VIEWS}</dd>
					<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist">
	<!-- ENDIF -->

		<li class="row<!-- IF topics.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF topics.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topics.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon" style="background-image: url({topics.FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt title="{topics.FOLDER_IMG_ALT}"<!-- IF topics.S_TOPIC_PROGRESS --> class="queue_progress"<!-- ELSEIF topics.S_TESTED -->class="queue_tested"<!-- ENDIF -->>
					<!-- IF topics.S_ACCESS_TEAMS -->
					<img src="{T_TITANIA_THEME_PATH}/images/icon_access_teams.png" class="icon" alt="{L_ACCESS_LIMIT_TEAMS}" title="{L_ACCESS_LIMIT_TEAMS}" />
					<!-- ELSEIF topics.S_ACCESS_AUTHORS -->
					<img src="{T_TITANIA_THEME_PATH}/images/icon_access_author.png" class="icon" alt="{L_ACCESS_LIMIT_AUTHORS}" title="{L_ACCESS_LIMIT_AUTHORS}" />
					<!-- ENDIF -->
					<!-- IF topics.S_UNREAD_TOPIC --><a href="{topics.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a href="{topics.U_VIEW_TOPIC}" class="topictitle">{topics.TOPIC_SUBJECT}</a><!-- IF topics.TOPIC_CONTRIB_NAME --><br /><em><!-- IF topics.CONTRIB_TYPE -->{topics.CONTRIB_TYPE}<!-- ENDIF --> <!-- IF topics.U_VIEW_TOPIC_CONTRIB --> &raquo; <a href="{topics.U_VIEW_TOPIC_CONTRIB}">{topics.TOPIC_CONTRIB_NAME}</a><!-- ELSE --> &raquo; {topics.TOPIC_CONTRIB_NAME}<!-- ENDIF --> <!-- IF topics.U_VIEW_TOPIC_CONTRIB_SUPPORT --> &raquo; <a href="{topics.U_VIEW_TOPIC_CONTRIB_SUPPORT}">{L_CONTRIB_SUPPORT}</a><!-- ELSE --> &raquo; {topics.TOPIC_CONTRIB_NAME}<!-- ENDIF --></em><!-- ENDIF -->
					<!-- IF not topics.TOPIC_APPROVED or not topics.POSTS_APPROVED -->{topics.UNAPPROVED_IMG} <!-- ENDIF -->
					<!-- IF topics.TOPIC_REPORTED -->{REPORTED_IMG}<!-- ENDIF --><br />
					<!-- IF topics.PAGINATION --><strong class="pagination"><span>{topics.PAGINATION}</span></strong><!-- ENDIF -->
					<!-- IF topics.ATTACH_ICON_IMG -->{topics.ATTACH_ICON_IMG} <!-- ENDIF -->{L_POST_BY_AUTHOR} {topics.TOPIC_FIRST_POST_USER_FULL} &raquo; {topics.TOPIC_FIRST_POST_TIME}
				</dt>
				<dd class="posts">{topics.TOPIC_REPLIES} <dfn>{L_REPLIES}</dfn></dd>
				<dd class="views">{topics.TOPIC_VIEWS} <dfn>{L_VIEWS}</dfn></dd>
				<dd class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topics.TOPIC_LAST_POST_USER_FULL}
					<!-- IF not S_IS_BOT --><a href="{topics.U_VIEW_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{topics.TOPIC_LAST_POST_TIME}</span>
				</dd>
			</dl>
		</li>

	<!-- IF topics.S_LAST_ROW -->
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_TOPICS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- END topics -->

<!-- INCLUDE common/sort.html -->

<!-- IF U_POST_TOPIC or PAGINATION or TOTAL_RESULTS -->
<div class="topic-actions">
	<!-- IF U_POST_TOPIC -->
	<div class="buttons">
		<div class="post-icon"><a href="{U_POST_TOPIC}" title="{L_NEW_TOPIC}"><span></span>{L_NEW_TOPIC}</a></div>
	</div>
	<!-- ENDIF -->

	<!-- INCLUDE common/pagination.html -->
</div>
<!-- ENDIF -->
