<!-- INCLUDE contributions/contribution_header.html -->

<h3 class="section-name"><!-- IF S_SPLIT -->{L_SPLIT_TOPIC}<!-- ELSE -->{L_MERGE_POSTS}<!-- ENDIF --> - {TOPIC_SUBJECT}</h3>
<form action="{S_FORM_ACTION}" method="post">
<div class="container">
	<div class="inner"><span class="corners-top main-corners"><span></span></span>
	<!-- IF ERRORS -->
		<p class="error">{ERRORS}</p>
		<hr class="dashed" />
	<!-- ENDIF -->
		<fieldset>
		<!-- IF S_SPLIT -->
			<dl>
				<dt><label for="subject">{L_SPLIT_SUBJECT}:</label></dd>
				<dd><input type="text" class="inputbox" name="subject" id="subject" value="{SUBJECT}" /></dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<label for="selected_posts"><input type="radio" name="from" value="selected" id="selected_posts" checked="checked" />{L_SPLIT_TOPIC_ALL}</label>
					<label for="selected_onward"><input type="radio" name="from" value="from" id="selected_onward" />{L_SPLIT_AFTER}</label>
				</dd>
			</dl>
		<!-- ELSE -->
			<dl>
				<dt><label for="new_topic_id">{L_MERGE_TOPIC_ID}</label></dt>
				<dd><input type="text" class="inputbox autowidth" name="new_topic_id" id="new_topic_id" value="{TO_ID}" size="4" /></dd>
			</dl>
		<!-- ENDIF -->
		</fieldset>
	<span class="corners-bottom main-corners"><span></span></span></div>
</div>

<div class="container">
	<div class="inner"><span class="corners-top main-corners"><span></span></span>
		<fieldset class="submit-buttons">
			<input type="submit" class="button2" name="split" id="split" value="<!-- IF S_SPLIT -->{L_SPLIT_TOPIC}<!-- ELSE -->{L_MERGE_POSTS}<!-- ENDIF -->" />
		</fieldset>
	<span class="corners-bottom main-corners"><span></span></span></div>
</div>

<div class="container">
	<div class="inner"><span class="corners-top main-corners"><span></span></span>
	<!-- IF PAGINATION or TOTAL_RESULTS -->
		<div class="action-bar">
			<!-- INCLUDE common/pagination.html -->
		</div>
		<div class="clear"></div>
	<!-- ENDIF -->

	<!-- BEGIN posts -->
		<div class="post <!-- IF posts.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF posts.S_POST_DELETED --> deleted<!-- ENDIF -->">
			<div class="inner">

			<div class="postbody full" id="ppr{posts.POST_ID}"><span class="rightside"><label for="pselect{posts.POST_ID}"><input type="checkbox" name="post_ids[]" value="{posts.POST_ID}" id="pselect{posts.POST_ID}" /> {L_SELECT}</label></span>
				<h3><a href="#ppr{posts.POST_ID}">{posts.POST_SUBJECT}</a>
				<!-- IF posts.S_ACCESS_TEAMS --><img src="{T_TITANIA_THEME_PATH}/{S_USER_LANG}/icon_access_teams.png" alt="{L_ACCESS_LIMIT_TEAMS}" title="{L_ACCESS_LIMIT_TEAMS}" />
				<!-- ELSEIF posts.S_ACCESS_AUTHORS--><img src="{T_TITANIA_THEME_PATH}/{S_USER_LANG}/icon_access_author.png" alt="{L_ACCESS_LIMIT_AUTHORS}" title="{L_ACCESS_LIMIT_AUTHORS}" /><!-- ENDIF --></h3>
				<p class="author"><a href="{posts.U_MINI_POST}">{posts.MINI_POST_IMG}</a> {L_POST_BY_AUTHOR}<strong>  {posts.USER_FULL}</strong> &raquo; {posts.POST_TIME}</p>
			<!-- IF not posts.S_POST_APPROVED or posts.S_POST_REPORTED -->
				<p class="rules">
					<!-- IF not posts.S_POST_APPROVED -->{UNAPPROVED_IMG} <a href="{posts.U_INFO}"><strong>{L_POST_UNAPPROVED}</strong></a><br /><!-- ENDIF -->
					<!-- IF posts.S_POST_REPORTED -->{REPORTED_IMG} <a href="{posts.U_INFO}"><strong>{L_POST_REPORTED}</strong></a><!-- ENDIF -->
				</p>
			<!-- ENDIF -->
				<div class="content">{posts.POST_TEXT}</div>

				<!-- IF posts.S_HAS_ATTACHMENTS -->
					<dl class="attachbox">
						<dt>{L_ATTACHMENTS}</dt>
						<!-- BEGIN attachment -->
							<dd>{post_review_row.attachment.DISPLAY_ATTACHMENT}</dd>
						<!-- END attachment -->
					</dl>
				<!-- ENDIF -->
			</div>

			</div>
		</div>
	<!-- END posts -->

	<!-- IF PAGINATION or TOTAL_RESULTS -->
		<div class="action-bar">
			<!-- INCLUDE common/pagination.html -->
		</div>
		<div class="clear"></div>
	<!-- ENDIF -->
	<span class="corners-bottom main-corners"><span></span></span></div>
</div>
{S_FORM_TOKEN}
</form>

<!-- INCLUDE contributions/contribution_footer.html -->
