/**
 * @version $Id$
 * common.css
 */

.successbox, .errorbox {
	padding: 0 10px;
	margin: 10px 0;
	color: #FFFFFF;
	text-align: center;
}

.errorbox span.corners-top , .successbox span.corners-top {
	margin: 0 -10px 5px -10px;
}

.errorbox span.corners-bottom , .successbox span.corners-bottom {
	margin: 5px -10px 0 -10px;
}

.success {
	color: #228822;
}

.error {
	color: #BC2A4D;
}

.successbox {
	background-color: #228822;
}

.errorbox {
	background-color: #BC2A4D;
}

* html .errorbox, * html .successbox { height: 1%; } /* Pixel shift fix for IE */

.successbox h3, .errorbox h3 {
	color: #FFFFFF;
	margin: 0 0 0.5em;
	font-size: 1.5em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
	border: none;
}

.successbox p, .errorbox p {
	color: #FFFFFF;
	font-size: 1em;
	margin-bottom: 0;
}

.errorbox a:link, .errorbox a:active, .errorbox a:visited,
.successbox a:link, .successbox a:active, .successbox a:visited {
	color: #DBD7D1;
	text-decoration: underline;
	font-weight: bold;
}

.errorbox a:hover, .successbox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

h4.details {
    color: #000000;
	padding-bottom: 2px;
}

#modlisting  strong {
    font-weight: normal;
	color: #000000;
}

/* move this to a other file later ;) */
#list-db ul.topiclist dt {
   font-weight: normal;
   width: 26%;
}

#list-db li.row dt , #list-db li.row dd.rating, #list-db li.row dd.download-count, #list-db li.row dd.added , #list-db li.row dd.last-update  {
   margin-top: 20px;
}

#list-db dd.rating {
   width: 3%;
   text-align: center;
}

#list-db dd.download-count {
   width: 10%;
   text-align: center;
}

#list-db dd.description {
   width: 29%;
   padding-left: 5px;
}

#list-db li.row dd {
   font-size: 1.1em;
}

#list-db dd.added {
   width: 14%;
   padding-left: 5px;
}

#list-db dd.added {
   width: 15%;
   padding-left: 5px;
}

#list-db dd.last-update {
   padding-left: 5px;
}