* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	height: 100%;
	margin-bottom: 1px;
	background-color: #ACA8A1;
}

body {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #536482;
	background: #ACA8A1;
	font-size: 62.5%;
	margin: 0;
}

a:link, a:active, a:visited {
	color: #006699;
	text-decoration: none;
}

a:hover {
	color: #DD6900;
	text-decoration: underline;
}

#wrap {
	padding: 0 20px 15px 20px;
	min-width: 615px;
}

#page-header {
	text-align: right;
	height: 40px;
}

#page-footer {
	color: #5D555C;
	clear: both;
	font-size: 1em;
	text-align: center;
}

.panel {
	margin: 4px 0;
	background-color: #EEEEEE;
	border: solid 2px #FFF;
}

#errorpage #page-header a {
	font-weight: bold;
	line-height: 6em;
}

#errorpage #content {
	padding: 10px;
}

#errorpage #content h1 {
	line-height: 1.2em;
	margin-bottom: 0;
	color: #4F84AD;
}

#errorpage #content div {
	margin-top: 20px;
	margin-bottom: 5px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 5px;
	color: #333333;
	font: bold 1.2em "Lucida Grande", Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 120%;
	text-align: left;
}

input.button1 {
	width: auto !important;
	padding: 1px 3px 0 3px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 0.85em;
	background: #EFEFEF url("./images/bg_button.gif") repeat-x top;
	cursor: pointer;
}

input.button1 {
	font-weight: bold;
	border: 1px solid #666666;
}

/* Hover states */
input.button1:hover {
	border: 1px solid #BC2A4D;
	background: #EFEFEF url("./images/bg_button.gif") repeat bottom;
	color: #BC2A4D;
}

label {
	cursor: pointer;
	font-size: 0.85em;
	padding: 0 5px 0 0;
}
dl {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.00em;
}

dt {
	float: left;
	width: auto;
}

dd {
	color: #666666;
}

dd + dd {
	padding-top: 5px;
}

dt span {
	padding: 0 5px 0 0;
}

dt .explain {
	font-style: italic;
}

dt label {
	font-size: 1.10em;
	text-align: left;
	font-weight: bold;
	color: #4A5A73;
}

fieldset {
	border: 2px solid #CCCCCC;	padding: 5px;
}

legend {
	padding: 1px 5px;
	font-family: Tahoma,arial,Verdana,Sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #115098;
	margin-top: -.4em;
	position: elative;
	text-transform: none;
	line-height: 1.2em;
	top: 0;
	vertical-align: middle;
}

fieldset dl {
	margin-bottom: 10px;
	font-size: 1em;
}

fieldset dt {
	width: 45%;
	text-align: left;
	border: none;
	border-right: 1px solid #CCCCCC;
	padding-top: 3px;
}

fieldset dd {
	margin: 0 0 0 45%;
	padding: 0 0 0 5px;
	border: none;
	border-left: 1px solid #CCCCCC;
	vertical-align: top;
	font-size: 1.00em;
} 

fieldset.submit-buttons {
	text-align: center;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 4px;
	margin-top: -1px;
}

p.submit-buttons {
	text-align: center;
	margin: 0;
	padding: 4px;
	margin-top: 10px;
}

fieldset.submit-buttons input, p.submit-buttons input {
	padding: 3px 2px;
}

fieldset.submit-buttons legend {
	display: none;
}

input, textarea {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 110%;
	font-weight: normal;
	cursor: text;
	vertical-align: middle;
	padding: 2px;
	color: #111111;
	border-left: 1px solid #AFAEAA;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #D5D5C8;
	border-bottom: 1px solid #D5D5C8;
	background-color: #E3DFD8;
}

input:focus, textarea:focus {
	border: 1px solid #BC2A4D;
	background-color: #E9E9E2;
	color: #BC2A4D;
}

input:hover, textarea:hover {
	border-left: 1px solid #AFAEAA;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #AFAEAA;
	border-bottom: 1px solid #AFAEAA;
	background-color: #E9E9E2;
}

input.disabled {
	font-weight: normal;
	color: #666666;
}

.successbox, .errorbox {
	padding: 8px;
	margin: 10px 0;
	color: #FFFFFF;
	text-align: center;
}

.success {
	color: #228822;
}

.error {
	color: #BC2A4D;
}

.successbox {
	background-color: #228822;
}

.errorbox {
	background-color: #BC2A4D;
}

* html .errorbox, * html .successbox { height: 1%; } /* Pixel shift fix for IE */

.successbox h3, .errorbox h3 {
	color: #FFFFFF;
	margin: 0 0 0.5em;
	font-size: 1.10em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
}

.successbox p, .errorbox p {
	color: #FFFFFF;
	font-size: 0.85em;
	margin-bottom: 0;
}

.errorbox a:link, .errorbox a:active, .errorbox a:visited,
.successbox a:link, .successbox a:active, .successbox a:visited {
	color: #DBD7D1;
	text-decoration: underline;
	font-weight: bold;
}

.errorbox a:hover, .successbox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}