<!-- INCLUDE overall_header.html -->

<a href="{U_FAQ_LIST}">{L_BACK_TO_FAQ_LIST}</a>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{FAQ_SUBJECT}<!-- IF U_EDIT_FAQ --> :: <a href="{U_EDIT_FAQ}">{L_EDIT_FAQ}</a><!-- ENDIF --></h3>
		<div style="margin-bottom: 10px">
			<strong>{L_REVISION}:</strong> {REVISION_NAME}
		</div>
		<div id="faq-text">{FAQ_TEXT}</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<a href="{U_FAQ_LIST}">{L_BACK_TO_FAQ_LIST}</a>

<!-- INCLUDE overall_footer.html -->