[size=160][color=#115098]{{ PHPBB_VERSION }}[/color][/size]
{% if S_AUTOMOD_SUCCESS %}
	[size=150][color=#00BF40]{{ lang('SUCCESS') }}[/color][/size]
{% else %}
	{% if S_DISPLAY_FILE_EDITS %}
		[size=150][color=#115098]{{ lang('FILE_EDITS') }}[/color][/size]
	    {% for edit_files in loops.edit_files %}
		    {% if not edit_files.S_SUCCESS %}
		        {{ edit_files.FILENAME }}
			    {% if edit_files.S_MISSING_FILE %}
				    [color=#115098][b]{{ lang('FILE_MISSING') }}[/b][/color]
			    {% elseif edit_files.INHERIT_MSG %}
				    [b]{{ edit_files.INHERIT_MSG }}[/b]
			    {% endif %}
			    {% for finds in edit_files.finds %}
				    {% if not finds.S_SUCCESS %}
					    [size=160]{{ lang('FIND') }}[/size]
					    [code]{{ finds.FIND_STRING }}[/code]
					    {% if finds.S_MISSING_FIND %}
						    [color=#115098]{{ lang('FIND_MISSING') }}[/color]
					    {% endif %}
						{% for actions in finds.actions %}
							[size=160]{{ actions.NAME }}[/size]
							[code]{{ actions.COMMAND }}[/code]
							{% for inline in actions.inline %}
								[size=160]{{ inline.NAME }}[/size]
								[code]{{ inline.COMMAND }}[/code]
							{% if not inline.S_SUCCESS %}[color=#115098]{{ lang('INLINE_FIND_MISSING') }}[/color]{% endif %}
							{% endfor %}
							{% if actions.S_SUCCESS %}[color=#00BF40]{{ lang('SUCCESS') }}[/color]{% else %}[color=#115098]{{ lang('FIND_MISSING') }}[/color]{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
		    {% endif %}
	    {% endfor %}
	{% endif %}
	{% if S_DISPLAY_NEW_FILES %}
		[size=150][color=#115098]{{ lang('NEW_FILES') }}[/color][/size]
			{% for new_files in loops.new_files %}
				{% if not (new_files.S_SUCCESS or new_files.S_NO_COPY_ATTEMPT) %}
				{{ new_files.SOURCE }}
					[color=#115098][b]{{ lang('FILE_MISSING') }}[/b][/color]
				{% endif %}
			{% endfor %}
	{% endif %}
{% endif %}
