<h3>{{ PHPBB_VERSION }}</h3>

{% if S_AUTOMOD_SUCCESS %}
	{{ lang('SUCCESS') }}
{% else %}

<div id="automod_{{ TEST_ID }}">
{% if S_DISPLAY_FILE_EDITS %}

<h2>{{ lang('FILE_EDITS') }}</h2>
{% for edit_files in loops.edit_files %}
	{% if not edit_files.S_SUCCESS %}
		<fieldset>
			<legend>{{ edit_files.FILENAME }}</legend>

			{% if edit_files.S_MISSING_FILE %}
			<strong style="color: red;">{{ lang('FILE_MISSING') }}</strong>
			{% elseif edit_files.INHERIT_MSG %}
			<strong>{{ edit_files.INHERIT_MSG }}</strong>
			{% endif %}

			{% for finds in edit_files.finds %}
				{% if not finds.S_SUCCESS %}
					<fieldset>
						<h4 style="margin: 0; padding:0;">{{ lang('FIND') }}</h4>
						<pre style="overflow-x: scroll;">{{ finds.FIND_STRING }}</pre>
						{% if finds.S_MISSING_FIND %}
						<strong style="color: red;">{{ lang('FIND_MISSING') }}</strong>
						{% endif %}
						{% for actions in finds.actions %}
							<div>
								<hr style="padding-top: 10px; margin-top: 10px;" />
								<h4 style="margin: 0; padding:0;">{{ actions.NAME }}</h4>
								<pre style="overflow-x: scroll;">{{ actions.COMMAND }}</pre>
								{% for inline in actions.inline %}
									<hr style="padding-top: 10px; margin-top: 10px;" />
									<h4 style="margin: 0; padding:0;">{{ inline.NAME }}</h4>
									<pre style="overflow-x: scroll;">{{ inline.COMMAND }}</pre>
									{% if not inline.S_SUCCESS %}<span style="color: red;">{{ lang('INLINE_FIND_MISSING') }}</span>{% endif %}
								{% endfor %}
								{% if actions.S_SUCCESS %}<span style="color: green;">{{ lang('SUCCESS') }}</span>{% else %}<span style="color: red;">{{ lang('FIND_MISSING') }}</span>{% endif %}
							</div>
						{% endfor %}
					</fieldset>
				{% endif %}
			{% endfor %}
		</fieldset>
	{% endif %}
{% endfor %}

{% endif %}
{% if S_DISPLAY_NEW_FILES %}
<h2>{{ lang('NEW_FILES') }}</h2>
<ul style="margin-left: 2.5em;">
{% for new_files in loops.new_files %}
	{% if not (new_files.S_SUCCESS or new_files.S_NO_COPY_ATTEMPT) %}<li>{{ new_files.SOURCE }} <br /><strong style="color: red;">{{ lang('FILE_MISSING') }}</strong></li>{% endif %}
{% endfor %}
</ul>
{% endif %}
</div>

{% endif %}
