{% INCLUDE 'overall_header.html' %}

{% if CONTRIB_LIMITED_SUPPORT %}
<div class="rules">
	<div class="inner">
		{{ lang('LIMITED_SUPPORT_WARN') }}
	</div>
</div>
{% endif %}

{% if CONTRIB_NAME %}<h2 class="panel-name">{{ CONTRIB_NAME }}{% if CONTRIB_LOCAL_NAME %} / {{ CONTRIB_LOCAL_NAME }}{% endif %}{% if S_CONTRIB_CLEANED %} <img src="{{ T_TITANIA_THEME_PATH }}/images/icon_cleaned_contrib.gif" title="{{ lang('CLEANED_CONTRIB') }}" alt="{{ lang('CLEANED_CONTRIB') }}" />{% endif %}</h2>{% endif %}
<div id="tabs" class="tabs">
	<ul>
	{% for nav_menu in loops.nav_menu %}
		<li class="tab dropdown-container{% if nav_menu.S_SELECTED %} activetab{% endif %}{% if nav_menu.sub_menu %} has-submenu{% endif %}">
			<a{% if nav_menu.U_TITLE %} href="{{ nav_menu.U_TITLE }}"{% endif %}{% if nav_menu.S_EXTERNAL %} target="demo"{% endif %}>
				{{ nav_menu.L_TITLE }}
			</a>
			{% if nav_menu.sub_menu %}
				<div class="dropdown hidden">
					<div class="pointer"><div class="pointer-inner"></div></div>
					<ul class="dropdown-contents">
						{% for sub_menu in nav_menu.sub_menu %}
							<li>
								<a href="{{ sub_menu.U_TITLE }}"{% if nav_menu.S_EXTERNAL %} target="demo"{% endif %}>
									{{ sub_menu.L_TITLE }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>

<div class="main-panel">
	<div class="inner">
