<!DOCTYPE html>
<html dir="{{ S_CONTENT_DIRECTION }}" lang="{{ S_USER_LANG }}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}
<title>{{ SITENAME }} &bull; {{ PAGE_TITLE }}</title>

<link href="{{ T_TITANIA_THEME_PATH }}/demo.css" rel="stylesheet" type="text/css" media="screen, projection" />
</head>
<body id="demo">
	<div class="demo-header">
		<a href="{% if U_SITE_HOME %}{{ U_SITE_HOME }}{% else %}{{ U_INDEX }}{% endif %}" id="logo">
			<img src="{{ T_TITANIA_THEME_PATH }}/images/phpbb_logo.png" alt="" />
		</a>

		<div class="demo-selection">
			<div>
				<a href="#" id="select-style" class="button"><span></span>{{ lang('SELECT_STYLE') }}</a>
				<div class="style-select simple">
					<div class="viewport">
						<div>
							{% if PREVIEW %}<img src="{{ PREVIEW }}" alt="{{ NAME }}" />{% endif %}
							<ul class="style-details">
								<li>{{ lang('BY') }} {{ AUTHORS }}</li>
								<li>{{ lang('PHPBB_VERSION') ~ lang('COLON') }} {{ PHPBB_VERSION }}</li>
								<li>{{ lang('LICENSE') ~ lang('COLON') }} {{ LICENSE }}</li>
							</ul>						
						</div>
					</div>
					<div class="demo-list">
						<form action="" method="post" autocomplete="off">
							<fieldset>
								<input type="text" name="q" id="q" value="{{ lang('SEARCH') }}..." />
							</fieldset>
						</form>
						<ul>
						{% for stylerow in loops.stylerow %}
							{% if stylerow.CATEGORY %}<li class="category">{{ stylerow.CATEGORY }}</li>{% endif %}
							<li class="style{{ stylerow.ID }}"><a href="{{ stylerow.U_DEMO }}"{% if stylerow.NAME eq NAME %} class="active"{% endif %}><span></span>{{ stylerow.NAME }}</a></li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="button" id="sibling-select"> 
				{% if U_PREV %}<a href="{{ U_PREV }}" id="prev" title="{{ lang('PREVIOUS') }}"><span></span></a>{% else %}<span id="prev"><span></span></span>{% endif %}
				{% if U_NEXT %}<a href="{{ U_NEXT }}" id="next" title="{{ lang('NEXT') }}"><span></span></a>{% else %}<span id="next"><span></span></span>{% endif %}
			</div>
		</div>
			
		<div class="style-info">
			<p class="style-name">{{ NAME }}</p>
			<p class="demo-buttons"><a href="{{ U_VIEW }}" class="button details"><span></span>{{ lang('DETAILS') }}</a><a href="{{ U_DOWNLOAD }}" class="button download"><span></span>{{ lang('DOWNLOAD') }}</a></p> 
			<ul class="style-details">
				<li>{{ lang('BY') }} {{ AUTHORS }}</li>
				<li>{{ lang('PHPBB_VERSION') ~ lang('COLON') }} {{ PHPBB_VERSION }}</li>
				<li>{{ lang('LICENSE') ~ lang('COLON') }} {{ LICENSE }}</li>
			</ul>
		</div>

		<ul class="linklist">
			<li>
				<a href="{% if U_SITE_HOME %}{{ U_SITE_HOME }}{% else %}{{ U_INDEX }}{% endif %}" accesskey="h">{{ lang('HOME') }}</a>
				{% for navlinks in loops.navlinks %} <strong>&#8249;</strong> <a href="{{ navlinks.U_VIEW_FORUM }}">{{ navlinks.FORUM_NAME }}</a>{% endfor %}
			</li>
		</ul>
	</div>

	<iframe src="{{ IFRAME }}"></iframe>
	<ul id="demo-data">
{% for stylerow in loops.stylerow %}
		<li class="style{{ stylerow.ID }}">
			<div class="preview">{% if stylerow.PREVIEW %}<img src="" alt="{{ stylerow.NAME }}" data-source="{{ stylerow.PREVIEW }}" />{% endif %}
				<ul class="style-details">
					<li>{{ lang('BY') }} {{ stylerow.AUTHORS }}</li>
					<li>{{ lang('PHPBB_VERSION') ~ lang('COLON') }} {{ stylerow.PHPBB_VERSION }}</li>
					<li>{{ lang('LICENSE') ~ lang('COLON') }} {{ stylerow.LICENSE }}</li>
				</ul>
			</div>
		</li>
{% endfor %}
	</ul>
	<script type="text/javascript" src="{{ T_JQUERY_LINK }}"></script>
	{% if S_ALLOW_CDN %}<script type="text/javascript">window.jQuery || document.write(unescape('%3Cscript src="{{ T_ASSETS_PATH }}/javascript/jquery.min.js?assets_version={{ T_ASSETS_VERSION }}" type="text/javascript"%3E%3C/script%3E'));</script>{% endif %}
	<script type="text/javascript" src="{{ T_TITANIA_ASSETS_PATH }}/javascript/jquery.livesearch.min.js"></script>
	<script type="text/javascript" src="{{ T_TITANIA_ASSETS_PATH }}/javascript/demo.js"></script>
</body>
</html>
