	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
		<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
		<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
			<fieldset class="quick-login">
				<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />
				<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
				<!-- IF S_AUTOLOGIN_ENABLED -->
					| <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
				<!-- ENDIF -->
				<input type="hidden" name="redirect" value="{LOGIN_REDIRECT}" />
				<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
			</fieldset>
		</form>
	<!-- ENDIF -->
	</div>

	<div id="page-footer">

		<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>

			<ul class="linklist">
				<li class="icon-home"><a href="{U_SITE_ROOT}" accesskey="h">{L_SITE_INDEX}</a></li>
				<!-- IF U_SUBSCRIBE --><li <!-- IF IS_SUBSCRIBED -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_SUBSCRIBE}" title="{L_SUBSCRIBE}"><!-- IF IS_SUBSCRIBED -->{L_UNSUBSCRIBE}<!-- ELSE -->{L_SUBSCRIBE}<!-- ENDIF --></a></li><!-- ENDIF -->
				<li class="rightside"><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a><!-- ENDIF --></li>
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>

		<div class="copyright">Powered by Titania &copy; 2010 phpBB Customisation Database Team<br />
		Powered by <a href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
			<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
			<!-- IF U_ACP --><br /><strong>[ <a href="{U_ACP}">{L_ACP}</a>
			<!-- IF U_PURGE_CACHE --> | <a href="{U_PURGE_CACHE}" id="purge-cache">{L_PURGE_CACHE}</a><!-- ENDIF --> ]</strong><!-- ENDIF -->
		</div>
	</div>

</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

</body>
</html>