services:
    phpbb.titania.console.command.composer.rebuild_repo:
        class: phpbb\titania\console\command\composer\rebuild_repo
        arguments:
            - '@user'
            - '@phpbb.titania.manage.tool.composer.rebuild_repo'
        tags:
            - { name: console.command }

    phpbb.titania.console.command.extension.repack:
        class: phpbb\titania\console\command\extension\repack
        arguments:
            - '@user'
            - '@language'
            - '@config'
            - '@template'
            - '@dbal.conn'
            - '%core.root_path%'
            - '%core.php_ext%'
        calls:
            - [set_titania_dependencies, ['@phpbb.titania.config', '@phpbb.titania.extension.type', '@phpbb.titania.attachment.operator']]
        tags:
            - { name: console.command }
