<!-- INCLUDE manage/manage_header.html -->

<!-- IF S_ADD_CATEGORY or S_EDIT_CATEGORY -->
	<h3 class="section-name">{SECTION_NAME}</h3>
	Add or Edit
<!-- ELSEIF S_DELETE_CATEGORY -->
	<h3 class="section-name">{SECTION_NAME}</h3>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<!-- IF S_ERROR -->
		<div class="errorbox">
			<h3>{L_WARNING}</h3>
			<p>{ERROR_MSG}</p>
		</div>
	<!-- ENDIF -->

	<form method="post" action="{U_ACTION}">

	<fieldset>
	<dl>
		<dt><label>{L_CATEGORY_NAME}:</label></dt>
		<dd><strong>{CATEGORY_NAME}</strong></dd>
	</dl>
	<dl>
		<dt><label for="delete_action">{L_ACTION}:</label></dt>
		<dd><label><input type="radio" class="radio" id="delete_action" name="action_contribs" value="delete" checked="checked" /> {L_DELETE_ALL_CONTRIBS}</label></dd>
		<!-- IF S_MOVE_CATEGORY_OPTIONS -->
			<dd><label><input type="radio" class="radio" name="action_contribs" value="move" /> {L_MOVE_CONTRIBS_TO}</label> <select name="contribs_to_id">{S_MOVE_CATEGORY_OPTIONS}</select></dd>
		<!-- ENDIF -->
	</dl>
	<!-- IF S_HAS_SUBCATS -->
		<dl>
			<dt><label for="sub_delete_action">{L_ACTION}:</label></dt>
			<dd><label><input type="radio" class="radio" id="sub_delete_action" name="action_subcats" value="delete" checked="checked" /> {L_DELETE_SUBCATS}</label></dd>
			<!-- IF S_CATEGORIES_LIST -->
				<dd><label><input type="radio" class="radio" name="action_subcats" value="move" /> {L_MOVE_SUBCATS_TO}</label> <select name="subcats_to_id">{S_CATEGORIES_LIST}</select></dd>
			<!-- ENDIF -->
		</dl>
	<!-- ENDIF -->

	<p class="quick">
		<input class="button1" type="submit" name="submit" value="{L_SUBMIT}" />
	</p>
	{S_FORM_TOKEN}
	</fieldset>
	</form>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ELSE -->
	<!-- INCLUDE common/category_list.html -->
<!-- ENDIF -->

<!-- INCLUDE manage/manage_footer.html -->