<!-- INCLUDE common/overall_header.html -->

<h2 class="panel-name">{L_MANAGE}</h2>
<div class="tabs">
	<ul>
	<!-- BEGIN nav_menu -->
		<li<!-- IF nav_menu.S_SELECTED --> id="activetab"<!-- ENDIF -->><a href="{nav_menu.U_TITLE}"><span>{nav_menu.L_TITLE}</span></a></li>
	<!-- END nav_menu -->
	</ul>
</div>

<div class="main-panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- IF PAGE_TITLE --><h3 class="section-name">{SECTION_NAME}</h3><!-- ENDIF -->
		<!-- IF S_DISPLAY_CONTRIBUTION -->
			<!-- INCLUDE common/contribution_details.html -->
			<br />
			<br />	
		<!-- ENDIF -->

		<div class="container">
			<div class="inner"><span class="corners-top main-corners"><span></span></span>