<!-- IF S_IN_TITANIA and U_SUBSCRIBE -->
	<li data-last-responsive="true">
		<a href="{U_SUBSCRIBE}" title="{L_SUBSCRIBE_TYPE}" data-ajax="toggle_link" data-toggle-class="icon <!-- IF IS_SUBSCRIBED -->fa-check-square-o<!-- ELSE -->fa-square-o<!-- ENDIF --> fa-fw" data-toggle-text="{L_SUBSCRIBE_TOGGLE}" data-toggle-url="{U_SUBSCRIBE_TOGGLE}">
			<i class="icon <!-- IF IS_SUBSCRIBED -->fa-square-o<!-- ELSE -->fa-check-square-o<!-- ENDIF --> fa-fw" aria-hidden="true"></i><span>{L_SUBSCRIBE_TYPE}</span>
		</a>
	</li>
<!-- ENDIF -->
