<!-- IF S_IN_TITANIA -->
	<!-- INCLUDEJS {T_TITANIA_ASSETS_PATH}/javascript/jquery-ui-1.10.4.custom.min.js?assets_version={T_ASSETS_VERSION} -->
	<!-- INCLUDEJS {T_TITANIA_ASSETS_PATH}/javascript/common.js?assets_version={T_ASSETS_VERSION} -->
	<!-- IF .screenshots or U_DOWNLOAD -->
		<!-- INCLUDEJS {T_TITANIA_ASSETS_PATH}/javascript/jquery.colorbox-min.js?assets_version={T_ASSETS_VERSION} -->
	<!-- ENDIF -->
	<!-- INCLUDEJS {T_TITANIA_ASSETS_PATH}/javascript/ajax.js?assets_version={T_ASSETS_VERSION} -->
<!-- ENDIF -->
