<!-- IF .categories -->
<div class="forumbg forumbg-table">
	<div class="inner"><span class="corners-top"><span></span></span>

		<table class="table1" cellspacing="1" id="modlist">
		<thead>
		<tr>
			<th>{L_CATEGORY}</th>
			<th>{L_CONTRIBUTIONS}</th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN categories -->
			<tr class="<!-- IF categories.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
				<td><a href="{categories.U_VIEW_CATEGORY}">{categories.CATEGORY_NAME}</a></td>
				<td>{categories.CATEGORY_CONTRIBS}</td>
			</tr>
		<!-- END categories -->
	</tbody>
	</table>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->