<!-- INCLUDE overall_header.html -->

<h2 class="solo">{L_CUSTOMISATION_DATABASE}</h2>

<!-- IF U_CREATE_CONTRIBUTION --><p class="ui-button"><a href="{U_CREATE_CONTRIBUTION}" id="create-contrib" class="ui-button ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plus"></span>{L_CREATE_CONTRIBUTION}</a></p><!-- ENDIF -->

<!-- INCLUDE category_list.html -->

<!-- INCLUDE contrib_list.html -->

<!-- IF U_CREATE_CONTRIBUTION --><p class="ui-button"><a href="{U_CREATE_CONTRIBUTION}" id="create-contrib" class="ui-button ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plus"></span>{L_CREATE_CONTRIBUTION}</a></p><!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->