<!-- BEGIN file -->
	<div class="upload_item" id="upload_{file.FILE_ID}">
		<div class="file_info_small" id="file_info_small_1">
			<ul>
				<li class="file_name">{file.FILE_NAME}</li>
				<li class="hide float_right" id="{file.FILE_ID}"><a id="show_hide_{file.FILE_ID}" href="javascript:void;">{L_HIDE}</a></li>
				
			</ul>
		</div>
		<div id="file_info_main_{file.FILE_ID}" style="display: none;">
			<div class="file_info">
				<img src="{T_TITANIA_THEME_PATH}/images/zip.png" width="64px" height="64px" />
				<ul>
					<li>{file.REAL_FILE_NAME}</li>
					<li>{file.FILE_MIMETYPE}</li>
					<li>{file.FILE_DATE}</li>
				</ul>
			</div>
			<fieldset style="clear: both;">
				<dl style="clear: left;">
					<dt><label for="title">{L_FILE_TITLE}:</label></dt>
					<dd><input type="text" name="title[{file.FILE_ID}]" id="name" size="45" maxlength="60" tabindex="1" value="{file.FILE_NAME}" class="inputbox autowidth" /></dd>
				</dl>
				<dl style="clear: left;">
					<dt><label for="file_description">{L_FILE_DESCRIPTION}:</label></dt>
					<dd><textarea name="file_description[{file.FILE_ID}]" id="file_description" class="inputbox" cols="40" rows="5">{file.FILE_DESC}</textarea></dd>
				</dl>
			</fieldset>
		</div>
	</div>
	<hr />
<!-- END file -->