<!-- BEGIN attachment -->
	<div class="upload_item" id="upload_{attachment.ID}">
		<div class="file_info_small" id="file_info_small_1">
			<ul>
				<li class="file_name">{attachment.NAME}</li>
				<li class="hide float_right" id="{attachment.ID}"><a id="show_hide_{attachment.ID}" href="javascript:void;"><!-- IF S_HIDE_ATTACHMENT -->{L_SHOW}<!-- ELSE -->{L_HIDE}<!-- ENDIF --></a></li>
				
			</ul>
		</div>
		<div id="file_info_main_{attachment.ID}" <!-- IF S_HIDE_ATTACHMENT -->style="display: none;"<!-- ENDIF -->>
			<div class="file_info">
				<img src="{T_TITANIA_THEME_PATH}/images/zip.png" width="64px" height="64px" />
				<ul>
					<li>{attachment.REAL_NAME}</li>
					<li>{attachment.MIMETYPE}</li>
					<li>{attachment.DATE}</li>
				</ul>
			</div>
			<fieldset style="clear: both;">
				<dl style="clear: left;">
					<dt><label for="title">{L_FILE_TITLE}:</label></dt>
					<dd><input type="text" name="title[{file.ATTACHMENT_ID}]" id="name" size="45" maxlength="60" tabindex="1" value="{attachment.NAME}" class="inputbox autowidth" /></dd>
				</dl>
			</fieldset>
		</div>
	</div>
	{attachment.S_HIDDEN_FIELDS}
	<hr />
<!-- END attachment -->