<script type="text/javascript">
//<![CDATA[
	$(document).ready(function() {

	});
// ]]
</script>


<div id="upload_container">
	<!-- IF ATTACHMENT_EXPLAIN -->
	<div class="pannel">
		<div class="inner"><span class="corners-top"><span></span></span>
			<p>{ATTACHMENT_EXPLAIN}</p>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
	
	<div id="errorbox" class="errorbox" style="display: none;">
		<div class="inner"><span class="corners-top"><span></span></span>
		<h3 id="errorbox_title">Error</h3>
			<p id="errorbox_msg"></p>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<input type="file" name="file" id="upload-field"/>
	
	<hr />
</div>

<!-- IF .file --><hr /><br /><!-- ENDIF -->