<!-- INCLUDE overall_header.html -->
<h2 class="solo">{L_MOD_FAQ}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN faq -->
			<h4>{faq.SUBJECT}<!-- IF faq.VERSION -->&nbsp;({L_VERSION}: {faq.VERSION})<!-- ENDIF --></h4>
			<p>{faq.TEXT}</p>
		<!-- BEGINELSE -->
			<div style="text-align: center;"><strong>{L_NO_FAQ_FOR_THIS_MOD}</strong></div>
		<!-- END faq -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE overall_footer.html -->