<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_MODE_ACTION}">
	<h2>{MOD_TITLE}</h2>

	<div class="panel bg3" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dt><strong>{L_MOD_GENERAL}</strong></dt>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg2" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dl class="faq">
					<dt><strong>{L_DETAILS_TITLE}</strong></dt>
					<dd>{L_DETAILS_MOD_TITLE}</dd>
					<dd>{L_DETAILS_MOD_CATEGORY}</dd>
					<dd>{L_DETAILS_MOD_AUTHOR}</dd>
					<dd>{L_DETAILS_MOD_VERSION}</dd>
					<dd>{L_DETAILS_MOD_BRANCH}</dd>
					<dd>{L_DETAILS_MOD_TIME}</dd>
				</dl>
			</div>
			<div class="column2">
				<dl class="faq">
					<dt><strong>{L_AUTHOR_TITLE}</strong></dt>
					<dd>{L_AUTHOR_MOD_AUTHOR}</dd>
					<dd>{L_AUTHOR_PROFILE}</dd>
					<dd>{L_AUTHOR_LAST}</dd>
					<dd>{L_AUTHOR_RR}</dd>
				</dl>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg2" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dl class="faq">
					<dt><strong>{L_VALID_TITLE}</strong></dt>
					<dd>{L_VALID_STATUS}</dd>
					<dd>{L_VALID_DATE}</dd>
					<dd>{L_VALID_VERSION}</dd>
					<dd>{L_VALID_QUEUE}</dd>
					<dd>{L_VALID_TESTED}</dd>
					<dd>{L_VALID_DOWNLOAD}</dd>
				</dl>
			</div>
			<div class="column2">
				<dl class="faq">
					<dt><strong>{L_RR_TITLE}</strong></dt>
					<dd>{L_RR_MOD}</dd>
					<dd>{L_RR_TEAM}</dd>
					<dd>{L_RR_RANK}</dd>
					<dd>{L_RR_E_RATING}</dd>
					<dd>{L_RR_E_REVIEW}</dd>
					<dd>{L_RR_LIST}</dd>
				</dl>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg3" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dt><strong>{L_MODO_ADVANCED}</strong></dt>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- BEGIN complexity -->
	<div class="panel bg2" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dl class="faq">
					<dt><strong>{L_COMPLEX_TITLE}</strong></dt>
					<dd>{L_COMPLEX_SCHEMA}</dd>
					<dd>{L_COMPLEX_DATA}</dd>
					<dd>{L_COMPLEX_TEMPLATE}</dd>
					<dd>{L_COMPLEX_LANGUAGE}</dd>
					<dd>{L_COMPLEX_EDIT}</dd>
					<dd>{L_COMPLEX_ADDITIONAL}</dd>
				</dl>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- END complexity -->

	<div class="panel bg3" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dt><strong>{L_MODO_COMPATABILITY}</strong></dt>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg2" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dl class="faq">
					<dt><strong>{L_STYLES_TITLE}</strong></dt>
					<dd>{L_STYLES_PROSILVER}</dd>
					<dd>{L_STYLES_SUBSILVER}</dd>
					<dd>{L_STYLES_OTHER}</dd>
				</dl>
				<dl class="faq">
					<dt><strong>{L_LANGUAGE_TITLE}</strong></dt>
					<dd>{L_LANGUAGE_AVAILABLE}</dd>
				</dl>
			</div>
			<div class="column2">
				<dl class="faq">
					<dt><strong>{L_OTHER_TITLE}</strong></dt>
					<dd>{L_OTHER_MODX}</dd>
					<dd>{L_OTHER_FEATURES}</dd>
					<dd>{L_OTHER_SIMILAR}</dd>
					<dd>{L_OTHER_MODS}</dd>
				</dl>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg3" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dt><strong>{L_MODO_DOWNLOAD}</strong></dt>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg2" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dl class="faq">
					<dt><strong>{L_DOWNLOAD_TITLE}</strong></dt>
					<dd>{L_DOWNLOAD_CHECK}</dd>
					<dd>{L_DOWNLOAD_MOD_TITLE}</dd>
					<dd>{L_DOWNLOAD_FILESIZE}</dd>
					<dd>{L_DOWNLOAD_URL}</dd>
					<dd>{L_DOWNLOAD_COUNT}</dd>
				</dl>
			</div>
		
			<div class="column2">
				<dl class="faq">
					<dt><strong>{L_DEMO_TITLE}</strong></dt>
					<dd>{L_DEMO_URL}</dd>
					<dd>{L_DEMO_SCREEN}</dd>
				</dl>
				<dl class="faq">
					<dt><strong>{L_SUPPORT_TITLE}</strong></dt>
					<dd>{L_SUPPORT_TOPIC}</dd>
					<dd>{L_SUPPORT_AUTHOR_URL}</dd>
				</dl>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg3" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dt><strong>{L_MOD_GENERAL}</strong></dt>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
</form>

<!-- INCLUDE overall_footer.html -->