<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_MODE_ACTION}">
	<h2>{MOD_TITLE}</h2>
    <p>{MOD_DESC}</p>

	<h4 class="details">{L_MODO_GENERAL}</h4>

	<div class="panel bg2" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dl class="faq">
					<dt><h3>{L_DETAILS_TITLE}</h3></dt>
					<dd><strong>{L_DETAILS_MOD_TITLE}</strong>: {MOD_TITLE}</dd>
					<dd><strong>{L_DETAILS_MOD_CATEGORY}</strong></dd>
					<dd><strong>{L_DETAILS_MOD_AUTHOR}</strong></dd>
					<dd><strong>{L_DETAILS_MOD_VERSION}</strong>: {VERSION}</dd>
					<dd><strong>{L_DETAILS_MOD_BRANCH}</strong></dd>
					<dd><strong>{L_DETAILS_MOD_TIME}</strong></dd>
				</dl>
			</div>
			<div class="column2">
				<dl class="faq">
					<dt><h3>{L_AUTHOR_TITLE}</h3></dt>
					<dd><strong>{L_AUTHOR_MOD_AUTHOR}</strong></dd>
					<dd><strong>{L_AUTHOR_PROFILE}</strong>: {AUTHOR_FULL}</dd>
					<dd><strong>{L_AUTHOR_LAST}</strong></dd>
					<dd><strong>{L_AUTHOR_RR}</strong></dd>
				</dl>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg2" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dl class="faq">
					<dt><h3>{L_VALID_TITLE}</h3></dt>
					<dd><strong>{L_VALID_STATUS}</strong></dd>
					<dd><strong>{L_VALID_DATE}</strong></dd>
					<dd><strong>{L_VALID_VERSION}</strong></dd>
					<dd><strong>{L_VALID_QUEUE}</strong></dd>
					<dd><strong>{L_VALID_TESTED}</strong></dd>
					<dd><strong>{L_VALID_DOWNLOAD}</strong></dd>
				</dl>
			</div>
			<div class="column2">
				<dl class="faq">
					<dt><h3>{L_RR_TITLE}</h3></dt>
					<dd><strong>{L_RR_MOD}</strong></dd>
					<dd><strong>{L_RR_TEAM}</strong></dd>
					<dd><strong>{L_RR_RANK}</strong></dd>
					<dd><strong>{L_RR_E_RATING}</strong></dd>
					<dd><strong>{L_RR_E_REVIEW}</strong></dd>
					<dd><strong>{L_RR_LIST}</strong></dd>
				</dl>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<h4 class="details">{L_MODO_ADVANCED}</h4>

	<!-- BEGIN complexity -->
	<div class="panel bg2" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dl class="faq">
					<dt><h3>{L_COMPLEX_TITLE}</h3></dt>
					<dd><strong>{L_COMPLEX_SCHEMA}</strong></dd>
					<dd><strong>{L_COMPLEX_DATA}</strong></dd>
					<dd><strong>{L_COMPLEX_TEMPLATE}</strong></dd>
					<dd><strong>{L_COMPLEX_LANGUAGE}</strong></dd>
					<dd><strong>{L_COMPLEX_EDIT}</strong></dd>
					<dd><strong>{L_COMPLEX_ADDITIONAL}</strong></dd>
				</dl>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- END complexity -->

	<h4 class="details">{L_MODO_COMPATABILITY}</h4>

	<div class="panel bg2" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dl class="faq">
					<dt><h3>{L_STYLES_TITLE}</h3></dt>
					<dd><strong>{L_STYLES_PROSILVER}</strong></dd>
					<dd><strong>{L_STYLES_SUBSILVER}</strong></dd>
					<dd><strong>{L_STYLES_OTHER}</strong></dd>
				</dl>
				<dl class="faq">
					<dt><strong>{L_LANGUAGE_TITLE}</strong></dt>
					<dd><strong>{L_LANGUAGE_AVAILABLE}</strong></dd>
				</dl>
			</div>
			<div class="column2">
				<dl class="faq">
					<dt><h3>{L_OTHER_TITLE}</h3></dt>
					<dd><strong>{L_OTHER_MODX}</strong></dd>
					<dd><strong>{L_OTHER_FEATURES}</strong></dd>
					<dd><strong>{L_OTHER_SIMILAR}</strong></dd>
					<dd><strong>{L_OTHER_MODS}</strong></dd>
				</dl>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<h4 class="details">{L_MODO_DOWNLOAD}</h4>

	<div class="panel bg2" id="modlisting">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="column1">
				<dl class="faq">
					<dt><h3>{L_DOWNLOAD_TITLE}</h3></dt>
					<dd><strong>{L_DOWNLOAD_CHECK}</strong></dd>
					<dd><strong>{L_DOWNLOAD_MOD_TITLE}</strong></dd>
					<dd><strong>{L_DOWNLOAD_FILESIZE}</strong></dd>
					<dd><strong>{L_DOWNLOAD_URL}</strong></dd>
					<dd><strong>{L_DOWNLOAD_COUNT}</strong></dd>
				</dl>
			</div>
		
			<div class="column2">
				<dl class="faq">
					<dt><h3>{L_DEMO_TITLE}</h3></dt>
					<dd><strong>{L_DEMO_URL}</strong></dd>
					<dd><strong>{L_DEMO_SCREEN}</strong></dd>
				</dl>
				<dl class="faq">
					<dt><h3>{L_SUPPORT_TITLE}</h3></dt>
					<dd><strong>{L_SUPPORT_TOPIC}</strong></dd>
					<dd><strong>{L_SUPPORT_AUTHOR_URL}</strong></dd>
				</dl>
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
		<h4 class="details">{L_MODO_GENERAL}</h4>
</form>

<!-- INCLUDE overall_footer.html -->