<!-- INCLUDE contrib/contrib_header.html -->
<h2 class="imgrep modsdb">MODs database</h2>
<p>
	Welcome to the phpBB Modifications Database (MODDB). Here, you may find many MODs (short for "modifications") for both phpBB2 and phpBB3. All MODs in our database have been validated against the applicable <a href="http://area51.phpbb.com/docs/coding-guidelines.html">coding guidelines</a>, as well as for a certain level of security.<br /><br /> 
	As a MOD author, you may also submit your own MODs for acceptance into the MODDB, pending validation, as well as view and manage your own MODs. Guidelines for the submission of MODs into the MODDB may be found <a href="http://www.phpbb.com/mods/documentation/policies/moddb-3.0/index.php ">in the phpBB3 Modifications documentation</a>.
</p>
<p>All information relating to MODs can be found in the <a href="http://www.phpbb.com/mods/">phpBB Modifications Home</a>. Note that the phpBB Modifications Team does not officially support any of the MODs that you find in our MODDB. The MODs located in this MODDB were validated for a minimum level of security; however, any incident arising from a security vulnerability in a MOD obtained from our MODDB is the responsibility of both the MOD author and the one who installs and utilises the MOD. As such, the phpBB Modifications team is not responsible for any problems that may arise from use of any of these MODs.</p>
<h3>Recently validated MODs</h3>
<p>Below are the more recent MODs approved by the Modifications Team.</p>
<!-- INCLUDE contrib/contrib_footer.html -->