Requirements:
	phpBB 3.0.6+
	PHP 5.2+
	Mod Rewrite
	MultiViews must be disabled!
	For the Styles Demo board:
		If not installing on the main board, it must be on the same server, on a different database, and with the same database prefix
			as the main board uses (limitation of current code using table constants).

How to install:
	1. Get and install the latest version of phpBB
	2. Copy the titania directory the location you want on your server (will be refered to as titania/ from now on)
	3. Make the files/ and store/search/ directories writable by the server
	4. Copy titania/config.example.php to config.php; edit settings as required
	5. Visit any page in titania/ in your browser and run the installer script (you will be redirected to it)
	6. Done!