Requirements:
	phpBB 3.0.6+
	PHP 5.2+
	Mod Rewrite
	MultiViews must be disabled!

How to install:
	1. Get and install the latest version of phpBB
	2. Copy the titania directory the location you want on your server (will be refered to as titania/ from now on)
	3. Make the files/ and store/search/ directories writable by the server
	4. Copy titania/config.example.php to config.php; edit settings as required
	5. Visit any page in titania/ in your browser and run the installer script (you will be redirected to it)
	6. Done!