/* IE6 Tweaks
--------------------------------------------- */

* html span.corners-top.main-corners, * html span.corners-bottom.main-corners {
	background-image: url("{T_THEME_PATH}/images/corners_left.gif");
}

* html span.corners-top.main-corners span, * html span.corners-bottom.main-corners span {
	background-image: url("{T_THEME_PATH}/images/corners_right.gif");
}

* html .right-column, * html .left-column, * html .general-info strong {
	position: relative;
}

* html .container {
	height: 1%;
}

* html .contrib-description dd {
	float: left;
}