	<!-- IF U_SUBSCRIBE or IS_SUBSCRIBED -->
	<div class="navbar navigation">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="linklist">
				<!-- IF U_SUBSCRIBE --><li <!-- IF IS_SUBSCRIBED -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_SUBSCRIBE}" title="{L_SUBSCRIBE}"><!-- IF IS_SUBSCRIBED -->{L_UNSUBSCRIBE}<!-- ELSE -->{L_SUBSCRIBE}<!-- ENDIF --></a></li><!-- ENDIF -->
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
{PHPBB_COM_FOOTER}