{PHPBB_COM_HEADER}
		
		<ul class="linklist">
			<li><a href="{U_HOME}" accesskey="h">{L_HOME}</a> <!-- BEGIN nav_header --> <strong>&#8249;</strong> <a href="{nav_header.U_TITLE}">{nav_header.L_TITLE}</a><!-- END nav_header --></li>
		</ul>

		<h2 class="imgrep customisation-database">{L_CUSTOMISATION_DATABASE}</h2>
		
		<!-- IF not S_IS_BOT -->
		<div class="panel navigation bg1">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="linklist">
					<!-- IF U_MY_CONTRIBUTIONS or U_CREATE_CONTRIBUTION or U_MANAGE or S_DISPLAY_SEARCH -->
					<li class="leftside">
						<!-- IF U_MY_CONTRIBUTIONS --><a href="{U_MY_CONTRIBUTIONS}" title="{L_MY_CONTRIBUTIONS}">{L_MY_CONTRIBUTIONS}</a> &bull; <!-- ENDIF --> 
						<!-- IF U_CREATE_CONTRIBUTION --><a href="{U_CREATE_CONTRIBUTION}">{L_CREATE_CONTRIBUTION}</a> &bull; <!-- ENDIF -->
						<!-- IF U_MANAGE --><a href="{U_MANAGE}" title="{L_MANAGE}">{L_MANAGE}</a> &bull; <!-- ENDIF --> 
						<!-- IF S_DISPLAY_SEARCH --><a href="{U_SEARCH}">{L_SEARCH}</a><!-- ENDIF -->
					</li>
					<!-- ENDIF -->
					<li class="rightside">
						<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="l">{L_LOGIN_LOGOUT}</a>
					</li>
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->
		
		<!-- IF .errorbox -->
		<div id="errorbox" class="errorbox">
			<div class="inner"><span class="corners-top"><span></span></span>
			<!-- IF ERRORBOX_TITLE --><h3>{ERRORBOX_TITLE}</h3><!-- ENDIF -->
			<!-- BEGIN errorbox -->
				<p>{errorbox.MESSAGE}</p>
			<!-- END errorbox -->
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->
		<!-- IF .successbox -->
		<div id="successbox" class="successbox">
			<div class="inner"><span class="corners-top"><span></span></span>
			<!-- IF SUCCESSBOX_TITLE --><h3>{SUCCESSBOX_TITLE}</h3><!-- ENDIF -->
			<!-- BEGIN successbox -->
				<p>{successbox.MESSAGE}</p>
			<!-- END successbox -->
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->
