	</div>

<div id="page-footer">

	<p class="lynkoramaz">
		<a href="http://www.webhosting.uk.com/" rel="external sponsor">Web Hosting UK</a> &bull;
		<a href="http://secure.hostican.com/cgi-bin/affiliates/clickthru.cgi?id=phpbbdedhost" rel="external sponsor">Dedicated Hosting</a> &bull;
		<a href="http://www.bluehost.com/track/phpbbadvertising/footer" rel="external affiliate">BlueHost.com</a> &bull;
		<a href="http://icdsoft.com?aff=phpbbadvertising.sitewide" rel="external sponsor">$6/month Webhosting</a> &bull;
		<a href="http://www.heartinternet.co.uk/index.html" rel="external sponsor">Reseller Web Hosting UK</a> &bull;
		<a href="http://www.web-hosting-top.com/" rel="external sponsor">Best Web Hosting</a>
	</p>

    <script type="text/javascript">
	// <![CDATA[
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	// ]]>
    </script>
    <script type="text/javascript">
	// <![CDATA[
        var pageTracker = _gat._getTracker("UA-93879-2");
        pageTracker._trackPageview();
	// ]]>
    </script>

	<span class="fcorners-bottom"><span></span></span>
	</div>
</div>

<div id="copyright">
	&copy; 2000, 2002, 2003, 2007 <a href="{U_ABOUT}">phpBB Group</a>
	&bull; Designed by <a href="{U_HOME}">phpBB</a> &amp; <a href="http://www.subblue.com/">subBlue</a>
	&bull; <a href="{U_ABOUT_CONTACT}">Contact Us</a>
	&bull; <a href="{U_ABOUT_ADVERTISE}">Advertise at phpbb.com</a>
	<br />
	Header illustrations by <a href="http://www.vladstudio.com/">Vlad Gerasimov</a>
	&bull; Hosting donated by <a href="http://www.osuosl.org">OSUOSL</a>
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT} | Valid <a href="http://validator.w3.org/check/referer"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr> 1.0 <strong>Strict</strong></a><!-- ENDIF -->
	<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

</body>
</html>