.buttons div.faq-icon { 
	width: 83px; 
	height: 25px; 
}

div.faq-icon span {
	background-image: url("./button_faq_new.gif");
}

.buttons div.contrib-icon { 
	width: 152px; 
	height: 25px; 
}

div.contrib-icon span {
	background-image: url("./button_contrib_new.gif");
}

.buttons div.category-icon { 
	width: 126px; 
	height: 25px; 
}

div.category-icon span {
	background-image: url("./button_category_new.gif");
}

.download-button {
	background-image: url("./button_download.gif");
	width: 175px;
	height: 57px;
}